<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Cleaning" data-toc-modified-id="Data-Cleaning-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data Cleaning</a></span><ul class="toc-item"><li><span><a href="#Remove-unnecessary-columns-from-datasets-for-easier-manipulation." data-toc-modified-id="Remove-unnecessary-columns-from-datasets-for-easier-manipulation.-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Remove unnecessary columns from datasets for easier manipulation.</a></span></li><li><span><a href="#Clean-movie-data-using-the-clean_movie_data()-function,-which-includes:" data-toc-modified-id="Clean-movie-data-using-the-clean_movie_data()-function,-which-includes:-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Clean movie data using the clean_movie_data() function, which includes:</a></span></li><li><span><a href="#Clean-monetary-columns-using-the-clean_money_columns()-function,-which:" data-toc-modified-id="Clean-monetary-columns-using-the-clean_money_columns()-function,-which:-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Clean monetary columns using the clean_money_columns() function, which:</a></span></li></ul></li><li><span><a href="#Title-Key-Creation-and-Application" data-toc-modified-id="Title-Key-Creation-and-Application-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Title Key Creation and Application</a></span><ul class="toc-item"><li><span><a href="#Create-a-title-key-using-the-create_title_key_file()-function,-which:" data-toc-modified-id="Create-a-title-key-using-the-create_title_key_file()-function,-which:-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Create a title key using the create_title_key_file() function, which:</a></span></li><li><span><a href="#Add-corresponding-title-IDs-to-each-dataset-using-the-add_title_ids()-function,-which:" data-toc-modified-id="Add-corresponding-title-IDs-to-each-dataset-using-the-add_title_ids()-function,-which:-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Add corresponding title IDs to each dataset using the add_title_ids() function, which:</a></span></li></ul></li><li><span><a href="#Dataset-Compare/Update" data-toc-modified-id="Dataset-Compare/Update-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Dataset Compare/Update</a></span><ul class="toc-item"><li><span><a href="#Compare-and-update-datasets-with-corresponding-title-IDs-using-the-add_title_id()-function,-which:" data-toc-modified-id="Compare-and-update-datasets-with-corresponding-title-IDs-using-the-add_title_id()-function,-which:-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Compare and update datasets with corresponding title IDs using the add_title_id() function, which:</a></span></li><li><span><a href="#Delete-files,-drop-columns,-rename-columns" data-toc-modified-id="Delete-files,-drop-columns,-rename-columns-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Delete files, drop columns, rename columns</a></span></li></ul></li><li><span><a href="#Create-reference-files-for-easier-comparison" data-toc-modified-id="Create-reference-files-for-easier-comparison-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Create reference files for easier comparison</a></span><ul class="toc-item"><li><span><a href="#Creating-a-file-for-directors,-actors,-and-genres-will-make-the-analysis-easier" data-toc-modified-id="Creating-a-file-for-directors,-actors,-and-genres-will-make-the-analysis-easier-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Creating a file for directors, actors, and genres will make the analysis easier</a></span></li><li><span><a href="#Removing-rows-where-there-is-only-1-title_id" data-toc-modified-id="Removing-rows-where-there-is-only-1-title_id-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Removing rows where there is only 1 title_id</a></span></li></ul></li><li><span><a href="#Create-an-updated-title_id_key.csv" data-toc-modified-id="Create-an-updated-title_id_key.csv-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Create an updated title_id_key.csv</a></span></li><li><span><a href="#Data-File-Split" data-toc-modified-id="Data-File-Split-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Data File Split</a></span><ul class="toc-item"><li><span><a href="#For-each-dataset-split-the-files-to-prepare-for-completed-datasets:" data-toc-modified-id="For-each-dataset-split-the-files-to-prepare-for-completed-datasets:-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>For each dataset split the files to prepare for completed datasets:</a></span></li></ul></li><li><span><a href="#Cleaning-groups-of-data-from-csv-files-date-columns-and-formats" data-toc-modified-id="Cleaning-groups-of-data-from-csv-files-date-columns-and-formats-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Cleaning groups of data from csv files date columns and formats</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#fixing-dates-and-addressing-money-and-percent-columns-for-the-summary-files." data-toc-modified-id="fixing-dates-and-addressing-money-and-percent-columns-for-the-summary-files.-7.0.1"><span class="toc-item-num">7.0.1&nbsp;&nbsp;</span>fixing dates and addressing money and percent columns for the summary files.</a></span></li></ul></li></ul></li><li><span><a href="#Final-Preprocessing" data-toc-modified-id="Final-Preprocessing-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Final Preprocessing</a></span><ul class="toc-item"><li><span><a href="#1.-Create-Review-Summary-Key-(review_summary_key.csv):" data-toc-modified-id="1.-Create-Review-Summary-Key-(review_summary_key.csv):-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>1. Create Review Summary Key (review_summary_key.csv):</a></span></li><li><span><a href="#2.-Create-Movie-Data-Summary-Key-(movie_data_summary_key.csv):" data-toc-modified-id="2.-Create-Movie-Data-Summary-Key-(movie_data_summary_key.csv):-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>2. Create Movie Data Summary Key (movie_data_summary_key.csv):</a></span></li><li><span><a href="#Filter-directors,-actors,-and-genres-reference-datasets" data-toc-modified-id="Filter-directors,-actors,-and-genres-reference-datasets-8.3"><span class="toc-item-num">8.3&nbsp;&nbsp;</span>Filter directors, actors, and genres reference datasets</a></span></li></ul></li></ul></div>

The Jupyter notebook is aimed at cleaning and merging movie datasets to create a more cohesive dataset. The cleaning process is done using the 'clean_movie_data()' function that applies several cleaning steps to each file, including converting column names to snake_case, updating columns with spaces, and creating release year/month/day columns.

The 'clean_money_columns()' and 'clean_money_string()' functions are helper functions used to clean currency values in the dataset. Once the data is cleaned, the 'add_title_ids()' function is used to merge the datasets using a title ID key to minimize the number of datasets and rows being worked with for better computation.

The notebook also includes a section on creating a title key to ensure consistency across multiple datasets. The 'create_title_key_file()' function creates a DataFrame with the title and the number of files it appears in and filters it to keep only titles that appear in at least two files.

The 'add_title_id()' function merges two datasets with their respective main datasets by adding a 'title_id' column to the extras datasets. The function is called twice, once for 'movies.csv' and 'movies_extras.csv' and the second time for 'movie_data.csv' and 'movie_data_extras.csv'. The output is saved in the 'cl_extras_reviews' folder.

In conclusion, the Jupyter notebook provides an end-to-end solution to cleaning and merging movie datasets to create a cohesive dataset for further analysis.

In [1]:
import import_ipynb
from common_imports import *
from capstone_functions import *

importing Jupyter notebook from common_imports.ipynb
importing Jupyter notebook from capstone_functions.ipynb

## Data Cleaning

### Remove unnecessary columns from datasets for easier manipulation.

### Clean movie data using the clean_movie_data() function, which includes:
- Converting column names to snake_case
- Cleaning 'title' columns to lowercase with no punctuation or special characters
- Creating 'release_year', 'release_month', and 'release_day' columns from 'release_date'
- Removing rows with duplicate titles and years, keeping the row with fewest null values
- Dropping rows where the release date or year is outside the range of 2002-2022

### Clean monetary columns using the clean_money_columns() function, which:
- Cleans values in specified columns to remove non-numeric characters and apply multipliers

Save cleaned data to new CSV files in output folder

In [2]:
# Remove unneeded columns to make for easier processing
folder_path = '/Users/toniwork/Desktop/AUBEC - 3 Projects/to_clean'
output_folder_path = '/Users/toniwork/Desktop/Capstone/step_1'

# Create the output folder if it does not exist
create_folder(output_folder_path)

# Dictionary to map file names to the columns to keep
columns_to_keep = {
    'movies_dataset.csv': ['title', 'Domestic Box Office', 'International Box Office', 'Genre', 'Worldwide Box Office', 'release_year', 'release_month', 'release_day', 'release_date', 'Id', 'Languages'],
    'metacritic-reviews.csv': ['Title', 'Rating', 'User rating', 'Website rating', 'Release Date'],
    'letterboxd-reviews.csv': ['Title', 'Review', 'Review date', 'Comment count', 'Like count', 'Release Year'],
    'rotten_tomatoes_movies.csv': ['title', 'audience_score', 'tomato_meter', 'director', 'id', 'box_office', 'release_date_theaters', 'original_language'],
    'rotten_tomatoes_movie_reviews.csv': ['reviewText', 'scoreSentiment', 'id', 'isTopCritic', 'originalScore', 'creationDate'],
    '25k IMDb movie Dataset.csv': ['movie title', 'Rating', 'User Rating', 'Director', 'Top 5 Casts', 'year'],
    'movies.csv': ['title', 'genres', 'popularity', 'budget', 'revenue', 'vote_average', 'vote_count', 'id', 'release_date', 'original_language'],
    'movies_extras.csv': ['id','credits']
}

# Iterate through the files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        output_file_path = os.path.join(output_folder_path, filename)
        
        # Read the CSV file
        df = pd.read_csv(file_path)
        
        # Print the original columns
        print(f"Original columns for {filename}: {df.columns.tolist()}")
        
        # Get the columns to keep for this file
        keep_columns = columns_to_keep.get(filename, [])
        
        # Print the columns to keep
        print(f"Columns to keep for {filename}: {keep_columns}")
        
        # Drop all other columns
        df = df[keep_columns]
        
        # Print the remaining columns
        print(f"Remaining columns for {filename}: {df.columns.tolist()}")
        
        # Save the cleaned file to the output folder
        df.to_csv(output_file_path, index=False)

print("Dropping columns completed!")

Original columns for movies_dataset.csv: ['Id', 'title', 'Creative Type', 'Domestic Box Office', 'Franchise', 'Genre', 'International Box Office', 'Keywords', 'Languages', 'MPAA Rating', 'MPAA Rating for', 'Opening Weekend', 'Production Budget', 'Production Companies', 'Production Countries', 'Production Method', 'Running Time Min', 'Source', 'Opening Theater Counts', 'Max Theater Counts', 'Avg Weeks Per Theater', 'Worldwide Box Office', 'release_year', 'release_month', 'release_day', 'release_date']
Columns to keep for movies_dataset.csv: ['title', 'Domestic Box Office', 'International Box Office', 'Genre', 'Worldwide Box Office', 'release_year', 'release_month', 'release_day', 'release_date', 'Id', 'Languages']
Remaining columns for movies_dataset.csv: ['title', 'Domestic Box Office', 'International Box Office', 'Genre', 'Worldwide Box Office', 'release_year', 'release_month', 'release_day', 'release_date', 'Id', 'Languages']
Original columns for metacritic-reviews.csv: ['Title', 'Release Date', 'Rating', 'summary', 'User rating', 'Website rating']
Columns to keep for metacritic-reviews.csv: ['Title', 'Rating', 'User rating', 'Website rating', 'Release Date']
Remaining columns for metacritic-reviews.csv: ['Title', 'Rating', 'User rating', 'Website rating', 'Release Date']
Original columns for letterboxd-reviews.csv: ['Title', 'Release Year', 'Reviewer name', 'Review date', 'Review', 'Comment count', 'Like count']
Columns to keep for letterboxd-reviews.csv: ['Title', 'Review', 'Review date', 'Comment count', 'Like count', 'Release Year']
Remaining columns for letterboxd-reviews.csv: ['Title', 'Review', 'Review date', 'Comment count', 'Like count', 'Release Year']
Original columns for rotten_tomatoes_movies.csv: ['id', 'title', 'audience_score', 'tomato_meter', 'rating', 'rating_contents', 'release_date_theaters', 'runtime_minutes', 'genre', 'original_language', 'director', 'writer', 'box_office', 'distributor', 'sound_mix']
Columns to keep for rotten_tomatoes_movies.csv: ['title', 'audience_score', 'tomato_meter', 'director', 'id', 'box_office', 'release_date_theaters', 'original_language']
Remaining columns for rotten_tomatoes_movies.csv: ['title', 'audience_score', 'tomato_meter', 'director', 'id', 'box_office', 'release_date_theaters', 'original_language']
Original columns for movies_extras.csv: ['id', 'tagline', 'credits', 'keywords', 'poster_path', 'backdrop_path']
Columns to keep for movies_extras.csv: ['id', 'credits']
Remaining columns for movies_extras.csv: ['id', 'credits']
Original columns for rotten_tomatoes_movie_reviews.csv: ['id', 'reviewId', 'creationDate', 'criticName', 'isTopCritic', 'originalScore', 'reviewState', 'publicatioName', 'reviewText', 'scoreSentiment', 'reviewUrl']
Columns to keep for rotten_tomatoes_movie_reviews.csv: ['reviewText', 'scoreSentiment', 'id', 'isTopCritic', 'originalScore', 'creationDate']
Remaining columns for rotten_tomatoes_movie_reviews.csv: ['reviewText', 'scoreSentiment', 'id', 'isTopCritic', 'originalScore', 'creationDate']
Original columns for 25k IMDb movie Dataset.csv: ['movie title', 'Rating', 'User Rating', 'Generes', 'Overview', 'Plot Kyeword', 'Director', 'Top 5 Casts', 'Writer', 'year', 'path']
Columns to keep for 25k IMDb movie Dataset.csv: ['movie title', 'Rating', 'User Rating', 'Director', 'Top 5 Casts', 'year']
Remaining columns for 25k IMDb movie Dataset.csv: ['movie title', 'Rating', 'User Rating', 'Director', 'Top 5 Casts', 'year']
Original columns for movies.csv: ['id', 'title', 'genres', 'original_language', 'overview', 'popularity', 'production_companies', 'release_date', 'budget', 'revenue', 'runtime', 'status', 'tagline', 'vote_average', 'vote_count', 'credits', 'keywords', 'poster_path', 'backdrop_path', 'recommendations']
Columns to keep for movies.csv: ['title', 'genres', 'popularity', 'budget', 'revenue', 'vote_average', 'vote_count', 'id', 'release_date', 'original_language']
Remaining columns for movies.csv: ['title', 'genres', 'popularity', 'budget', 'revenue', 'vote_average', 'vote_count', 'id', 'release_date', 'original_language']
Dropping columns completed!

In [3]:
# Delete files with no data 

folder_path = '/Users/toniwork/Desktop/Capstone/step_1'

# Iterate through the files in the folder
for filename in os.listdir(folder_path):
    file_path = os.path.join(folder_path, filename)
    
    # Get the file size in bytes
    file_size = os.path.getsize(file_path)
    
    # Check if the file size is less than 50KB (50KB = 50 * 1024 bytes)
    if file_size < 50 * 1024:
        print(f"Deleting {filename} (size: {file_size} bytes)")
        os.remove(file_path)

print("Deletion of files under 50KB completed!")

Deletion of files under 50KB completed!

In [4]:
# Print all file info from step_1 folder, this is to review the column names and data
folder_path = '/Users/toniwork/Desktop/Capstone/step_1'

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        
        # Read in the CSV file as a DataFrame
        df = pd.read_csv(file_path)
        print(file_name,':',df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13195 entries, 0 to 13194
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   title                     13195 non-null  object
 1   Domestic Box Office       13194 non-null  float64
 2   International Box Office  8095 non-null   float64
 3   Genre                     12643 non-null  object
 4   Worldwide Box Office      8095 non-null   float64
 5   release_year              13187 non-null  float64
 6   release_month             13185 non-null  float64
 7   release_day               13180 non-null  float64
 8   release_date              13193 non-null  object
 9   Id                        13195 non-null  int64
 10  Languages                 10464 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 1.1+ MB
movies_dataset.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9345 entries, 0 to 9344
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           9345 non-null   object
 1   Rating          8560 non-null   object
 2   User rating     7674 non-null   float64
 3   Website rating  9345 non-null   int64
 4   Release Date    9345 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 365.2+ KB
metacritic-reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4596 entries, 0 to 4595
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          4596 non-null   object
 1   Review         3560 non-null   object
 2   Review date    4370 non-null   object
 3   Comment count  4273 non-null   object
 4   Like count     3318 non-null   float64
 5   Release Year   4578 non-null   float64
dtypes: float64(2), object(4)
memory usage: 215.6+ KB
letterboxd-reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143258 entries, 0 to 143257
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   title                  142891 non-null  object
 1   audience_score         73248 non-null   float64
 2   tomato_meter           33877 non-null   float64
 3   director               139064 non-null  object
 4   id                     143258 non-null  object
 5   box_office             14743 non-null   object
 6   release_date_theaters  30773 non-null   object
 7   original_language      129400 non-null  object
dtypes: float64(2), object(6)
memory usage: 8.7+ MB
rotten_tomatoes_movies.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249325 entries, 0 to 249324
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       249325 non-null  int64
 1   credits  151157 non-null  object
dtypes: int64(1), object(1)
memory usage: 3.8+ MB
movies_extras.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1444963 entries, 0 to 1444962
Data columns (total 6 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   reviewText      1375738 non-null  object
 1   scoreSentiment  1444963 non-null  object
 2   id              1444963 non-null  object
 3   isTopCritic     1444963 non-null  bool
 4   originalScore   1009745 non-null  object
 5   creationDate    1444963 non-null  object
dtypes: bool(1), object(5)
memory usage: 56.5+ MB
rotten_tomatoes_movie_reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14057 entries, 0 to 14056
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie title  14057 non-null  object
 1   Rating       12763 non-null  float64
 2   User Rating  14057 non-null  object
 3   Director     14057 non-null  object
 4   Top 5 Casts  14057 non-null  object
 5   year         14057 non-null  int64
dtypes: float64(1), int64(1), object(4)
memory usage: 659.0+ KB
25k IMDb movie Dataset.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722917 entries, 0 to 722916
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   title              722913 non-null  object
 1   genres             511960 non-null  object
 2   popularity         722917 non-null  float64
 3   budget             722917 non-null  float64
 4   revenue            722917 non-null  float64
 5   vote_average       722917 non-null  float64
 6   vote_count         722917 non-null  float64
 7   id                 722917 non-null  int64
 8   release_date       670290 non-null  object
 9   original_language  722917 non-null  object
dtypes: float64(5), int64(1), object(4)
memory usage: 55.2+ MB
movies.csv : None

In [5]:
# Intital clean_movie function to clean up for data consistency

titles_with_removed_zeros = set()

def clean_movie_data(folder_path, output_folder_path):
    for filename in os.listdir(folder_path):
        if filename.endswith('.csv'):
            try:
                df = pd.read_csv(os.path.join(folder_path, filename))
            except FileNotFoundError:
                print(f"Error: {filename} not found.")
                continue

        # Call the cleaning functions
        df = convert_column_names(df)
        df = clean_title_columns(df)
        df = handle_release_dates(df)
        df = remove_duplicates(df, columns_to_check=['release_year','title', 'Title', 'movie title'])
        df = handle_date_ranges(df,
            date_columns=['release_date'],
            year_column='year',
            start_date='2002-01-01',
            end_date='2022-12-31',
            start_year=2002,
            end_year=2022)
        df = convert_string_columns_to_lowercase(df)
        df = filter_by_language(df)

        # Save cleaned DataFrame
        new_filename = filename
        df.to_csv(os.path.join(output_folder_path, new_filename), index=False)
        print(f"{filename} cleaned and saved as {new_filename}.")
    
    output_folder_path0 = '/Users/toniwork/Desktop/Capstone/'
    save_titles_with_removed_zeros(output_folder_path0)

In [6]:
# 2nd initial clean_movie function to clean up non-numeric to numeric types
def clean_movie_data2(folder_path, output_folder_path):
    for filename in os.listdir(folder_path):
        if filename.endswith('.csv'):
            try:
                df = pd.read_csv(os.path.join(folder_path, filename))
            except FileNotFoundError:
                print(f"Error: {filename} not found.")
                continue

        # Call the cleaning functions
        df = clean_money_columns(df, columns=['user_rating', 'box_office', 'comment_count'])       

        # Save cleaned DataFrame
        new_filename = filename
        df.to_csv(os.path.join(output_folder_path, new_filename), index=False)
        print(f"{filename} cleaned and saved as {new_filename}.")

In [7]:
# Run clean_movie_data function
folder_path = '/Users/toniwork/Desktop/Capstone/step_1'
output_folder_path = '/Users/toniwork/Desktop/Capstone/step_1'  

clean_movie_data(folder_path, output_folder_path)

Error: 'release_date' column not in 'YYYY-MM-DD' format. Cannot convert non-finite values (NA or inf) to integer
movies_dataset.csv cleaned and saved as movies_dataset.csv.

<string>:17: FutureWarning: The default value of regex will change from True to False in a future version.
<string>:17: FutureWarning: The default value of regex will change from True to False in a future version.

metacritic-reviews.csv cleaned and saved as metacritic-reviews.csv.
letterboxd-reviews.csv cleaned and saved as letterboxd-reviews.csv.

<string>:17: FutureWarning: The default value of regex will change from True to False in a future version.
<string>:17: FutureWarning: The default value of regex will change from True to False in a future version.

rotten_tomatoes_movies.csv cleaned and saved as rotten_tomatoes_movies.csv.
movies_extras.csv cleaned and saved as movies_extras.csv.
rotten_tomatoes_movie_reviews.csv cleaned and saved as rotten_tomatoes_movie_reviews.csv.

<string>:17: FutureWarning: The default value of regex will change from True to False in a future version.

25k IMDb movie Dataset.csv cleaned and saved as 25k IMDb movie Dataset.csv.

<string>:17: FutureWarning: The default value of regex will change from True to False in a future version.

Error: 'release_date' column not in 'YYYY-MM-DD' format. Cannot convert non-finite values (NA or inf) to integer
movies.csv cleaned and saved as movies.csv.
Titles with removed zeros saved as 'titles_with_removed_zeros.txt'.

In [8]:
# Run clean_movie_data2 function
clean_movie_data2(folder_path, output_folder_path)

Column user_rating not found in the DataFrame. Skipping.
Column box_office not found in the DataFrame. Skipping.
Column comment_count not found in the DataFrame. Skipping.
movies_dataset.csv cleaned and saved as movies_dataset.csv.
Column box_office not found in the DataFrame. Skipping.
Column comment_count not found in the DataFrame. Skipping.
metacritic-reviews.csv cleaned and saved as metacritic-reviews.csv.
Column user_rating not found in the DataFrame. Skipping.
Column box_office not found in the DataFrame. Skipping.
letterboxd-reviews.csv cleaned and saved as letterboxd-reviews.csv.
Column user_rating not found in the DataFrame. Skipping.
Column comment_count not found in the DataFrame. Skipping.
rotten_tomatoes_movies.csv cleaned and saved as rotten_tomatoes_movies.csv.
Column user_rating not found in the DataFrame. Skipping.
Column box_office not found in the DataFrame. Skipping.
Column comment_count not found in the DataFrame. Skipping.
movies_extras.csv cleaned and saved as movies_extras.csv.
Column user_rating not found in the DataFrame. Skipping.
Column box_office not found in the DataFrame. Skipping.
Column comment_count not found in the DataFrame. Skipping.
rotten_tomatoes_movie_reviews.csv cleaned and saved as rotten_tomatoes_movie_reviews.csv.
Column box_office not found in the DataFrame. Skipping.
Column comment_count not found in the DataFrame. Skipping.
25k IMDb movie Dataset.csv cleaned and saved as 25k IMDb movie Dataset.csv.
Column user_rating not found in the DataFrame. Skipping.
Column box_office not found in the DataFrame. Skipping.
Column comment_count not found in the DataFrame. Skipping.
movies.csv cleaned and saved as movies.csv.

In [9]:
# Print file header informaition to verify cleaning steps were correctly processed
folder_path = '/Users/toniwork/Desktop/Capstone/step_1'

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        
        # Read in the CSV file as a DataFrame
        df = pd.read_csv(file_path)
        print(file_name,':',df.head())

movies_dataset.csv :              title  domestic_box_office  international_box_office  \
0   silent trigger              76382.0                       NaN
1         touch me               5000.0                       NaN
2         impostor            6114237.0                 1860370.0
3        spiderman          403706375.0               418000000.0
4  die another day          160942139.0               271000000.0

               genre  worldwide_box_office  release_year  release_month  \
0  thriller/suspense                   NaN           NaN            NaN
1              drama                   NaN           NaN            NaN
2  thriller/suspense             7974607.0        2002.0            1.0
3          adventure           821706375.0        2002.0            5.0
4             action           431942139.0        2002.0           11.0

   release_day release_date    id languages
0          NaN          NaN   577   english
1          NaN          NaN  1014   english
2          4.0   2002-01-04  2789   english
3          3.0   2002-05-03  3280   english
4         22.0   2002-11-22  3281   english
metacritic-reviews.csv :                                                title     rating  user_rating  \
0  rivers and tides andy goldsworthy working with...       tv-g         76.0
1                                           impostor          r         76.0
2                         what time is it over there  not rated         67.0
3                            brotherhood of the wolf          r         73.0
4                                      orange county      pg-13         71.0

   website_rating release_date  release_year  release_month  release_day
0              82   2002-01-02          2002              1            2
1              33   2002-01-04          2002              1            4
2              79   2002-01-11          2002              1           11
3              57   2002-01-11          2002              1           11
4              48   2002-01-11          2002              1           11
letterboxd-reviews.csv :                                 title  \
0                           aftersun
1                              joker
2        puss in boots the last wish
3          the banshees of inisherin
4  everything everywhere all at once

                                              review review_date  \
0                  this review may contain spoilers.  2020-01-12
1  if youв??ve never swam in the ocean then of co...  2022-12-20
2                puss in boots: into the pussy-verse  2022-09-15
3  i will not leave my donkey outside when iв??m sad  2022-04-08
4  watch it and have fun before film twitter tell...  2019-08-14

   comment_count  like_count  release_year
0          130.0     22446.0        2022.0
1            NaN     22032.0        2019.0
2           62.0     21666.0        2022.0
3            NaN     21609.0        2022.0
4          355.0     20688.0        2022.0
rotten_tomatoes_movies.csv :                 title  audience_score  tomato_meter               director  \
0  space zombie bingo            50.0           NaN          george ormrod
1     the green grass             NaN           NaN        tiffany edwards
2         sore losers            60.0           NaN  john michael mccarthy
3     dinosaur island            70.0           NaN          will meugniot
4              adrift            65.0          69.0      baltasar kormákur

                     id  box_office release_date_theaters original_language
0    space-zombie-bingo         NaN                   NaN           english
1       the_green_grass         NaN                   NaN           english
2  the_sore_losers_1997         NaN                   NaN           english
3  dinosaur_island_2002         NaN                   NaN           english
4           adrift_2018         NaN            2018-06-01           english
movies_extras.csv :       id                                            credits
0  44351  scott coffey-rebekah del rio-laura harring-nao...
1  23964  stephen baldwin-callum keith rennie-jessica st...
2  36174  martin clunes-victoria hamilton-conleth hill-j...
3  31460  sarah jessica parker-harry connick jr.-johnny ...
4  26449  jay michael ferguson-allison lange-michael bow...
rotten_tomatoes_movie_reviews.csv :                                           reviewtext scoresentiment  \
0  timed to be just long enough for most youngste...       positive
1  it doesn't matter if a movie costs 300 million...       negative
2  the choreography is so precise and lifelike at...       positive
3  the film's out-of-touch attempts at humor may ...       negative
4  its clumsy determination is endearing and some...       positive

                                  id  istopcritic originalscore creationdate
0                            beavers        False         3.5/4   2003-05-23
1                         blood_mask        False           1/5   2007-06-02
2  city_hunter_shinjuku_private_eyes        False           NaN   2019-05-28
3  city_hunter_shinjuku_private_eyes        False         2.5/5   2019-02-14
4                 dangerous_men_2015        False           NaN   2018-08-29
25k IMDb movie Dataset.csv :              movie_title  rating  user_rating           director  \
0  all things fall apart     5.3          NaN  mario van peebles
1                    gun     3.8          NaN      jessy terrero
2       what alice found     6.4          NaN       a. dean bell
3                  happy     7.1          NaN     a. karunakaran
4                   balu     6.0          NaN     a. karunakaran

                                         top_5_casts  year
0  ['brian a. miller', '50 cent', 'ray liotta', '...  2011
1  ['50 cent', 'val kilmer', 'annalynne mccord', ...  2010
2  ['emily grace', 'judith ivey', 'bill raymond',...  2003
3  ['radha mohan', 'darling swamy', 'allu arjun',...  2006
4  ['kona venkat', 'pawan kalyan', 'shriya saran'...  2005
movies.csv :                            title                             genres  \
0        avatar the way of water   science fiction-adventure-action
1  black panther wakanda forever   action-adventure-science fiction
2    puss in boots the last wish  animation-adventure-comedy-family
3            lord of the streets                             action
4              a man called otto                       comedy-drama

   popularity       budget       revenue  vote_average  vote_count      id  \
0    9366.788  350000000.0  2.312336e+09         7.751      6748.0   76600
1    2525.408  250000000.0  8.585356e+08         7.338      3922.0  505642
2    2078.280   90000000.0  4.630876e+08         8.363      4671.0  315162
3    1691.825    1000000.0  0.000000e+00         4.900        29.0  965839
4    1545.382   50000000.0  1.038423e+08         7.811       540.0  937278

  release_date original_language
0   2022-12-14                en
1   2022-11-09                en
2   2022-12-07                en
3   2022-04-22                en
4   2022-12-28                en

## Title Key Creation and Application

### Create a title key using the create_title_key_file() function, which:
- Loops over all CSV files in a folder and counts the number of times each movie title appears across all files
- Creates a DataFrame with the title and the number of files it appears in and filters it to keep only titles that appear in at least two files
- Saves the DataFrame to a new CSV file called 'title_key.csv' in the specified output folder path

### Add corresponding title IDs to each dataset using the add_title_ids() function, which:
- Reads in the 'title_key.csv' file and loops over each file in the specified folder path
- Adds a new column called 'title_id' to the DataFrame and loops through each row to add the corresponding title ID from the 'title_key.csv' file
- If a title ID is not found, the row is dropped from the DataFrame
- Saves the updated CSV file to the specified output path

In [10]:
# Create title key using create_title_key_file function
folder_path = '/Users/toniwork/Desktop/Capstone/step_1'
output_folder_path = '/Users/toniwork/Desktop/Capstone/keys'
specific_files = ['rotten_tomatoes_movies.csv','letterboxd-reviews.csv','metacritic-reviews.csv',
                  '25k IMDb movie Dataset.csv', 'rotten_tomatoes_movie_reviews.csv']
columns_to_check = [col for col in df.columns if 'title' in col.lower()]

create_folder(output_folder_path)

create_title_key_file(folder_path, output_folder_path, specific_files)

Duplicate titles in movies_dataset.csv: 1308
Duplicate titles in metacritic-reviews.csv: 143
Duplicate titles in letterboxd-reviews.csv: 3349
Duplicate titles in rotten_tomatoes_movies.csv: 8633
Duplicate titles in 25k IMDb movie Dataset.csv: 269
Duplicate titles in movies.csv: 50912
Title key file saved as 'title_key.csv'.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215824 entries, 0 to 215823
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   title          215795 non-null  object
 1   release_date   215824 non-null  object
 2   release_year   215824 non-null  int64
 3   release_month  215824 non-null  int64
 4   release_day    215824 non-null  int64
 5   title_id       215824 non-null  int64
dtypes: int64(4), object(2)
memory usage: 9.9+ MB
None

In [11]:
folder_path = "/Users/toniwork/Desktop/Capstone/keys"
file_pattern = ".csv" 
drop_duplicate_rows_and_report(folder_path, file_pattern)

File: title_key_final.csv, Title duplicates: 0
File: title_key_final.csv, Title_id duplicates: 0
File: title_key.csv, Title duplicates: 49064
File: title_key.csv, Title_id duplicates: 0
File: movie_data_summary_key.csv, does not have a 'title' column.
File: movie_data_summary_key.csv, Title_id duplicates: 0
File: review_summary_key.csv, does not have a 'title' column.
File: review_summary_key.csv, Title_id duplicates: 0

In [12]:
file_path = "/Users/toniwork/Desktop/Capstone/keys/title_key.csv"
# Read the file into a DataFrame
df = pd.read_csv(file_path)

# Drop rows where the 'title' is null or empty
df = df[df['title'].notna() & (df['title'] != '')]

# Sort the DataFrame by 'title' and 'release_date'
df.sort_values(by=['title', 'release_date'], ascending=[True, True], inplace=True)

# Print first few rows to confirm sorting
print("After sorting:")
print(df.head(10))

# Drop duplicate rows based on 'title', keeping the first (earliest 'release_date') occurrence
df.drop_duplicates(subset=['title'], keep='first', inplace=True)

# Print first few rows to confirm duplicates are dropped
print("After dropping duplicates:")
print(df.head(10))

# Save the DataFrame back to the file or a new file
df.to_csv(file_path, index=False)

print("Null titles and duplicates dropped, and file saved.")
print(df.info())

After sorting:
           title release_date  release_year  release_month  release_day  \
57220          1   2006-01-01          2006              1            1
83376          1   2011-05-09          2011              5            9
145618         1   2013-09-20          2013              9           20
89868          1   2013-09-30          2013              9           30
178450         1   2019-05-11          2019              5           11
162732         1   2019-07-14          2019              7           14
181267         1   2020-09-14          2020              9           14
14791          1   2020-12-07          2020             12            7
178367         1   2021-11-20          2021             11           20
154842  1  1  11   2015-06-21          2015              6           21

        title_id
57220      57221
83376      83377
145618    145619
89868      89869
178450    178451
162732    162733
181267    181268
14791      14792
178367    178368
154842    154843
After dropping duplicates:
                       title release_date  release_year  release_month  \
57220                      1   2006-01-01          2006              1
154842              1  1  11   2015-06-21          2015              6
155976                   1 2   2007-01-01          2007              1
206566                 1 2 3   2015-10-05          2015             10
153166  1 2 3 all eyes on me   2020-10-24          2020             10
29585         1 2 3 knock up   2006-01-01          2006              1
128291            1 a minute   2010-10-06          2010             10
137255           1 and 0 nly   2008-10-16          2008             10
131193     1 angry black man   2019-10-12          2019             10
90080      1 billion orgasms   2018-09-21          2018              9

        release_day  title_id
57220             1     57221
154842           21    154843
155976            1    155977
206566            5    206567
153166           24    153167
29585             1     29586
128291            6    128292
137255           16    137256
131193           12    131194
90080            21     90081
Null titles and duplicates dropped, and file saved.
<class 'pandas.core.frame.DataFrame'>
Int64Index: 184432 entries, 57220 to 158338
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   title          184432 non-null  object
 1   release_date   184432 non-null  object
 2   release_year   184432 non-null  int64
 3   release_month  184432 non-null  int64
 4   release_day    184432 non-null  int64
 5   title_id       184432 non-null  int64
dtypes: int64(4), object(2)
memory usage: 9.8+ MB
None

In [13]:
# Read the file into a DataFrame
df = pd.read_csv(file_path)

# Find titles that contain only numbers
numeric_titles = df[df['title'].str.isnumeric()]

# Group by 'title' and count the occurrences
grouped_titles = numeric_titles.groupby('title').size().reset_index(name='counts')

# Filter out titles that appear more than once (potential duplicates)
potential_duplicates = grouped_titles[grouped_titles['counts'] > 1]['title'].tolist()

# Save these titles to a text file or another format for manual review
with open('potential_duplicates.txt', 'w') as f:
    for title in potential_duplicates:
        f.write(f"{title}\n")

print("Potential duplicates saved for manual review.")

Potential duplicates saved for manual review.

In [14]:
def add_title_ids_main_test(input_folder, title_key_path, split_folder, output_folder):
    # Read in the title key CSV file as a DataFrame
    title_key_df = pd.read_csv(os.path.join(title_key_path, 'title_key.csv'))

    # Loop through each file in the input folder
    for file_name in os.listdir(input_folder):
        if file_name.endswith('.csv') and 'extra' not in file_name:
            file_path = os.path.join(input_folder, file_name)

            # Read in the CSV file as a DataFrame
            df = pd.read_csv(file_path)

            # Get the title columns
            title_cols = [col for col in df.columns if 'title' in col.lower()]

            # Check if the file has any title columns
            if len(title_cols) == 0:
                continue

            # Split the file if it has more than 50,000 rows
            if len(df) > 25000:
                split_files = []
                split_num = 1
                split_size = 25000
                for i in range(0, len(df), split_size):
                    split_file_name = f"{os.path.splitext(file_name)[0]}_split{split_num}.csv"
                    split_num += 1
                    split_file_path = os.path.join(split_folder, split_file_name)
                    split_files.append(split_file_path)
                    df.iloc[i:i+split_size].to_csv(split_file_path, index=False)

                # Loop through each split file
                for split_file_path in split_files:
                    # Read in the CSV file as a DataFrame
                    df_split = pd.read_csv(split_file_path)

                    # Add a new column for the title ID
                    df_split['title_id'] = None

                    # Loop through each row in the DataFrame and add the title ID
                    for i, row in df_split.iterrows():
                        title = ' '.join([str(row[col]) for col in title_cols]).strip()
                        title_id = title_key_df.loc[title_key_df['title'] == title, 'title_id'].values

                        # If a title ID was found, add it to the DataFrame
                        if len(title_id) > 0:
                            df_split.at[i, 'title_id'] = title_id[0]
                        else:
                            # If no title ID was found, drop the row
                            df_split.drop(i, inplace=True)

                    # Save the updated CSV file to the split folder
                    output_file = os.path.join(split_folder, os.path.basename(split_file_path))
                    df_split.to_csv(output_file, index=False)
                    print(f"{split_file_path} cleaned and 'title_id' added. On {output_file}")

                # Concatenate the split files and save to the output_folder
                split_files_df = [pd.read_csv(split_file) for split_file in split_files]
                concat_df = pd.concat(split_files_df)
                output_file = os.path.join(output_folder, file_name)
                concat_df.to_csv(output_file, index=False)
                print(f"{len(split_files)} files concatenated and saved to {output_file}")

            else:
                # Add a new column for the title ID
                df['title_id'] = None

                # Loop through each row in the DataFrame and add the title ID
                for i, row in df.iterrows():
                    title = ' '.join([str(row[col]) for col in title_cols]).strip()
                    title_id = title_key_df.loc[title_key_df['title'] == title, 'title_id'].values
                    # If a title ID was found, add it to the DataFrame
                    if len(title_id) > 0:
                        df.at[i, 'title_id'] = title_id[0]
                    else:
                        # If no title ID was found, drop the row
                        df.drop(i, inplace=True)
                
                # Save the updated CSV file to the output path
                output_file = os.path.join(output_folder, file_name)
                output_file2 = os.path.join(input_folder, file_name)
                df.to_csv(output_file, index=False)
                #df.to_csv(output_file2, index=False)
                print(f"{file_name} cleaned and 'title_id' added.",df.head(2))

In [15]:
# Loop through file in folder to add the new title_id from the title_key.csv using add_title_ids_main function
input_folder = '/Users/toniwork/Desktop/Capstone/step_1'
title_key_path = '/Users/toniwork/Desktop/Capstone/keys/'
output_folder = '/Users/toniwork/Desktop/Capstone/step_2'
split_folder = '/Users/toniwork/Desktop/Capstone/split_1'

# Create the output folder if it does not exist
create_folder(output_folder)
    
# Create the split folder if it does not exist
create_folder(split_folder)

add_title_ids_main(input_folder, title_key_path, split_folder, output_folder)

movies_dataset.csv cleaned and 'title_id' added.       title  domestic_box_office  international_box_office              genre  \
1  touch me               5000.0                       NaN              drama
2  impostor            6114237.0                 1860370.0  thriller/suspense

   worldwide_box_office  release_year  release_month  release_day  \
1                   NaN           NaN            NaN          NaN
2             7974607.0        2002.0            1.0          4.0

  release_date    id languages title_id
1          NaN  1014   english   152944
2   2002-01-04  2789   english   210194
metacritic-reviews.csv cleaned and 'title_id' added.                                                title rating  user_rating  \
0  rivers and tides andy goldsworthy working with...   tv-g         76.0
1                                           impostor      r         76.0

   website_rating release_date  release_year  release_month  release_day  \
0              82   2002-01-02          2002              1            2
1              33   2002-01-04          2002              1            4

  title_id
0   179353
1   210194
letterboxd-reviews.csv cleaned and 'title_id' added.        title                                             review review_date  \
0  aftersun                   this review may contain spoilers.  2020-01-12
1     joker   if youв??ve never swam in the ocean then of co...  2022-12-20

   comment_count  like_count  release_year title_id
0          130.0     22446.0        2022.0   201780
1            NaN     22032.0        2019.0    30951
/Users/toniwork/Desktop/Capstone/split_1/rotten_tomatoes_movies_split1.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/rotten_tomatoes_movies_split1.csv
/Users/toniwork/Desktop/Capstone/split_1/rotten_tomatoes_movies_split2.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/rotten_tomatoes_movies_split2.csv
/Users/toniwork/Desktop/Capstone/split_1/rotten_tomatoes_movies_split3.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/rotten_tomatoes_movies_split3.csv
/Users/toniwork/Desktop/Capstone/split_1/rotten_tomatoes_movies_split4.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/rotten_tomatoes_movies_split4.csv
4 files concatenated and saved to /Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movies.csv
25k IMDb movie Dataset.csv cleaned and 'title_id' added.              movie_title  rating  user_rating           director  \
0  all things fall apart     5.3          NaN  mario van peebles
1                    gun     3.8          NaN      jessy terrero

                                         top_5_casts  year title_id
0  ['brian a. miller', '50 cent', 'ray liotta', '...  2011    78775
1  ['50 cent', 'val kilmer', 'annalynne mccord', ...  2010   188000
/Users/toniwork/Desktop/Capstone/split_1/movies_split1.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split1.csv
/Users/toniwork/Desktop/Capstone/split_1/movies_split2.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split2.csv
/Users/toniwork/Desktop/Capstone/split_1/movies_split3.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split3.csv
/Users/toniwork/Desktop/Capstone/split_1/movies_split4.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split4.csv
/Users/toniwork/Desktop/Capstone/split_1/movies_split5.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split5.csv
/Users/toniwork/Desktop/Capstone/split_1/movies_split6.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split6.csv
/Users/toniwork/Desktop/Capstone/split_1/movies_split7.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split7.csv
/Users/toniwork/Desktop/Capstone/split_1/movies_split8.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split8.csv
/Users/toniwork/Desktop/Capstone/split_1/movies_split9.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split9.csv
/Users/toniwork/Desktop/Capstone/split_1/movies_split10.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split10.csv
/Users/toniwork/Desktop/Capstone/split_1/movies_split11.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split11.csv
11 files concatenated and saved to /Users/toniwork/Desktop/Capstone/step_2/movies.csv

## Dataset Compare/Update

### Compare and update datasets with corresponding title IDs using the add_title_id() function, which:
- Takes in two filenames, the name of the column to match on, the folder path where the files are located, and the output path where the merged files will be saved
- Loads the data from the main dataset and the extras dataset, checks if the matching column exists in both datasets, creates a new column for the 'title_id' in the extras dataset, loops through each row in the extras dataset, and checks if the value in the matching column exists in the main dataset
- If it does, it adds the corresponding 'title_id' to the new column in the extras dataset
- If it doesn't, it drops the row

Saves the updated extras dataset to a new CSV file in the specified output path

In [16]:
# Loop through files in folder to add the new title_id from the title_key.csv using add_title_ids_2 function, this compares its counter part file with the title_id to the other

folder_path = '/Users/toniwork/Desktop/Capstone/step_1'
compare_path = '/Users/toniwork/Desktop/Capstone/step_2'
output_path = '/Users/toniwork/Desktop/Capstone/step_2'

movies = 'movies.csv'
movies_extras = 'movies_extras.csv'
on_col = 'id'

# Compare movies.csv and movies_extras.csv, drop rows and add 'title_id' column
add_title_ids_2(movies, movies_extras, on_col, folder_path, output_path, compare_path)

movies_extras.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/step_2

'movies_extras.csv'

In [14]:
def add_title_ids_2(df1_file, df2_file, on_col, folder_path, output_path, compare_path):
    # Load the data from df1
    df1 = pd.read_csv(os.path.join(compare_path, df1_file))

    # Load the data from df2
    df2 = pd.read_csv(os.path.join(folder_path, df2_file))
    
    # Check if on_col exists in df1
    if on_col not in df1.columns:
        raise ValueError(f"{on_col} not found in {df1_file}")
    
    # Check if on_col exists in df2
    if on_col not in df2.columns:
        raise ValueError(f"{on_col} not found in {df2_file}")
    
    # Check for missing IDs
    missing_ids = set(df2[on_col]) - set(df1[on_col])
    if missing_ids:
        print(f"Missing IDs Count: {len(missing_ids)}")
           
    # Create a new column for the title_id in df2
    df2['title_id'] = ''
    
    # Keep only the rows in df2 that have a matching value in df1[on_col]
    df2 = df2[df2[on_col].isin(df1[on_col])]
    
    # Loop through each row in df2 and add the corresponding title_id from df1
    for index, row in df2.iterrows():
        title_id = df1.loc[df1[on_col] == row[on_col], 'title_id'].iloc[0]
        df2.loc[index, 'title_id'] = title_id
    
    # Write the updated df2 to a new CSV file in the specified output path
    if not os.path.exists(output_path):
        os.makedirs(output_path)
    output_file = os.path.join(output_path, df2_file)
    df2.to_csv(output_file, index=False)
    print(f"{df2_file} cleaned and 'title_id' added to {output_path}")
    
    # Return the updated df2
    return df2_file

In [6]:
folder_path = '/Users/toniwork/Desktop/Capstone/step_1'
compare_path = '/Users/toniwork/Desktop/Capstone/step_2'
split_path = '/Users/toniwork/Desktop/Capstone/split_1'

rotten_movie_file = 'rotten_tomatoes_movies.csv'
rotten_movie_review_file = 'rotten_tomatoes_movie_reviews.csv'
on_col = 'id'

In [7]:
# Read the entire DataFrame to get its length
df_reviews = pd.read_csv(os.path.join(folder_path, rotten_movie_review_file))
total_length = len(df_reviews)

# Define the number of chunks
num_chunks = 100

# Calculate the chunk size
chunk_size = total_length // num_chunks

In [8]:
# Log problematic lines
with open(os.path.join(folder_path, rotten_movie_review_file), 'r') as f:
    for i, line in enumerate(f):
        try:
            pd.read_csv(StringIO(line))
        except:
            print(f"Error in line {i}")

Error in line 4545
Error in line 4546
Error in line 4589
Error in line 4590
Error in line 4591
Error in line 4592
Error in line 4708
Error in line 4736
Error in line 4738
Error in line 4891
Error in line 4895
Error in line 4897
Error in line 8883
Error in line 8884
Error in line 8885
Error in line 9334
Error in line 9336
Error in line 9746
Error in line 9747
Error in line 9748
Error in line 9749
Error in line 10231
Error in line 10652
Error in line 10653
Error in line 13814
Error in line 13815
Error in line 15573
Error in line 15574
Error in line 16197
Error in line 16199
Error in line 19868
Error in line 19869
Error in line 20267
Error in line 20523
Error in line 20524
Error in line 20843
Error in line 20844
Error in line 20845
Error in line 21934
Error in line 21935
Error in line 23492
Error in line 23493
Error in line 23494
Error in line 23495
Error in line 23496
Error in line 28255
Error in line 29777
Error in line 29778
Error in line 30719
Error in line 30723
Error in line 30725
Error in line 30727
Error in line 30744
Error in line 30745
Error in line 30796
Error in line 30898
Error in line 30899
Error in line 30900
Error in line 30904
Error in line 30905
Error in line 30906
Error in line 30961
Error in line 30962
Error in line 30963
Error in line 32638
Error in line 32639
Error in line 37250
Error in line 37256
Error in line 37258
Error in line 37323
Error in line 37324
Error in line 37362
Error in line 37363
Error in line 37390
Error in line 37391
Error in line 37509
Error in line 37510
Error in line 37527
Error in line 37528
Error in line 37532
Error in line 37533
Error in line 37570
Error in line 37571
Error in line 37572
Error in line 38209
Error in line 38255
Error in line 38256
Error in line 39324
Error in line 39325
Error in line 39326
Error in line 42567
Error in line 42568
Error in line 42822
Error in line 42823
Error in line 42824
Error in line 42830
Error in line 42831
Error in line 43101
Error in line 43102
Error in line 43103
Error in line 43668
Error in line 43669
Error in line 43670
Error in line 45360
Error in line 45361
Error in line 47838
Error in line 47839
Error in line 47840
Error in line 47847
Error in line 47848
Error in line 47849
Error in line 49436
Error in line 51108
Error in line 51109
Error in line 54876
Error in line 54877
Error in line 57880
Error in line 58084
Error in line 58086
Error in line 58087
Error in line 58803
Error in line 58804
Error in line 66818
Error in line 66829
Error in line 66830
Error in line 66884
Error in line 66885
Error in line 68279
Error in line 68280
Error in line 71620
Error in line 71621
Error in line 74084
Error in line 74085
Error in line 74520
Error in line 74521
Error in line 75311
Error in line 75312
Error in line 76741
Error in line 76742
Error in line 77260
Error in line 77261
Error in line 77297
Error in line 77298
Error in line 80077
Error in line 80078
Error in line 80079
Error in line 80082
Error in line 80083
Error in line 80084
Error in line 83427
Error in line 83428
Error in line 83429
Error in line 83430
Error in line 84965
Error in line 84966
Error in line 85500
Error in line 85501
Error in line 85502
Error in line 90873
Error in line 90874
Error in line 92035
Error in line 92036
Error in line 92037
Error in line 93567
Error in line 93568
Error in line 93904
Error in line 93905
Error in line 96196
Error in line 96197
Error in line 98137
Error in line 98138
Error in line 102903
Error in line 103208
Error in line 103209
Error in line 104541
Error in line 104542
Error in line 107477
Error in line 107478
Error in line 107731
Error in line 107732
Error in line 107733
Error in line 107977
Error in line 107978
Error in line 109836
Error in line 109837
Error in line 110499
Error in line 110500
Error in line 110574
Error in line 110575
Error in line 112846
Error in line 112847
Error in line 119307
Error in line 119308
Error in line 120092
Error in line 120093
Error in line 124517
Error in line 124519
Error in line 124520
Error in line 128228
Error in line 128229
Error in line 132506
Error in line 132507
Error in line 132508
Error in line 132509
Error in line 133072
Error in line 133073
Error in line 140773
Error in line 140775
Error in line 140927
Error in line 140928
Error in line 140929
Error in line 145549
Error in line 145550
Error in line 145758
Error in line 145759
Error in line 147365
Error in line 147367
Error in line 151361
Error in line 151362
Error in line 153470
Error in line 153473
Error in line 153477
Error in line 153478
Error in line 156007
Error in line 156008
Error in line 157415
Error in line 157416
Error in line 158829
Error in line 158830
Error in line 158831
Error in line 158883
Error in line 158884
Error in line 163505
Error in line 163506
Error in line 163507
Error in line 165127
Error in line 165128
Error in line 166395
Error in line 166396
Error in line 166868
Error in line 167803
Error in line 168694
Error in line 171169
Error in line 173346
Error in line 173347
Error in line 173376
Error in line 173377
Error in line 173378
Error in line 173379
Error in line 173380
Error in line 176064
Error in line 176066
Error in line 176334
Error in line 176335
Error in line 177081
Error in line 177082
Error in line 179425
Error in line 179427
Error in line 181587
Error in line 181588
Error in line 182412
Error in line 182417
Error in line 182428
Error in line 182429
Error in line 182430
Error in line 186611
Error in line 186612
Error in line 187054
Error in line 188015
Error in line 188016
Error in line 188017
Error in line 188308
Error in line 188309
Error in line 188330
Error in line 188363
Error in line 188364
Error in line 192203
Error in line 192204
Error in line 192205
Error in line 192911
Error in line 192912
Error in line 192913
Error in line 195881
Error in line 195882
Error in line 197340
Error in line 197341
Error in line 197429
Error in line 197430
Error in line 197431
Error in line 198531
Error in line 199711
Error in line 199712
Error in line 200621
Error in line 202149
Error in line 202150
Error in line 202973
Error in line 202974
Error in line 202975
Error in line 207853
Error in line 211367
Error in line 211368
Error in line 215222
Error in line 216225
Error in line 216226
Error in line 216227
Error in line 216253
Error in line 218757
Error in line 219585
Error in line 219586
Error in line 219591
Error in line 220310
Error in line 220311
Error in line 220916
Error in line 221391
Error in line 221392
Error in line 221393
Error in line 221696
Error in line 221697
Error in line 221706
Error in line 221707
Error in line 225415
Error in line 225416
Error in line 225417
Error in line 228384
Error in line 228385
Error in line 230276
Error in line 231519
Error in line 231521
Error in line 231561
Error in line 233111
Error in line 233163
Error in line 233164
Error in line 233175
Error in line 233176
Error in line 233210
Error in line 233211
Error in line 233220
Error in line 233221
Error in line 234991
Error in line 234993
Error in line 238021
Error in line 238022
Error in line 238023
Error in line 238042
Error in line 238043
Error in line 248935
Error in line 248936
Error in line 254379
Error in line 254380
Error in line 254852
Error in line 254853
Error in line 255232
Error in line 255233
Error in line 255321
Error in line 255322
Error in line 255382
Error in line 255383
Error in line 255384
Error in line 256781
Error in line 261491
Error in line 261492
Error in line 263144
Error in line 263145
Error in line 264399
Error in line 264401
Error in line 264412
Error in line 264413
Error in line 264414
Error in line 264520
Error in line 264521
Error in line 264579
Error in line 264580
Error in line 264581
Error in line 265232
Error in line 265233
Error in line 267051
Error in line 267052
Error in line 274846
Error in line 274847
Error in line 274849
Error in line 274851
Error in line 274923
Error in line 274924
Error in line 278395
Error in line 278396
Error in line 278772
Error in line 278773
Error in line 278774
Error in line 279599
Error in line 279600
Error in line 281711
Error in line 281712
Error in line 282188
Error in line 282453
Error in line 282454
Error in line 282455
Error in line 283114
Error in line 283116
Error in line 283339
Error in line 283495

Error in line 292581
Error in line 292582
Error in line 303609
Error in line 303610
Error in line 307025
Error in line 307027
Error in line 307029
Error in line 307030
Error in line 307493
Error in line 307494
Error in line 307495
Error in line 307496
Error in line 307497
Error in line 307498
Error in line 307509
Error in line 307510
Error in line 307511
Error in line 307537
Error in line 307538
Error in line 307539
Error in line 307639
Error in line 307640
Error in line 308929
Error in line 308930
Error in line 311557
Error in line 311558
Error in line 311559
Error in line 315108
Error in line 315109
Error in line 315110
Error in line 315599
Error in line 315600
Error in line 316478
Error in line 316480
Error in line 316491
Error in line 316492
Error in line 319299
Error in line 320192
Error in line 320193
Error in line 320194
Error in line 321372
Error in line 321374
Error in line 324359
Error in line 324361
Error in line 325659
Error in line 325660
Error in line 325661
Error in line 325752
Error in line 327341
Error in line 327342
Error in line 328384
Error in line 328385
Error in line 328743
Error in line 328744
Error in line 330883
Error in line 330884
Error in line 330901
Error in line 330952
Error in line 330953
Error in line 330969
Error in line 330972
Error in line 330973
Error in line 331002
Error in line 331003
Error in line 331052
Error in line 331054
Error in line 331055
Error in line 331056
Error in line 331379
Error in line 331381
Error in line 331880
Error in line 331881
Error in line 331882
Error in line 333736
Error in line 333737
Error in line 336578
Error in line 336579
Error in line 336580
Error in line 337241
Error in line 337242
Error in line 337796
Error in line 337813
Error in line 337814
Error in line 337815
Error in line 337816
Error in line 337849
Error in line 337850
Error in line 337875
Error in line 337911
Error in line 337912
Error in line 337913
Error in line 337924
Error in line 337925
Error in line 337926
Error in line 337941
Error in line 337942
Error in line 337976
Error in line 337977
Error in line 340362
Error in line 340363
Error in line 341730
Error in line 341731
Error in line 344385
Error in line 344389
Error in line 344608
Error in line 344609
Error in line 344610
Error in line 344611
Error in line 348215
Error in line 348216
Error in line 349795
Error in line 356028
Error in line 356029
Error in line 359538
Error in line 359539
Error in line 359540
Error in line 359541
Error in line 360888
Error in line 360889
Error in line 361558
Error in line 361559
Error in line 361560
Error in line 361568
Error in line 361569
Error in line 361585
Error in line 361586
Error in line 365595
Error in line 365597
Error in line 365599
Error in line 370071
Error in line 370072
Error in line 370141
Error in line 370143
Error in line 370145
Error in line 370163
Error in line 370335
Error in line 370336
Error in line 370337
Error in line 370349
Error in line 370350
Error in line 370351
Error in line 372863
Error in line 372943
Error in line 374241
Error in line 374242
Error in line 374703
Error in line 374704
Error in line 374708
Error in line 374709
Error in line 374717
Error in line 375187
Error in line 375188
Error in line 375785
Error in line 375786
Error in line 375787
Error in line 375788
Error in line 375789
Error in line 379271
Error in line 379272
Error in line 379280
Error in line 379281
Error in line 379282
Error in line 380346
Error in line 380347
Error in line 382587
Error in line 382594
Error in line 382595
Error in line 382613
Error in line 382614
Error in line 390832
Error in line 390833
Error in line 392538
Error in line 392539
Error in line 394198
Error in line 394199
Error in line 394527
Error in line 394528
Error in line 394529
Error in line 396058
Error in line 397717
Error in line 397718
Error in line 399611
Error in line 399612
Error in line 400212
Error in line 400213
Error in line 400214
Error in line 400216
Error in line 402683
Error in line 402684
Error in line 402889
Error in line 402890
Error in line 402966
Error in line 402967
Error in line 402987
Error in line 405014
Error in line 405016
Error in line 408294
Error in line 408295
Error in line 408296
Error in line 417078
Error in line 417079
Error in line 423385
Error in line 423387
Error in line 423388
Error in line 428327
Error in line 428328
Error in line 428501
Error in line 429123
Error in line 429124
Error in line 430107
Error in line 433597
Error in line 433598
Error in line 435197
Error in line 435198
Error in line 436035
Error in line 436036
Error in line 437766
Error in line 437767
Error in line 437768
Error in line 438679
Error in line 438680
Error in line 438681
Error in line 438682
Error in line 438683
Error in line 440775
Error in line 440776
Error in line 441217
Error in line 441244
Error in line 441245
Error in line 441246
Error in line 441249
Error in line 441250
Error in line 441251
Error in line 441341
Error in line 441342
Error in line 443401
Error in line 443402
Error in line 446044
Error in line 446045
Error in line 448404
Error in line 448405
Error in line 448406
Error in line 448407
Error in line 448607
Error in line 448609
Error in line 451165
Error in line 451166
Error in line 455815
Error in line 455816
Error in line 457325
Error in line 457326
Error in line 457617
Error in line 457619
Error in line 459696
Error in line 459697
Error in line 460234
Error in line 460235
Error in line 463513
Error in line 466020
Error in line 466021
Error in line 469862
Error in line 469863
Error in line 470275
Error in line 470276
Error in line 473096
Error in line 473097
Error in line 474538
Error in line 474539
Error in line 474540
Error in line 480533
Error in line 490427
Error in line 495850
Error in line 495851
Error in line 499279
Error in line 499280
Error in line 503646
Error in line 503647
Error in line 503774
Error in line 503775
Error in line 503776
Error in line 505236
Error in line 505238
Error in line 505239
Error in line 505727
Error in line 505728
Error in line 507230
Error in line 507232
Error in line 507234
Error in line 510908
Error in line 510948
Error in line 510949
Error in line 512952
Error in line 512953
Error in line 512954
Error in line 514970
Error in line 514971
Error in line 515036
Error in line 515037
Error in line 516440
Error in line 516441
Error in line 516442
Error in line 517481
Error in line 517483
Error in line 517484
Error in line 518122
Error in line 518123
Error in line 519945
Error in line 519946
Error in line 519949
Error in line 519950
Error in line 521124
Error in line 521125
Error in line 523563
Error in line 527779
Error in line 527780
Error in line 527974
Error in line 527976
Error in line 528016
Error in line 530667
Error in line 531640
Error in line 531641
Error in line 534193
Error in line 534195
Error in line 534243
Error in line 534244
Error in line 543232
Error in line 545726
Error in line 545727
Error in line 547542
Error in line 547543
Error in line 547942
Error in line 547943
Error in line 548107
Error in line 548108
Error in line 548391
Error in line 548392
Error in line 548411
Error in line 548418
Error in line 548420
Error in line 548422
Error in line 548423
Error in line 548513
Error in line 548514
Error in line 548528
Error in line 548529
Error in line 548536
Error in line 548537
Error in line 548538
Error in line 548542
Error in line 548543
Error in line 548544
Error in line 548606
Error in line 548607
Error in line 548608
Error in line 548609
Error in line 548612
Error in line 548613
Error in line 555019
Error in line 555020
Error in line 555021
Error in line 561083
Error in line 561084
Error in line 569679
Error in line 569680
Error in line 570753
Error in line 570754
Error in line 570774
Error in line 570775
Error in line 574552
Error in line 574553
Error in line 574554
Error in line 575435
Error in line 575436
Error in line 575437
Error in line 575518
Error in line 577465
Error in line 578846
Error in line 578847
Error in line 578850
Error in line 578851
Error in line 578852
Error in line 580544
Error in line 580545
Error in line 580546
Error in line 584505
Error in line 584506
Error in line 585380
Error in line 585381
Error in line 585415
Error in line 585416
Error in line 585962
Error in line 585963
Error in line 585964

Error in line 586258
Error in line 586259
Error in line 587609
Error in line 587610
Error in line 587611
Error in line 594382
Error in line 594383
Error in line 597067
Error in line 597073
Error in line 597074
Error in line 597135
Error in line 597136
Error in line 597159
Error in line 597160
Error in line 599739
Error in line 599740
Error in line 599741
Error in line 599756
Error in line 599757
Error in line 602421
Error in line 602422
Error in line 602423
Error in line 607181
Error in line 607182
Error in line 607480
Error in line 607481
Error in line 610516
Error in line 610517
Error in line 610518
Error in line 610536
Error in line 610537
Error in line 610538
Error in line 610594
Error in line 610595
Error in line 611127
Error in line 611128
Error in line 612027
Error in line 612355
Error in line 612532
Error in line 612533
Error in line 613450
Error in line 613451
Error in line 615790
Error in line 615791
Error in line 615995
Error in line 615996
Error in line 615997
Error in line 616006
Error in line 616007
Error in line 616008
Error in line 616009
Error in line 616011
Error in line 616012
Error in line 617948
Error in line 617949
Error in line 619525
Error in line 619526
Error in line 620183
Error in line 620184
Error in line 620185
Error in line 620989
Error in line 621564
Error in line 621565
Error in line 621566
Error in line 626372
Error in line 626812
Error in line 626813
Error in line 629321
Error in line 629322
Error in line 634175
Error in line 634176
Error in line 634864
Error in line 636650
Error in line 641053
Error in line 641054
Error in line 643277
Error in line 643278
Error in line 643306
Error in line 643307
Error in line 647042
Error in line 647043
Error in line 647046
Error in line 647047
Error in line 650542
Error in line 650543
Error in line 651818
Error in line 651820
Error in line 653329
Error in line 653330
Error in line 653780
Error in line 653781
Error in line 655021
Error in line 655022
Error in line 667119
Error in line 667120
Error in line 667121
Error in line 671112
Error in line 671113
Error in line 672525
Error in line 672526
Error in line 673964
Error in line 673965
Error in line 678400
Error in line 678401
Error in line 679694
Error in line 679695
Error in line 692582
Error in line 692583
Error in line 694726
Error in line 694727
Error in line 695568
Error in line 695569
Error in line 696446
Error in line 697263
Error in line 697264
Error in line 697265
Error in line 697299
Error in line 697300
Error in line 698149
Error in line 698151
Error in line 698152
Error in line 700133
Error in line 700134
Error in line 702148
Error in line 702149
Error in line 704102
Error in line 704103
Error in line 704527
Error in line 704528
Error in line 705092
Error in line 705093
Error in line 707011
Error in line 708176
Error in line 708177
Error in line 711734
Error in line 711735
Error in line 711746
Error in line 711747
Error in line 711752
Error in line 711753
Error in line 711754
Error in line 711894
Error in line 711895
Error in line 711905
Error in line 711907
Error in line 712168
Error in line 712169
Error in line 712170
Error in line 712321
Error in line 715109
Error in line 716867
Error in line 716869
Error in line 717667
Error in line 717668
Error in line 720778
Error in line 720779
Error in line 721563
Error in line 721564
Error in line 722100
Error in line 722101
Error in line 722107
Error in line 722108
Error in line 722164
Error in line 722228
Error in line 722230
Error in line 722232
Error in line 722233
Error in line 722234
Error in line 722280
Error in line 722319
Error in line 722365
Error in line 722383
Error in line 723392
Error in line 723393
Error in line 723978
Error in line 723979
Error in line 724460
Error in line 724461
Error in line 730960
Error in line 730961
Error in line 730987
Error in line 730988
Error in line 732972
Error in line 732973
Error in line 733197
Error in line 733198
Error in line 733199
Error in line 733236
Error in line 733237
Error in line 733238
Error in line 733966
Error in line 733967
Error in line 733968
Error in line 736592
Error in line 736593
Error in line 736594
Error in line 736618
Error in line 736619
Error in line 736800
Error in line 736801
Error in line 739178
Error in line 739179
Error in line 739186
Error in line 739187
Error in line 739358
Error in line 743200
Error in line 743201
Error in line 743202
Error in line 744192
Error in line 744193
Error in line 746377
Error in line 746378
Error in line 746379
Error in line 747382
Error in line 747383
Error in line 747384
Error in line 749317
Error in line 749318
Error in line 749431
Error in line 749432
Error in line 756546
Error in line 756547
Error in line 760477
Error in line 760478
Error in line 766474
Error in line 766483
Error in line 766484
Error in line 766501
Error in line 766502
Error in line 766503
Error in line 770716
Error in line 770717
Error in line 771720
Error in line 771721
Error in line 774599
Error in line 774601
Error in line 774623
Error in line 774624
Error in line 774625
Error in line 774674
Error in line 774675
Error in line 774733
Error in line 774734
Error in line 774751
Error in line 774752
Error in line 774773
Error in line 774774
Error in line 774796
Error in line 774797
Error in line 774798
Error in line 777530
Error in line 777531
Error in line 777532
Error in line 777533
Error in line 777534
Error in line 778214
Error in line 778215
Error in line 778279
Error in line 778280
Error in line 780917
Error in line 781341
Error in line 781342
Error in line 784005
Error in line 784006
Error in line 785714
Error in line 785715
Error in line 785722
Error in line 785723
Error in line 786813
Error in line 786814
Error in line 788229
Error in line 788230
Error in line 797711
Error in line 797712
Error in line 797713
Error in line 797974
Error in line 797975
Error in line 797976
Error in line 803954
Error in line 803955
Error in line 803956
Error in line 807719
Error in line 807720
Error in line 810008
Error in line 810009
Error in line 810010
Error in line 810011
Error in line 810012
Error in line 811323
Error in line 811324
Error in line 813783
Error in line 813784
Error in line 813789
Error in line 813790
Error in line 815375
Error in line 815376
Error in line 815400
Error in line 815401
Error in line 817369
Error in line 820498
Error in line 820499
Error in line 820500
Error in line 821477
Error in line 824787
Error in line 824789
Error in line 825201
Error in line 825202
Error in line 825863
Error in line 825866
Error in line 825919
Error in line 825920
Error in line 826051
Error in line 827463
Error in line 827464
Error in line 833839
Error in line 833841
Error in line 834764
Error in line 834765
Error in line 834766
Error in line 834954
Error in line 834956
Error in line 834973
Error in line 834974
Error in line 835057
Error in line 835058
Error in line 835089
Error in line 835090
Error in line 835111
Error in line 835112
Error in line 835151
Error in line 835152
Error in line 838360
Error in line 838399
Error in line 838400
Error in line 840456
Error in line 840457
Error in line 842203
Error in line 842204
Error in line 843242
Error in line 843243
Error in line 843244
Error in line 844640
Error in line 844641
Error in line 844642
Error in line 844689
Error in line 844690
Error in line 844691
Error in line 846522
Error in line 846523
Error in line 850228
Error in line 850229
Error in line 853080
Error in line 853082
Error in line 853083
Error in line 853152
Error in line 853153
Error in line 853213
Error in line 853214
Error in line 855881
Error in line 855882
Error in line 856362
Error in line 856363
Error in line 860320
Error in line 860321
Error in line 860322
Error in line 860333
Error in line 860334
Error in line 860567
Error in line 862483
Error in line 865650
Error in line 865651
Error in line 866598
Error in line 866599
Error in line 866661
Error in line 866662
Error in line 867187
Error in line 867188
Error in line 867189
Error in line 867190
Error in line 867911
Error in line 867912
Error in line 869615
Error in line 869616
Error in line 869793
Error in line 869794
Error in line 870189
Error in line 870190
Error in line 870465
Error in line 870466
Error in line 870467
Error in line 870468
Error in line 870469

Error in line 872473
Error in line 872474
Error in line 873089
Error in line 873090
Error in line 873091
Error in line 873112
Error in line 873116
Error in line 873117
Error in line 873119
Error in line 873120
Error in line 873121
Error in line 873130
Error in line 873131
Error in line 873146
Error in line 879263
Error in line 879264
Error in line 879265
Error in line 880670
Error in line 880671
Error in line 880691
Error in line 880692
Error in line 886596
Error in line 886597
Error in line 886598
Error in line 887373
Error in line 887374
Error in line 887375
Error in line 889892
Error in line 889893
Error in line 889894
Error in line 890251
Error in line 890252
Error in line 890253
Error in line 890816
Error in line 890817
Error in line 890818
Error in line 891486
Error in line 891488
Error in line 891489
Error in line 891879
Error in line 891880
Error in line 891881
Error in line 891898
Error in line 891899
Error in line 895064
Error in line 895065
Error in line 895066
Error in line 898726
Error in line 898727
Error in line 903093
Error in line 903094
Error in line 903561
Error in line 903563
Error in line 903707
Error in line 903709
Error in line 906756
Error in line 906757
Error in line 906758
Error in line 909717
Error in line 909718
Error in line 910105
Error in line 910106
Error in line 912111
Error in line 912112
Error in line 912521
Error in line 912522
Error in line 912523
Error in line 913781
Error in line 913782
Error in line 914986
Error in line 914987
Error in line 915792
Error in line 915794
Error in line 917557
Error in line 917558
Error in line 918075
Error in line 918076
Error in line 918805
Error in line 918806
Error in line 920707
Error in line 920708
Error in line 922707
Error in line 922708
Error in line 924225
Error in line 924226
Error in line 924227
Error in line 924239
Error in line 924240
Error in line 925049
Error in line 925050
Error in line 925051
Error in line 925549
Error in line 925550
Error in line 925551
Error in line 926229
Error in line 926230
Error in line 926231
Error in line 927551
Error in line 927554
Error in line 927556
Error in line 927558
Error in line 927560
Error in line 927600
Error in line 927601
Error in line 927602
Error in line 927611
Error in line 927612
Error in line 927650
Error in line 927651
Error in line 927652
Error in line 927653
Error in line 927700
Error in line 927701
Error in line 927776
Error in line 927777
Error in line 927778
Error in line 927820
Error in line 927821
Error in line 927822
Error in line 927865
Error in line 927866
Error in line 927867
Error in line 927919
Error in line 927920
Error in line 927986
Error in line 927987
Error in line 927988
Error in line 928024
Error in line 928025
Error in line 928643
Error in line 931492
Error in line 932603
Error in line 932604
Error in line 932623
Error in line 932624
Error in line 934118
Error in line 934119
Error in line 935154
Error in line 935155
Error in line 936410
Error in line 936411
Error in line 940972
Error in line 940973
Error in line 943258
Error in line 943260
Error in line 943298
Error in line 943299
Error in line 943300
Error in line 943312
Error in line 943313
Error in line 943327
Error in line 943470
Error in line 943471
Error in line 943472
Error in line 943757
Error in line 943758
Error in line 944504
Error in line 946996
Error in line 946997
Error in line 946998
Error in line 948679
Error in line 948680
Error in line 951834
Error in line 951835
Error in line 951836
Error in line 951837
Error in line 954174
Error in line 954175
Error in line 954176
Error in line 954180
Error in line 954181
Error in line 960288
Error in line 960289
Error in line 960651
Error in line 960652
Error in line 963074
Error in line 963075
Error in line 963076
Error in line 963144
Error in line 963145
Error in line 963146
Error in line 963254
Error in line 963255
Error in line 963256
Error in line 965347
Error in line 965348
Error in line 966838
Error in line 966839
Error in line 968180
Error in line 968181
Error in line 968182
Error in line 969684
Error in line 969685
Error in line 969743
Error in line 969744
Error in line 969745
Error in line 969749
Error in line 969750
Error in line 969760
Error in line 969761
Error in line 969898
Error in line 969910
Error in line 969911
Error in line 971024
Error in line 971025
Error in line 971026
Error in line 972263
Error in line 972264
Error in line 982326
Error in line 982327
Error in line 982924
Error in line 982925
Error in line 989964
Error in line 989965
Error in line 990377
Error in line 992469
Error in line 992470
Error in line 992471
Error in line 994562
Error in line 994563
Error in line 994564
Error in line 996550
Error in line 996551
Error in line 999770
Error in line 999771
Error in line 1005223
Error in line 1005224
Error in line 1010402
Error in line 1010403
Error in line 1010404
Error in line 1010445
Error in line 1010446
Error in line 1011378
Error in line 1011379
Error in line 1016283
Error in line 1017965
Error in line 1017966
Error in line 1017967
Error in line 1025067
Error in line 1025068
Error in line 1025069
Error in line 1027293
Error in line 1027294
Error in line 1027295
Error in line 1029583
Error in line 1029585
Error in line 1034118
Error in line 1034119
Error in line 1034120
Error in line 1034206
Error in line 1034207
Error in line 1037871
Error in line 1037872
Error in line 1038505
Error in line 1038506
Error in line 1039054
Error in line 1039055
Error in line 1040800
Error in line 1040801
Error in line 1042622
Error in line 1044000
Error in line 1044124
Error in line 1044125
Error in line 1054118
Error in line 1054119
Error in line 1054137
Error in line 1054138
Error in line 1054157
Error in line 1056105
Error in line 1056106
Error in line 1056162
Error in line 1056163
Error in line 1056463
Error in line 1056464
Error in line 1056465
Error in line 1057691
Error in line 1057692
Error in line 1060760
Error in line 1060761
Error in line 1061540
Error in line 1061541
Error in line 1061726
Error in line 1061727
Error in line 1061728
Error in line 1062236
Error in line 1062237
Error in line 1062277
Error in line 1062278
Error in line 1062468
Error in line 1067280
Error in line 1067289
Error in line 1067290
Error in line 1074063
Error in line 1074064
Error in line 1074145
Error in line 1074146
Error in line 1074147
Error in line 1075397
Error in line 1075398
Error in line 1075399
Error in line 1077512
Error in line 1077513
Error in line 1078741
Error in line 1078742
Error in line 1081465
Error in line 1081466
Error in line 1081843
Error in line 1081844
Error in line 1083923
Error in line 1084895
Error in line 1084896
Error in line 1087362
Error in line 1087363
Error in line 1087364
Error in line 1087371
Error in line 1087372
Error in line 1087853
Error in line 1087854
Error in line 1090546
Error in line 1090548
Error in line 1093188
Error in line 1093189
Error in line 1093190
Error in line 1094430
Error in line 1094431
Error in line 1094432
Error in line 1096678
Error in line 1096679
Error in line 1097271
Error in line 1097272
Error in line 1099471
Error in line 1099472
Error in line 1099476
Error in line 1099477
Error in line 1099478
Error in line 1099491
Error in line 1099492
Error in line 1099493
Error in line 1099497
Error in line 1099498
Error in line 1099982
Error in line 1099983
Error in line 1100366
Error in line 1100367
Error in line 1101923
Error in line 1101924
Error in line 1107285
Error in line 1107286
Error in line 1110108
Error in line 1110109
Error in line 1110110
Error in line 1110834
Error in line 1110835
Error in line 1115142
Error in line 1115143
Error in line 1121166
Error in line 1121167
Error in line 1121578
Error in line 1121579
Error in line 1132671
Error in line 1132672
Error in line 1132705
Error in line 1132706
Error in line 1132900
Error in line 1132901
Error in line 1138705
Error in line 1138707
Error in line 1140044
Error in line 1140045
Error in line 1140046
Error in line 1141026
Error in line 1141027
Error in line 1142429
Error in line 1145182
Error in line 1145183
Error in line 1149465
Error in line 1149466
Error in line 1149467
Error in line 1149468
Error in line 1149469
Error in line 1150679
Error in line 1150680
Error in line 1151322
Error in line 1151324

Error in line 1153658
Error in line 1153659
Error in line 1153660
Error in line 1154612
Error in line 1154613
Error in line 1154995
Error in line 1154996
Error in line 1158137
Error in line 1158138
Error in line 1158139
Error in line 1158354
Error in line 1158990
Error in line 1158991
Error in line 1159960
Error in line 1159961
Error in line 1159962
Error in line 1161217
Error in line 1161218
Error in line 1161219
Error in line 1161734
Error in line 1161735
Error in line 1162171
Error in line 1162172
Error in line 1162173
Error in line 1165073
Error in line 1165074
Error in line 1165118
Error in line 1166302
Error in line 1166303
Error in line 1167433
Error in line 1167437
Error in line 1167824
Error in line 1167825
Error in line 1169282
Error in line 1169283
Error in line 1170963
Error in line 1170964
Error in line 1171726
Error in line 1171728
Error in line 1171729
Error in line 1171731
Error in line 1172540
Error in line 1172541
Error in line 1172817
Error in line 1172818
Error in line 1174641
Error in line 1174642
Error in line 1177489
Error in line 1177490
Error in line 1178938
Error in line 1178939
Error in line 1178952
Error in line 1178953
Error in line 1178972
Error in line 1178973
Error in line 1184504
Error in line 1187173
Error in line 1187174
Error in line 1187354
Error in line 1187356
Error in line 1187357
Error in line 1187358
Error in line 1190783
Error in line 1191059
Error in line 1191060
Error in line 1195115
Error in line 1195116
Error in line 1199768
Error in line 1199769
Error in line 1199853
Error in line 1209090
Error in line 1209091
Error in line 1209092
Error in line 1209922
Error in line 1209923
Error in line 1209924
Error in line 1211256
Error in line 1211257
Error in line 1211285
Error in line 1212672
Error in line 1212673
Error in line 1214105
Error in line 1214106
Error in line 1215736
Error in line 1215742
Error in line 1215743
Error in line 1216442
Error in line 1216443
Error in line 1217755
Error in line 1217756
Error in line 1220574
Error in line 1220576
Error in line 1220578
Error in line 1222580
Error in line 1222581
Error in line 1224906
Error in line 1231135
Error in line 1231136
Error in line 1232510
Error in line 1232511
Error in line 1233571
Error in line 1239484
Error in line 1239485
Error in line 1239486
Error in line 1239491
Error in line 1239492
Error in line 1239915
Error in line 1239916
Error in line 1239944
Error in line 1239946
Error in line 1239963
Error in line 1239964
Error in line 1243204
Error in line 1243205
Error in line 1243225
Error in line 1243226
Error in line 1246328
Error in line 1246329
Error in line 1247277
Error in line 1247278
Error in line 1247279
Error in line 1248615
Error in line 1254677
Error in line 1254678
Error in line 1255243
Error in line 1255244
Error in line 1258007
Error in line 1258008
Error in line 1258009
Error in line 1258010
Error in line 1258011
Error in line 1258012
Error in line 1258014
Error in line 1258015
Error in line 1258016
Error in line 1258025
Error in line 1258026
Error in line 1258170
Error in line 1258171
Error in line 1258653
Error in line 1258654
Error in line 1258975
Error in line 1258976
Error in line 1258977
Error in line 1261250
Error in line 1261254
Error in line 1261256
Error in line 1261268
Error in line 1261269
Error in line 1261270
Error in line 1262482
Error in line 1262483
Error in line 1262484
Error in line 1266646
Error in line 1266647
Error in line 1266648
Error in line 1267550
Error in line 1267551
Error in line 1267552
Error in line 1270081
Error in line 1270082
Error in line 1270083
Error in line 1273084
Error in line 1273085
Error in line 1276316
Error in line 1276317
Error in line 1277130
Error in line 1277142
Error in line 1277143
Error in line 1277157
Error in line 1277158
Error in line 1277159
Error in line 1279418
Error in line 1279419
Error in line 1279960
Error in line 1279961
Error in line 1282402
Error in line 1282403
Error in line 1282404
Error in line 1285067
Error in line 1285068
Error in line 1291425
Error in line 1291426
Error in line 1291427
Error in line 1291698
Error in line 1291699
Error in line 1291700
Error in line 1292900
Error in line 1292901
Error in line 1295636
Error in line 1295637
Error in line 1295639
Error in line 1295640
Error in line 1295641
Error in line 1297364
Error in line 1297365
Error in line 1297499
Error in line 1297500
Error in line 1297569
Error in line 1297570
Error in line 1297637
Error in line 1297639
Error in line 1297640
Error in line 1301735
Error in line 1301736
Error in line 1301738
Error in line 1304243
Error in line 1304245
Error in line 1304246
Error in line 1309409
Error in line 1309410
Error in line 1309412
Error in line 1310758
Error in line 1310759
Error in line 1310764
Error in line 1310765
Error in line 1310766
Error in line 1311228
Error in line 1311229
Error in line 1311234
Error in line 1311235
Error in line 1311236
Error in line 1311508
Error in line 1311509
Error in line 1311510
Error in line 1311572
Error in line 1311573
Error in line 1312694
Error in line 1312695
Error in line 1314987
Error in line 1314988
Error in line 1314989
Error in line 1315051
Error in line 1315052
Error in line 1315320
Error in line 1315321
Error in line 1315945
Error in line 1315947
Error in line 1317020
Error in line 1317021
Error in line 1321189
Error in line 1321190
Error in line 1323903
Error in line 1323904
Error in line 1324173
Error in line 1324174
Error in line 1325075
Error in line 1325076
Error in line 1325077
Error in line 1325939
Error in line 1325940
Error in line 1326784
Error in line 1326785
Error in line 1330530
Error in line 1330531
Error in line 1331556
Error in line 1331557
Error in line 1331586
Error in line 1331587
Error in line 1331588
Error in line 1331589
Error in line 1331590
Error in line 1331591
Error in line 1337176
Error in line 1337177
Error in line 1337878
Error in line 1337879
Error in line 1339634
Error in line 1339635
Error in line 1339636
Error in line 1339756
Error in line 1339757
Error in line 1342976
Error in line 1342977
Error in line 1344391
Error in line 1344393
Error in line 1345567
Error in line 1345568
Error in line 1345569
Error in line 1345575
Error in line 1345576
Error in line 1345577
Error in line 1346160
Error in line 1346161
Error in line 1346162
Error in line 1347416
Error in line 1347417
Error in line 1347418
Error in line 1347668
Error in line 1347669
Error in line 1347670
Error in line 1347912
Error in line 1347913
Error in line 1347914
Error in line 1347915
Error in line 1347916
Error in line 1347917
Error in line 1347918
Error in line 1347919
Error in line 1347920
Error in line 1347921
Error in line 1347922
Error in line 1347923
Error in line 1347924
Error in line 1347925
Error in line 1347926
Error in line 1347927
Error in line 1347928
Error in line 1347929
Error in line 1347930
Error in line 1347931
Error in line 1347932
Error in line 1347933
Error in line 1347934
Error in line 1347935
Error in line 1347936
Error in line 1347937
Error in line 1347938
Error in line 1347939
Error in line 1347940
Error in line 1347941
Error in line 1347942
Error in line 1347943
Error in line 1347944
Error in line 1347945
Error in line 1347946
Error in line 1347947
Error in line 1347948
Error in line 1347949
Error in line 1347950
Error in line 1347951
Error in line 1347952
Error in line 1347953
Error in line 1347954
Error in line 1347955
Error in line 1347956
Error in line 1347957
Error in line 1347958
Error in line 1347959
Error in line 1347960
Error in line 1347961
Error in line 1347962
Error in line 1347963
Error in line 1347964
Error in line 1347965
Error in line 1347966
Error in line 1347967
Error in line 1347968
Error in line 1347969
Error in line 1347970
Error in line 1347971
Error in line 1347972
Error in line 1347973
Error in line 1347974
Error in line 1347975
Error in line 1347976
Error in line 1347977
Error in line 1347978
Error in line 1347979
Error in line 1347980
Error in line 1347981
Error in line 1347982
Error in line 1347983
Error in line 1347984
Error in line 1347985
Error in line 1347986
Error in line 1347987
Error in line 1347988
Error in line 1347989
Error in line 1347990
Error in line 1347991
Error in line 1347992
Error in line 1347993
Error in line 1347994
Error in line 1347995
Error in line 1347996
Error in line 1347997
Error in line 1347998
Error in line 1347999
Error in line 1348000
Error in line 1348001
Error in line 1348002
Error in line 1348003
Error in line 1348004
Error in line 1348005
Error in line 1348006
Error in line 1348007
Error in line 1348008
Error in line 1348009
Error in line 1348010
Error in line 1348011
Error in line 1348012
Error in line 1348013
Error in line 1348014
Error in line 1348015
Error in line 1348016
Error in line 1348017
Error in line 1348018
Error in line 1348019
Error in line 1348020
Error in line 1348021
Error in line 1348022
Error in line 1348023
Error in line 1348024
Error in line 1348025
Error in line 1348026
Error in line 1348027
Error in line 1348028
Error in line 1348029
Error in line 1348030
Error in line 1348031
Error in line 1348032
Error in line 1348033
Error in line 1348034
Error in line 1348035
Error in line 1348036
Error in line 1348038
Error in line 1348039
Error in line 1348040
Error in line 1348041
Error in line 1348042

Error in line 1349550
Error in line 1349551
Error in line 1350187
Error in line 1352026
Error in line 1352027
Error in line 1355018
Error in line 1355019
Error in line 1355443
Error in line 1355444
Error in line 1355512
Error in line 1355513
Error in line 1355515
Error in line 1355516
Error in line 1358193
Error in line 1359646
Error in line 1359647
Error in line 1361558
Error in line 1361559
Error in line 1363397
Error in line 1363399
Error in line 1366642
Error in line 1366643
Error in line 1370710
Error in line 1370738
Error in line 1370739
Error in line 1370740
Error in line 1370752
Error in line 1370753
Error in line 1370755
Error in line 1370756
Error in line 1370758
Error in line 1370759
Error in line 1371626
Error in line 1371627
Error in line 1373669
Error in line 1373670
Error in line 1373678
Error in line 1373679
Error in line 1373680
Error in line 1375099
Error in line 1376833
Error in line 1376834
Error in line 1377670
Error in line 1377671
Error in line 1382713
Error in line 1382714
Error in line 1383746
Error in line 1383747
Error in line 1387894
Error in line 1387895
Error in line 1390562
Error in line 1390563
Error in line 1393368
Error in line 1395327
Error in line 1395328
Error in line 1397017
Error in line 1397035
Error in line 1397037
Error in line 1397038
Error in line 1397053
Error in line 1397055
Error in line 1397066
Error in line 1397345
Error in line 1397346
Error in line 1397378
Error in line 1397379
Error in line 1397388
Error in line 1397389
Error in line 1397390
Error in line 1397402
Error in line 1397403
Error in line 1400485
Error in line 1400486
Error in line 1401877
Error in line 1401879
Error in line 1401880
Error in line 1401942
Error in line 1401943
Error in line 1401944
Error in line 1401987
Error in line 1401988
Error in line 1402016
Error in line 1402017
Error in line 1402018
Error in line 1402026
Error in line 1402027
Error in line 1402041
Error in line 1402042
Error in line 1402143
Error in line 1402144
Error in line 1402145
Error in line 1402633
Error in line 1406085
Error in line 1406086
Error in line 1409806
Error in line 1409807
Error in line 1409808
Error in line 1411060
Error in line 1411061
Error in line 1413379
Error in line 1413380
Error in line 1413405
Error in line 1413406
Error in line 1416215
Error in line 1416216
Error in line 1416217
Error in line 1416535
Error in line 1416536
Error in line 1416539
Error in line 1416540
Error in line 1416541
Error in line 1418302
Error in line 1418342
Error in line 1418343
Error in line 1418344
Error in line 1419913
Error in line 1419914
Error in line 1420478
Error in line 1420479
Error in line 1422057
Error in line 1422058
Error in line 1426786
Error in line 1432896
Error in line 1432897
Error in line 1437450
Error in line 1437496
Error in line 1437497
Error in line 1437555
Error in line 1437556
Error in line 1437577
Error in line 1437578
Error in line 1437636
Error in line 1437637
Error in line 1437638
Error in line 1437655
Error in line 1437656
Error in line 1439455
Error in line 1443748
Error in line 1444687
Error in line 1444688
Error in line 1444698
Error in line 1444699
Error in line 1444700
Error in line 1444738
Error in line 1444740
Error in line 1444741
Error in line 1444742
Error in line 1444798
Error in line 1444799
Error in line 1444800
Error in line 1444801
Error in line 1444847
Error in line 1444883
Error in line 1444884
Error in line 1446048
Error in line 1446049
Error in line 1446050

In [11]:
# Create the output folder if it does not exist
create_folder(split_path)

# Read and split the DataFrame into smaller chunks
df_reviews = pd.read_csv(os.path.join(folder_path, rotten_movie_review_file), chunksize=chunk_size)
for i, chunk in enumerate(df_reviews):
    if i >= num_chunks:
        break
    chunk.to_csv(os.path.join(split_path, f'{i}_chunk.csv'), index=False)
    print(f"{f'{i}_chunk.csv'} split.")

0_chunk.csv split.
1_chunk.csv split.
2_chunk.csv split.
3_chunk.csv split.
4_chunk.csv split.
5_chunk.csv split.
6_chunk.csv split.
7_chunk.csv split.
8_chunk.csv split.
9_chunk.csv split.
10_chunk.csv split.
11_chunk.csv split.
12_chunk.csv split.
13_chunk.csv split.
14_chunk.csv split.
15_chunk.csv split.
16_chunk.csv split.
17_chunk.csv split.
18_chunk.csv split.
19_chunk.csv split.
20_chunk.csv split.
21_chunk.csv split.
22_chunk.csv split.
23_chunk.csv split.
24_chunk.csv split.
25_chunk.csv split.
26_chunk.csv split.
27_chunk.csv split.
28_chunk.csv split.
29_chunk.csv split.
30_chunk.csv split.
31_chunk.csv split.
32_chunk.csv split.
33_chunk.csv split.
34_chunk.csv split.
35_chunk.csv split.
36_chunk.csv split.
37_chunk.csv split.
38_chunk.csv split.
39_chunk.csv split.
40_chunk.csv split.
41_chunk.csv split.
42_chunk.csv split.
43_chunk.csv split.
44_chunk.csv split.
45_chunk.csv split.
46_chunk.csv split.
47_chunk.csv split.
48_chunk.csv split.
49_chunk.csv split.
50_chunk.csv split.
51_chunk.csv split.
52_chunk.csv split.
53_chunk.csv split.
54_chunk.csv split.
55_chunk.csv split.
56_chunk.csv split.
57_chunk.csv split.
58_chunk.csv split.
59_chunk.csv split.
60_chunk.csv split.
61_chunk.csv split.
62_chunk.csv split.
63_chunk.csv split.
64_chunk.csv split.
65_chunk.csv split.
66_chunk.csv split.
67_chunk.csv split.
68_chunk.csv split.
69_chunk.csv split.
70_chunk.csv split.
71_chunk.csv split.
72_chunk.csv split.
73_chunk.csv split.
74_chunk.csv split.
75_chunk.csv split.
76_chunk.csv split.
77_chunk.csv split.
78_chunk.csv split.
79_chunk.csv split.
80_chunk.csv split.
81_chunk.csv split.
82_chunk.csv split.
83_chunk.csv split.
84_chunk.csv split.
85_chunk.csv split.
86_chunk.csv split.
87_chunk.csv split.
88_chunk.csv split.
89_chunk.csv split.
90_chunk.csv split.
91_chunk.csv split.
92_chunk.csv split.
93_chunk.csv split.
94_chunk.csv split.
95_chunk.csv split.
96_chunk.csv split.
97_chunk.csv split.
98_chunk.csv split.
99_chunk.csv split.

In [12]:
# Read the first chunk to get the number of columns
first_chunk = pd.read_csv(os.path.join(folder_path, rotten_movie_review_file), nrows=5)
num_columns = first_chunk.shape[1]

# Read and split the DataFrame into smaller chunks
df_reviews = pd.read_csv(os.path.join(folder_path, rotten_movie_review_file), chunksize=chunk_size)
for i, chunk in enumerate(df_reviews):
    if i >= num_chunks:
        break
    # Check if the chunk has the correct number of columns
    if chunk.shape[1] != num_columns:
        print(f"Skipping chunk {i} due to incorrect number of columns.")
        continue
    chunk.to_csv(os.path.join(split_path, f'{i}_chunk.csv'), index=False)
    print(f"{f'{i}_chunk.csv'} split.")

0_chunk.csv split.
1_chunk.csv split.
2_chunk.csv split.
3_chunk.csv split.
4_chunk.csv split.
5_chunk.csv split.
6_chunk.csv split.
7_chunk.csv split.
8_chunk.csv split.
9_chunk.csv split.
10_chunk.csv split.
11_chunk.csv split.
12_chunk.csv split.
13_chunk.csv split.
14_chunk.csv split.
15_chunk.csv split.
16_chunk.csv split.
17_chunk.csv split.
18_chunk.csv split.
19_chunk.csv split.
20_chunk.csv split.
21_chunk.csv split.
22_chunk.csv split.
23_chunk.csv split.
24_chunk.csv split.
25_chunk.csv split.
26_chunk.csv split.
27_chunk.csv split.
28_chunk.csv split.
29_chunk.csv split.
30_chunk.csv split.
31_chunk.csv split.
32_chunk.csv split.
33_chunk.csv split.
34_chunk.csv split.
35_chunk.csv split.
36_chunk.csv split.
37_chunk.csv split.
38_chunk.csv split.
39_chunk.csv split.
40_chunk.csv split.
41_chunk.csv split.
42_chunk.csv split.
43_chunk.csv split.
44_chunk.csv split.
45_chunk.csv split.
46_chunk.csv split.
47_chunk.csv split.
48_chunk.csv split.
49_chunk.csv split.
50_chunk.csv split.
51_chunk.csv split.
52_chunk.csv split.
53_chunk.csv split.
54_chunk.csv split.
55_chunk.csv split.
56_chunk.csv split.
57_chunk.csv split.
58_chunk.csv split.
59_chunk.csv split.
60_chunk.csv split.
61_chunk.csv split.
62_chunk.csv split.
63_chunk.csv split.
64_chunk.csv split.
65_chunk.csv split.
66_chunk.csv split.
67_chunk.csv split.
68_chunk.csv split.
69_chunk.csv split.
70_chunk.csv split.
71_chunk.csv split.
72_chunk.csv split.
73_chunk.csv split.
74_chunk.csv split.
75_chunk.csv split.
76_chunk.csv split.
77_chunk.csv split.
78_chunk.csv split.
79_chunk.csv split.
80_chunk.csv split.
81_chunk.csv split.
82_chunk.csv split.
83_chunk.csv split.
84_chunk.csv split.
85_chunk.csv split.
86_chunk.csv split.
87_chunk.csv split.
88_chunk.csv split.
89_chunk.csv split.
90_chunk.csv split.
91_chunk.csv split.
92_chunk.csv split.
93_chunk.csv split.
94_chunk.csv split.
95_chunk.csv split.
96_chunk.csv split.
97_chunk.csv split.
98_chunk.csv split.
99_chunk.csv split.

In [15]:
# Initialize i for the while loop
i = 0

# Loop through the smaller CSV files and apply the add_title_ids_2 function to each one
while True:
    file_path = os.path.join(split_path, f'{i}_chunk.csv')
    if not os.path.exists(file_path):
        break
    chunk_df = pd.read_csv(file_path)
    add_title_ids_2(rotten_movie_file, f'{i}_chunk.csv', on_col, split_path, split_path, compare_path)
    i += 1

Missing IDs Count: 465
0_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 371
1_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 315
2_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 354
3_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 366
4_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 391
5_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 345
6_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 355
7_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 368
8_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 354
9_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 400
10_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 349
11_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 327
12_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 415
13_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 338
14_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 328
15_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 368
16_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 368
17_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 400
18_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 390
19_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 320
20_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 320
21_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 377
22_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 373
23_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 360
24_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 386
25_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 306
26_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 375
27_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 387
28_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 290
29_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 439
30_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 390
31_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 338
32_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 314
33_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 282
34_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 305
35_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 365
36_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 393
37_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 367
38_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 347
39_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 382
40_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 336
41_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 320
42_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 315
43_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 349
44_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 352
45_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 324
46_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 393
47_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 342
48_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 326
49_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 346
50_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 385
51_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 364
52_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 287
53_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 354
54_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 326
55_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 327
56_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 388
57_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 418
58_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 363
59_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 343
60_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 301
61_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 334
62_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 335
63_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 334
64_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 368
65_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 397
66_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 341
67_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 377
68_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 320
69_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 436
70_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 333
71_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 337
72_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 300
73_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 327
74_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 348
75_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 339

76_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 368
77_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 319
78_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 373
79_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 316
80_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 345
81_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 390
82_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 292
83_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 341
84_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 390
85_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 386
86_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 418
87_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 390
88_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 348
89_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 299
90_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 354
91_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 388
92_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 363
93_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 353
94_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 319
95_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 315
96_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 377
97_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 401
98_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
Missing IDs Count: 226
99_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1

In [16]:
# Drop rows were text is blank 
i = 0

# Loop through the smaller CSV files to drop rows where 'reviewtext' is blank
while True:
    file_path = os.path.join(split_path, f'{i}_chunk.csv')
    if not os.path.exists(file_path):
        break
    chunk_df = pd.read_csv(file_path)
    
    # Drop rows where 'reviewtext' is blank or NaN
    chunk_df.dropna(subset=['reviewtext'], inplace=True)
    
    # Save the cleaned DataFrame back to the file
    chunk_df.to_csv(file_path, index=False)
    
    print(f"Rows with blank 'reviewtext' dropped from {f'{i}_chunk.csv'}")
    
    i += 1

Rows with blank 'reviewtext' dropped from 0_chunk.csv
Rows with blank 'reviewtext' dropped from 1_chunk.csv
Rows with blank 'reviewtext' dropped from 2_chunk.csv
Rows with blank 'reviewtext' dropped from 3_chunk.csv
Rows with blank 'reviewtext' dropped from 4_chunk.csv
Rows with blank 'reviewtext' dropped from 5_chunk.csv
Rows with blank 'reviewtext' dropped from 6_chunk.csv
Rows with blank 'reviewtext' dropped from 7_chunk.csv
Rows with blank 'reviewtext' dropped from 8_chunk.csv
Rows with blank 'reviewtext' dropped from 9_chunk.csv
Rows with blank 'reviewtext' dropped from 10_chunk.csv
Rows with blank 'reviewtext' dropped from 11_chunk.csv
Rows with blank 'reviewtext' dropped from 12_chunk.csv
Rows with blank 'reviewtext' dropped from 13_chunk.csv
Rows with blank 'reviewtext' dropped from 14_chunk.csv
Rows with blank 'reviewtext' dropped from 15_chunk.csv
Rows with blank 'reviewtext' dropped from 16_chunk.csv
Rows with blank 'reviewtext' dropped from 17_chunk.csv
Rows with blank 'reviewtext' dropped from 18_chunk.csv
Rows with blank 'reviewtext' dropped from 19_chunk.csv
Rows with blank 'reviewtext' dropped from 20_chunk.csv
Rows with blank 'reviewtext' dropped from 21_chunk.csv
Rows with blank 'reviewtext' dropped from 22_chunk.csv
Rows with blank 'reviewtext' dropped from 23_chunk.csv
Rows with blank 'reviewtext' dropped from 24_chunk.csv
Rows with blank 'reviewtext' dropped from 25_chunk.csv
Rows with blank 'reviewtext' dropped from 26_chunk.csv
Rows with blank 'reviewtext' dropped from 27_chunk.csv
Rows with blank 'reviewtext' dropped from 28_chunk.csv
Rows with blank 'reviewtext' dropped from 29_chunk.csv
Rows with blank 'reviewtext' dropped from 30_chunk.csv
Rows with blank 'reviewtext' dropped from 31_chunk.csv
Rows with blank 'reviewtext' dropped from 32_chunk.csv
Rows with blank 'reviewtext' dropped from 33_chunk.csv
Rows with blank 'reviewtext' dropped from 34_chunk.csv
Rows with blank 'reviewtext' dropped from 35_chunk.csv
Rows with blank 'reviewtext' dropped from 36_chunk.csv
Rows with blank 'reviewtext' dropped from 37_chunk.csv
Rows with blank 'reviewtext' dropped from 38_chunk.csv
Rows with blank 'reviewtext' dropped from 39_chunk.csv
Rows with blank 'reviewtext' dropped from 40_chunk.csv
Rows with blank 'reviewtext' dropped from 41_chunk.csv
Rows with blank 'reviewtext' dropped from 42_chunk.csv
Rows with blank 'reviewtext' dropped from 43_chunk.csv
Rows with blank 'reviewtext' dropped from 44_chunk.csv
Rows with blank 'reviewtext' dropped from 45_chunk.csv
Rows with blank 'reviewtext' dropped from 46_chunk.csv
Rows with blank 'reviewtext' dropped from 47_chunk.csv
Rows with blank 'reviewtext' dropped from 48_chunk.csv
Rows with blank 'reviewtext' dropped from 49_chunk.csv
Rows with blank 'reviewtext' dropped from 50_chunk.csv
Rows with blank 'reviewtext' dropped from 51_chunk.csv
Rows with blank 'reviewtext' dropped from 52_chunk.csv
Rows with blank 'reviewtext' dropped from 53_chunk.csv
Rows with blank 'reviewtext' dropped from 54_chunk.csv
Rows with blank 'reviewtext' dropped from 55_chunk.csv
Rows with blank 'reviewtext' dropped from 56_chunk.csv
Rows with blank 'reviewtext' dropped from 57_chunk.csv
Rows with blank 'reviewtext' dropped from 58_chunk.csv
Rows with blank 'reviewtext' dropped from 59_chunk.csv
Rows with blank 'reviewtext' dropped from 60_chunk.csv
Rows with blank 'reviewtext' dropped from 61_chunk.csv
Rows with blank 'reviewtext' dropped from 62_chunk.csv
Rows with blank 'reviewtext' dropped from 63_chunk.csv
Rows with blank 'reviewtext' dropped from 64_chunk.csv
Rows with blank 'reviewtext' dropped from 65_chunk.csv
Rows with blank 'reviewtext' dropped from 66_chunk.csv
Rows with blank 'reviewtext' dropped from 67_chunk.csv
Rows with blank 'reviewtext' dropped from 68_chunk.csv
Rows with blank 'reviewtext' dropped from 69_chunk.csv
Rows with blank 'reviewtext' dropped from 70_chunk.csv
Rows with blank 'reviewtext' dropped from 71_chunk.csv
Rows with blank 'reviewtext' dropped from 72_chunk.csv
Rows with blank 'reviewtext' dropped from 73_chunk.csv
Rows with blank 'reviewtext' dropped from 74_chunk.csv
Rows with blank 'reviewtext' dropped from 75_chunk.csv
Rows with blank 'reviewtext' dropped from 76_chunk.csv
Rows with blank 'reviewtext' dropped from 77_chunk.csv
Rows with blank 'reviewtext' dropped from 78_chunk.csv
Rows with blank 'reviewtext' dropped from 79_chunk.csv
Rows with blank 'reviewtext' dropped from 80_chunk.csv
Rows with blank 'reviewtext' dropped from 81_chunk.csv
Rows with blank 'reviewtext' dropped from 82_chunk.csv
Rows with blank 'reviewtext' dropped from 83_chunk.csv
Rows with blank 'reviewtext' dropped from 84_chunk.csv
Rows with blank 'reviewtext' dropped from 85_chunk.csv
Rows with blank 'reviewtext' dropped from 86_chunk.csv
Rows with blank 'reviewtext' dropped from 87_chunk.csv
Rows with blank 'reviewtext' dropped from 88_chunk.csv
Rows with blank 'reviewtext' dropped from 89_chunk.csv
Rows with blank 'reviewtext' dropped from 90_chunk.csv
Rows with blank 'reviewtext' dropped from 91_chunk.csv
Rows with blank 'reviewtext' dropped from 92_chunk.csv
Rows with blank 'reviewtext' dropped from 93_chunk.csv
Rows with blank 'reviewtext' dropped from 94_chunk.csv
Rows with blank 'reviewtext' dropped from 95_chunk.csv
Rows with blank 'reviewtext' dropped from 96_chunk.csv
Rows with blank 'reviewtext' dropped from 97_chunk.csv
Rows with blank 'reviewtext' dropped from 98_chunk.csv
Rows with blank 'reviewtext' dropped from 99_chunk.csv

In [17]:
# Count columns to ensure all have 7 column prior to merge
i = 0

# Initialize an empty dictionary to store the number of columns for each chunk
chunk_columns_count = {}

# Loop through the smaller CSV files to count the number of columns
while True:
    file_path = os.path.join(split_path, f'{i}_chunk.csv')
    if not os.path.exists(file_path):
        break
    chunk_df = pd.read_csv(file_path)
    
    # Count the number of columns and store it in the dictionary
    chunk_columns_count[f'{i}_chunk.csv'] = chunk_df.shape[1]
    
    print(f"{f'{i}_chunk.csv'} has {chunk_df.shape[1]} columns.")
    
    i += 1

# Print the dictionary to see the number of columns for each chunk
print("Number of columns for each chunk:", chunk_columns_count)

0_chunk.csv has 7 columns.
1_chunk.csv has 7 columns.
2_chunk.csv has 7 columns.
3_chunk.csv has 7 columns.
4_chunk.csv has 7 columns.
5_chunk.csv has 7 columns.
6_chunk.csv has 7 columns.
7_chunk.csv has 7 columns.
8_chunk.csv has 7 columns.
9_chunk.csv has 7 columns.
10_chunk.csv has 7 columns.
11_chunk.csv has 7 columns.
12_chunk.csv has 7 columns.
13_chunk.csv has 7 columns.
14_chunk.csv has 7 columns.
15_chunk.csv has 7 columns.
16_chunk.csv has 7 columns.
17_chunk.csv has 7 columns.
18_chunk.csv has 7 columns.
19_chunk.csv has 7 columns.
20_chunk.csv has 7 columns.
21_chunk.csv has 7 columns.
22_chunk.csv has 7 columns.
23_chunk.csv has 7 columns.
24_chunk.csv has 7 columns.
25_chunk.csv has 7 columns.
26_chunk.csv has 7 columns.
27_chunk.csv has 7 columns.
28_chunk.csv has 7 columns.
29_chunk.csv has 7 columns.
30_chunk.csv has 7 columns.
31_chunk.csv has 7 columns.
32_chunk.csv has 7 columns.
33_chunk.csv has 7 columns.
34_chunk.csv has 7 columns.
35_chunk.csv has 7 columns.
36_chunk.csv has 7 columns.
37_chunk.csv has 7 columns.
38_chunk.csv has 7 columns.
39_chunk.csv has 7 columns.
40_chunk.csv has 7 columns.
41_chunk.csv has 7 columns.
42_chunk.csv has 7 columns.
43_chunk.csv has 7 columns.
44_chunk.csv has 7 columns.
45_chunk.csv has 7 columns.
46_chunk.csv has 7 columns.
47_chunk.csv has 7 columns.
48_chunk.csv has 7 columns.
49_chunk.csv has 7 columns.
50_chunk.csv has 7 columns.
51_chunk.csv has 7 columns.
52_chunk.csv has 7 columns.
53_chunk.csv has 7 columns.
54_chunk.csv has 7 columns.
55_chunk.csv has 7 columns.
56_chunk.csv has 7 columns.
57_chunk.csv has 7 columns.
58_chunk.csv has 7 columns.
59_chunk.csv has 7 columns.
60_chunk.csv has 7 columns.
61_chunk.csv has 7 columns.
62_chunk.csv has 7 columns.
63_chunk.csv has 7 columns.
64_chunk.csv has 7 columns.
65_chunk.csv has 7 columns.
66_chunk.csv has 7 columns.
67_chunk.csv has 7 columns.
68_chunk.csv has 7 columns.
69_chunk.csv has 7 columns.
70_chunk.csv has 7 columns.
71_chunk.csv has 7 columns.
72_chunk.csv has 7 columns.
73_chunk.csv has 7 columns.
74_chunk.csv has 7 columns.
75_chunk.csv has 7 columns.
76_chunk.csv has 7 columns.
77_chunk.csv has 7 columns.
78_chunk.csv has 7 columns.
79_chunk.csv has 7 columns.
80_chunk.csv has 7 columns.
81_chunk.csv has 7 columns.
82_chunk.csv has 7 columns.
83_chunk.csv has 7 columns.
84_chunk.csv has 7 columns.
85_chunk.csv has 7 columns.
86_chunk.csv has 7 columns.
87_chunk.csv has 7 columns.
88_chunk.csv has 7 columns.
89_chunk.csv has 7 columns.
90_chunk.csv has 7 columns.
91_chunk.csv has 7 columns.
92_chunk.csv has 7 columns.
93_chunk.csv has 7 columns.
94_chunk.csv has 7 columns.
95_chunk.csv has 7 columns.
96_chunk.csv has 7 columns.
97_chunk.csv has 7 columns.
98_chunk.csv has 7 columns.
99_chunk.csv has 7 columns.
Number of columns for each chunk: {'0_chunk.csv': 7, '1_chunk.csv': 7, '2_chunk.csv': 7, '3_chunk.csv': 7, '4_chunk.csv': 7, '5_chunk.csv': 7, '6_chunk.csv': 7, '7_chunk.csv': 7, '8_chunk.csv': 7, '9_chunk.csv': 7, '10_chunk.csv': 7, '11_chunk.csv': 7, '12_chunk.csv': 7, '13_chunk.csv': 7, '14_chunk.csv': 7, '15_chunk.csv': 7, '16_chunk.csv': 7, '17_chunk.csv': 7, '18_chunk.csv': 7, '19_chunk.csv': 7, '20_chunk.csv': 7, '21_chunk.csv': 7, '22_chunk.csv': 7, '23_chunk.csv': 7, '24_chunk.csv': 7, '25_chunk.csv': 7, '26_chunk.csv': 7, '27_chunk.csv': 7, '28_chunk.csv': 7, '29_chunk.csv': 7, '30_chunk.csv': 7, '31_chunk.csv': 7, '32_chunk.csv': 7, '33_chunk.csv': 7, '34_chunk.csv': 7, '35_chunk.csv': 7, '36_chunk.csv': 7, '37_chunk.csv': 7, '38_chunk.csv': 7, '39_chunk.csv': 7, '40_chunk.csv': 7, '41_chunk.csv': 7, '42_chunk.csv': 7, '43_chunk.csv': 7, '44_chunk.csv': 7, '45_chunk.csv': 7, '46_chunk.csv': 7, '47_chunk.csv': 7, '48_chunk.csv': 7, '49_chunk.csv': 7, '50_chunk.csv': 7, '51_chunk.csv': 7, '52_chunk.csv': 7, '53_chunk.csv': 7, '54_chunk.csv': 7, '55_chunk.csv': 7, '56_chunk.csv': 7, '57_chunk.csv': 7, '58_chunk.csv': 7, '59_chunk.csv': 7, '60_chunk.csv': 7, '61_chunk.csv': 7, '62_chunk.csv': 7, '63_chunk.csv': 7, '64_chunk.csv': 7, '65_chunk.csv': 7, '66_chunk.csv': 7, '67_chunk.csv': 7, '68_chunk.csv': 7, '69_chunk.csv': 7, '70_chunk.csv': 7, '71_chunk.csv': 7, '72_chunk.csv': 7, '73_chunk.csv': 7, '74_chunk.csv': 7, '75_chunk.csv': 7, '76_chunk.csv': 7, '77_chunk.csv': 7, '78_chunk.csv': 7, '79_chunk.csv': 7, '80_chunk.csv': 7, '81_chunk.csv': 7, '82_chunk.csv': 7, '83_chunk.csv': 7, '84_chunk.csv': 7, '85_chunk.csv': 7, '86_chunk.csv': 7, '87_chunk.csv': 7, '88_chunk.csv': 7, '89_chunk.csv': 7, '90_chunk.csv': 7, '91_chunk.csv': 7, '92_chunk.csv': 7, '93_chunk.csv': 7, '94_chunk.csv': 7, '95_chunk.csv': 7, '96_chunk.csv': 7, '97_chunk.csv': 7, '98_chunk.csv': 7, '99_chunk.csv': 7}

In [20]:
# Takes all the "chunk.csv" files from the input folder, groups them into three equal parts, and concatenates these parts into three separate CSV files, saving them to the output folder.
input_folder = '/Users/toniwork/Desktop/Capstone/split_1'
output_folder = '/Users/toniwork/Desktop/Capstone/step_2'

# Get all files in the input folder that end with "chunk.csv"
all_files = [f for f in os.listdir(input_folder) if f.endswith("chunk.csv")]

# Initialize an empty DataFrame to store the concatenated chunks
concatenated_df = pd.DataFrame()

# Loop through all chunk files
for i, file_name in enumerate(all_files):
    # Read in chunk file as a DataFrame
    chunk_df = pd.read_csv(os.path.join(input_folder, file_name))
    
    # Append chunk DataFrame to the concatenated DataFrame
    concatenated_df = pd.concat([concatenated_df, chunk_df], ignore_index=True)

# Split the concatenated DataFrame into three equal parts
dfs = np.array_split(concatenated_df, 3)

# Save each part as a separate CSV file
for i, df in enumerate(dfs):
    output_file = os.path.join(output_folder, f"rotten_tomatoes_movie_reviews_concat{i+1}.csv")
    df.to_csv(output_file, index=False)

# Print confirmation message
print(f"All chunk files concatenated and saved to {output_folder}")

All chunk files concatenated and saved to /Users/toniwork/Desktop/Capstone/step_2

In [21]:
# Print file info from folder to verify 
folder_path = '/Users/toniwork/Desktop/Capstone/step_2'

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        
        # Read in the CSV file as a DataFrame
        df = pd.read_csv(file_path)
        print(file_name,':',df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7256 entries, 0 to 7255
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   title                     7256 non-null   object
 1   domestic_box_office       7256 non-null   float64
 2   international_box_office  5040 non-null   float64
 3   genre                     7220 non-null   object
 4   worldwide_box_office      5040 non-null   float64
 5   release_year              7255 non-null   float64
 6   release_month             7254 non-null   float64
 7   release_day               7250 non-null   float64
 8   release_date              7255 non-null   object
 9   id                        7256 non-null   int64
 10  languages                 7256 non-null   object
 11  title_id                  7256 non-null   int64
dtypes: float64(6), int64(2), object(4)
memory usage: 680.4+ KB
movies_dataset.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9345 entries, 0 to 9344
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           9345 non-null   object
 1   rating          8560 non-null   object
 2   user_rating     7674 non-null   float64
 3   website_rating  9345 non-null   int64
 4   release_date    9345 non-null   object
 5   release_year    9345 non-null   int64
 6   release_month   9345 non-null   int64
 7   release_day     9345 non-null   int64
 8   title_id        9345 non-null   int64
dtypes: float64(1), int64(5), object(3)
memory usage: 657.2+ KB
metacritic-reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4112 entries, 0 to 4111
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          4112 non-null   object
 1   review         3183 non-null   object
 2   review_date    3913 non-null   object
 3   comment_count  3823 non-null   float64
 4   like_count     2978 non-null   float64
 5   release_year   4096 non-null   float64
 6   title_id       4112 non-null   int64
dtypes: float64(3), int64(1), object(3)
memory usage: 225.0+ KB
letterboxd-reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361424 entries, 0 to 361423
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   reviewtext      361424 non-null  object
 1   scoresentiment  361424 non-null  object
 2   id              361424 non-null  object
 3   istopcritic     361424 non-null  bool
 4   originalscore   254035 non-null  object
 5   creationdate    361424 non-null  object
 6   title_id        361424 non-null  int64
dtypes: bool(1), int64(1), object(5)
memory usage: 16.9+ MB
rotten_tomatoes_movie_reviews_concat2.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361423 entries, 0 to 361422
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   reviewtext      361423 non-null  object
 1   scoresentiment  361423 non-null  object
 2   id              361423 non-null  object
 3   istopcritic     361423 non-null  bool
 4   originalscore   253040 non-null  object
 5   creationdate    361423 non-null  object
 6   title_id        361423 non-null  int64
dtypes: bool(1), int64(1), object(5)
memory usage: 16.9+ MB
rotten_tomatoes_movie_reviews_concat3.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361424 entries, 0 to 361423
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   reviewtext      361424 non-null  object
 1   scoresentiment  361424 non-null  object
 2   id              361424 non-null  object
 3   istopcritic     361424 non-null  bool
 4   originalscore   252972 non-null  object
 5   creationdate    361424 non-null  object
 6   title_id        361424 non-null  int64
dtypes: bool(1), int64(1), object(5)
memory usage: 16.9+ MB
rotten_tomatoes_movie_reviews_concat1.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56213 entries, 0 to 56212
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  56213 non-null  object
 1   audience_score         36808 non-null  float64
 2   tomato_meter           21458 non-null  float64
 3   director               55559 non-null  object
 4   id                     56213 non-null  object
 5   box_office             66 non-null     float64
 6   release_date_theaters  24231 non-null  object
 7   original_language      56213 non-null  object
 8   title_id               56213 non-null  int64
dtypes: float64(3), int64(1), object(5)
memory usage: 3.9+ MB
rotten_tomatoes_movies.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221683 entries, 0 to 221682
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        221683 non-null  int64
 1   credits   144631 non-null  object
 2   title_id  221683 non-null  int64
dtypes: int64(2), object(1)
memory usage: 5.1+ MB
movies_extras.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10293 entries, 0 to 10292
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie_title  10293 non-null  object
 1   rating       10028 non-null  float64
 2   user_rating  2393 non-null   float64
 3   director     10293 non-null  object
 4   top_5_casts  10293 non-null  object
 5   year         10293 non-null  int64
 6   title_id     10293 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 563.0+ KB
25k IMDb movie Dataset.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222729 entries, 0 to 222728
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   title              222729 non-null  object
 1   genres             152291 non-null  object
 2   popularity         222729 non-null  float64
 3   budget             222729 non-null  float64
 4   revenue            222729 non-null  float64
 5   vote_average       222729 non-null  float64
 6   vote_count         222729 non-null  float64
 7   id                 222729 non-null  int64
 8   release_date       217449 non-null  object
 9   original_language  222729 non-null  object
 10  title_id           222729 non-null  int64
dtypes: float64(5), int64(2), object(4)
memory usage: 18.7+ MB
movies.csv : None

### Delete files, drop columns, rename columns
- Delete files/folders to clean up space utilization
- Drop columns that are no longer needed, such as release date information
- Rename columns in order to prepare for merging

In [22]:
# Delete folder/files
folder_path1 = '/Users/toniwork/Desktop/Capstone/step_1'
folder_path2 = '/Users/toniwork/Desktop/Capstone/split_1'

# Remove the first folder and its contents
# shutil.rmtree(folder_path1)

# Remove the second folder and its contents
shutil.rmtree(folder_path2)

In [23]:
# Drop columns using drop_columns_by_keyword_or_name function
folder_path = '/Users/toniwork/Desktop/Capstone/step_2'

drop_columns_by_keyword_or_name(folder_path, keyword='release')
drop_columns_by_keyword_or_name(folder_path, column_names=['id', 'languages', 'production_companies'], file_name='movies_dataset.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['id'], file_name='rotten_tomatoes_movie_reviews_concat1.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['id'], file_name='rotten_tomatoes_movie_reviews_concat2.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['id'], file_name='rotten_tomatoes_movie_reviews_concat3.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['id', 'original_language'], file_name='rotten_tomatoes_movies.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['year'], file_name='25k IMDb movie Dataset.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['id', 'original_language'], file_name='movies.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['id'], file_name='movies_extras.csv')

movies_dataset.csv updated successfully!
metacritic-reviews.csv updated successfully!
letterboxd-reviews.csv updated successfully!
rotten_tomatoes_movie_reviews_concat2.csv updated successfully!
rotten_tomatoes_movie_reviews_concat3.csv updated successfully!
rotten_tomatoes_movie_reviews_concat1.csv updated successfully!
rotten_tomatoes_movies.csv updated successfully!
movies_extras.csv updated successfully!
25k IMDb movie Dataset.csv updated successfully!
movies.csv updated successfully!
movies_dataset.csv updated successfully!
rotten_tomatoes_movie_reviews_concat1.csv updated successfully!
rotten_tomatoes_movie_reviews_concat2.csv updated successfully!
rotten_tomatoes_movie_reviews_concat3.csv updated successfully!
rotten_tomatoes_movies.csv updated successfully!
25k IMDb movie Dataset.csv updated successfully!
movies.csv updated successfully!
movies_extras.csv updated successfully!

In [24]:
# Rename rating column to mpaa_rating in metacritic-reviews.csv
df = pd.read_csv('/Users/toniwork/Desktop/Capstone/step_2/metacritic-reviews.csv')

# Define a dictionary to map old column names to new column names
column_mapping = {
    'rating': 'mpaa_rating'
}

# Rename the columns using the dictionary
df.rename(columns=column_mapping, inplace=True)

# Save the updated DataFrame to a new file
df.to_csv('/Users/toniwork/Desktop/Capstone/step_2/metacritic-reviews.csv', index=False)

In [25]:
# Rename rating column to mpaa_rating in metacritic-reviews.csv
df = pd.read_csv('/Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv')

# Define a dictionary to map old column names to new column names
column_mapping = {
    'movie_title': 'title'
}

# Rename the columns using the dictionary
df.rename(columns=column_mapping, inplace=True)

# Save the updated DataFrame to a new file
df.to_csv('/Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv', index=False)

In [26]:
# Rename columns from the rotten_tomatoes_movie_reviews_concat1-3.csv's
new_col_names = {
    'reviewtext': 'review_text',
    'creationdate': 'creation_date',
    'istopcritic': 'rt_is_top_critic',
    'originalscore': 'rt_original_score',
    'scoresentiment' : 'rt_score_sentiment'
}

# loop through the file paths
for file_path in ['/Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movie_reviews_concat1.csv', 
                  '/Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movie_reviews_concat2.csv', 
                  '/Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movie_reviews_concat3.csv']:
    
    # load the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # update the column names
    df.rename(columns=new_col_names, inplace=True)
    
    # save the updated DataFrame to the same file path
    df.to_csv(file_path, index=False)

I am dropping these specific rows from various CSV files to ensure data quality and consistency across my dataset. By removing rows with missing or null values in key columns, I am eliminating potential inaccuracies and focusing on the data that is most relevant to my analysis.

In [27]:
# Dropping rows for data consistency

folder_path = '/Users/toniwork/Desktop/Capstone/step_2'

file_patterns_to_columns = {
    'rotten_tomatoes_movie_reviews_concat': ['review_text'],
    'movies_extras.csv': ['credits'],
    'letterboxd-reviews.csv': ['review'],
    'rotten_tomatoes_movies.csv': {'subset': ['audience_score', 'tomato_meter', 'director'], 'how': 'all'}
}

# Iterate through the files and apply drop_rows function
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        drop_rows(file_path, file_patterns_to_columns)
        print(f"Processed {file_name}")

Processed movies_dataset.csv
Processed metacritic-reviews.csv
Processed letterboxd-reviews.csv
Processed rotten_tomatoes_movie_reviews_concat2.csv
Processed rotten_tomatoes_movie_reviews_concat3.csv
Processed rotten_tomatoes_movie_reviews_concat1.csv
Processed rotten_tomatoes_movies.csv
Processed movies_extras.csv
Processed 25k IMDb movie Dataset.csv
Processed movies.csv

In [28]:
# Remove duplicates and get count for all updated files in folder
folder_path = "/Users/toniwork/Desktop/Capstone/step_2"
file_pattern = ".csv" 
drop_duplicate_rows_and_report(folder_path, file_pattern)

File: movies_dataset.csv, Title duplicates: 122
File: movies_dataset.csv, Title_id duplicates: 122
File: metacritic-reviews.csv, Title duplicates: 283
File: metacritic-reviews.csv, Title_id duplicates: 283
File: letterboxd-reviews.csv, Title duplicates: 2773
File: letterboxd-reviews.csv, Title_id duplicates: 2848
File: rotten_tomatoes_movie_reviews_concat2.csv, does not have a 'title' column.
File: rotten_tomatoes_movie_reviews_concat2.csv, Title_id duplicates: 359162
File: rotten_tomatoes_movie_reviews_concat3.csv, does not have a 'title' column.
File: rotten_tomatoes_movie_reviews_concat3.csv, Title_id duplicates: 354250
File: rotten_tomatoes_movie_reviews_concat1.csv, does not have a 'title' column.
File: rotten_tomatoes_movie_reviews_concat1.csv, Title_id duplicates: 356110
File: rotten_tomatoes_movies.csv, Title duplicates: 12188
File: rotten_tomatoes_movies.csv, Title_id duplicates: 12197
File: movies_extras.csv, does not have a 'title' column.
File: movies_extras.csv, Title_id duplicates: 19574
File: 25k IMDb movie Dataset.csv, Title duplicates: 494
File: 25k IMDb movie Dataset.csv, Title_id duplicates: 494
File: movies.csv, Title duplicates: 76212
File: movies.csv, Title_id duplicates: 76227

In [29]:
# Print file info from folder to verify
folder_path = '/Users/toniwork/Desktop/Capstone/step_2'

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        
        # Read in the CSV file as a DataFrame
        df = pd.read_csv(file_path)
        print(file_name,':',df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6009 entries, 0 to 6008
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   title                     6009 non-null   object
 1   domestic_box_office       6009 non-null   float64
 2   international_box_office  4029 non-null   float64
 3   genre                     5974 non-null   object
 4   worldwide_box_office      4029 non-null   float64
 5   title_id                  6009 non-null   int64
dtypes: float64(3), int64(1), object(2)
memory usage: 281.8+ KB
movies_dataset.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9345 entries, 0 to 9344
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           9345 non-null   object
 1   mpaa_rating     8560 non-null   object
 2   user_rating     7674 non-null   float64
 3   website_rating  9345 non-null   int64
 4   title_id        9345 non-null   int64
dtypes: float64(1), int64(2), object(2)
memory usage: 365.2+ KB
metacritic-reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3183 entries, 0 to 3182
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          3183 non-null   object
 1   review         3183 non-null   object
 2   review_date    3024 non-null   object
 3   comment_count  2957 non-null   float64
 4   like_count     2315 non-null   float64
 5   title_id       3183 non-null   int64
dtypes: float64(2), int64(1), object(3)
memory usage: 149.3+ KB
letterboxd-reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361212 entries, 0 to 361211
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   review_text         361212 non-null  object
 1   rt_score_sentiment  361212 non-null  object
 2   rt_is_top_critic    361212 non-null  bool
 3   rt_original_score   253876 non-null  object
 4   creation_date       361212 non-null  object
 5   title_id            361212 non-null  int64
dtypes: bool(1), int64(1), object(4)
memory usage: 14.1+ MB
rotten_tomatoes_movie_reviews_concat2.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356302 entries, 0 to 356301
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   review_text         356302 non-null  object
 1   rt_score_sentiment  356302 non-null  object
 2   rt_is_top_critic    356302 non-null  bool
 3   rt_original_score   249477 non-null  object
 4   creation_date       356302 non-null  object
 5   title_id            356302 non-null  int64
dtypes: bool(1), int64(1), object(4)
memory usage: 13.9+ MB
rotten_tomatoes_movie_reviews_concat3.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 358121 entries, 0 to 358120
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   review_text         358121 non-null  object
 1   rt_score_sentiment  358121 non-null  object
 2   rt_is_top_critic    358121 non-null  bool
 3   rt_original_score   250652 non-null  object
 4   creation_date       358121 non-null  object
 5   title_id            358121 non-null  int64
dtypes: bool(1), int64(1), object(4)
memory usage: 14.0+ MB
rotten_tomatoes_movie_reviews_concat1.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55282 entries, 0 to 55281
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           55282 non-null  object
 1   audience_score  36504 non-null  float64
 2   tomato_meter    21267 non-null  float64
 3   director        55070 non-null  object
 4   box_office      66 non-null     float64
 5   title_id        55282 non-null  int64
dtypes: float64(3), int64(1), object(2)
memory usage: 2.5+ MB
rotten_tomatoes_movies.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124128 entries, 0 to 124127
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   credits   124128 non-null  object
 1   title_id  124128 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.9+ MB
movies_extras.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10293 entries, 0 to 10292
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        10293 non-null  object
 1   rating       10028 non-null  float64
 2   user_rating  2393 non-null   float64
 3   director     10293 non-null  object
 4   top_5_casts  10293 non-null  object
 5   title_id     10293 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 482.6+ KB
25k IMDb movie Dataset.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219371 entries, 0 to 219370
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   title         219371 non-null  object
 1   genres        151841 non-null  object
 2   popularity    219371 non-null  float64
 3   budget        219371 non-null  float64
 4   revenue       219371 non-null  float64
 5   vote_average  219371 non-null  float64
 6   vote_count    219371 non-null  float64
 7   title_id      219371 non-null  int64
dtypes: float64(5), int64(1), object(2)
memory usage: 13.4+ MB
movies.csv : None

## Create reference files for easier comparison

### Creating a file for directors, actors, and genres will make the analysis easier
We will create files with a id, the data, and then a comma separated list of the title_ids they appear in
- Director
    - director_id
    - director
    - title_ids
    - <b>rotten_tomatoes_movies.csv</b> 
        - director (currently comma separated)
    - <b>25k IMDb movie Dataset.csv</b> 
        - director

- Actor
    - actor_id
    - actor
    - title_ids
    - <b>movies_extras.csv</b> 
        - credits (currently separated by -)
    - <b>25k IMDb movie Dataset.csv</b> 
        - top_5_casts (currently in [] and comma separated)

- Genre
    - genre_id
    - genre
    - title_ids
    - <b>movies_dataset.csv</b> 
        - genre
    - <b>movies.csv</b> 
        - genres (currently comma separated)
        
Normalization and Consistency: By separating these entities into individual reference files, we ensure that the information is stored in a normalized and consistent manner. This eliminates redundancy and inconsistencies in the data representation, especially when the information is scattered across different files and formats.

Ease of Analysis and Integration: Having dedicated reference files with unique identifiers (director_id, actor_id, genre_id) and associated title_ids allows for more efficient querying, analysis, and integration with other datasets. It simplifies the process of understanding relationships between movies, directors, actors, and genres, and facilitates data-driven insights and decision-making.

In [30]:
# Create directors.csv for reference

input_files = ['/Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movies.csv', '/Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv']
column_names = ['director', 'director']
delimiters = [',', None]
output_folder = '/Users/toniwork/Desktop/Capstone/reference'
output_file = 'directors.csv'
merge_columns = 'title_ids'
target_column_name = 'directors'

create_folder(output_folder)

process_data(input_files, column_names, target_column_name, delimiters, output_folder, output_file, merge_columns, num_files=2)

Read file /Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movies.csv:
Processed DataFrame for file /Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movies.csv:
Concatenated result DataFrame after file /Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movies.csv:
Read file /Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv:
Concatenated result DataFrame after file /Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv:
directors.csv saved successfully!

In [31]:
# Check for duplicate director names
directors_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/reference/directors.csv')

# Check for duplicates in the 'directors' column
duplicated_directors = directors_df[directors_df.duplicated(subset=['directors'], keep=False)]

# If there are duplicates, print them
if not duplicated_directors.empty:
    print("Found duplicated directors:")
    print(duplicated_directors)
else:
    print("No duplicated directors found.")

No duplicated directors found.

In [32]:
# Make directors title_ids into set, removing duplicates within the set
directors_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/reference/directors.csv')

# Apply the function to the 'title_ids' column
directors_df['title_ids'] = directors_df['title_ids'].apply(remove_duplicates_in_set)

# Save the updated DataFrame back to CSV 
directors_df.to_csv('/Users/toniwork/Desktop/Capstone/reference/directors.csv', index=False)

In [33]:
# Preprocess 25k IMDb movie Dataset.csv to remove [] from one file
df = pd.read_csv('/Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv')

# Strip brackets
df['top_5_casts'] = df['top_5_casts'].str.strip('[]')

# Save the updated DataFrame back to CSV 
df.to_csv('/Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv', index=False)

In [34]:
# Create actors.csv for reference

input_files = ['/Users/toniwork/Desktop/Capstone/step_2/movies_extras.csv', '/Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv']
column_names = ['credits', 'top_5_casts']
delimiters = ['-', ',']
output_folder = '/Users/toniwork/Desktop/Capstone/reference'
output_file = 'actors.csv'
merge_columns = 'title_ids'
target_column_name = 'actors'

create_folder(output_folder)

process_data(input_files, column_names, target_column_name, delimiters, output_folder, output_file, merge_columns, remove_quotes=True, num_files=2)

Read file /Users/toniwork/Desktop/Capstone/step_2/movies_extras.csv:
Processed DataFrame for file /Users/toniwork/Desktop/Capstone/step_2/movies_extras.csv:
Concatenated result DataFrame after file /Users/toniwork/Desktop/Capstone/step_2/movies_extras.csv:
Read file /Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv:
Processed DataFrame for file /Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv:
Concatenated result DataFrame after file /Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv:
actors.csv saved successfully!

In [36]:
# Check for duplicate director names
actors_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/reference/actors.csv')

# Remove leading and trailing whitespaces from the 'actors' column
actors_df['actors'] = actors_df['actors'].str.strip()

# Check for duplicates in the 'directors' column
duplicated_actor = actors_df[actors_df.duplicated(subset=['actors'], keep=False)]

# If there are duplicates, print them
if not duplicated_actor.empty:
    print("Found duplicated actors:")
    print(duplicated_actor)
else:
    print("No duplicated actors found.")

Found duplicated actors:
                    actors                                          title_ids  \
0                      NaN                                              70573
9                  50 cent  78775,188000,197343,152132,8453,68259,8755,115025
12      a. michael baldwin                                              26407
14              a.a. milne                                              27918
15               a.j. cook                          94565,143250,40406,176171
...                    ...                                                ...
478953       émilien néron                                             193358
478955        éric besnard                                             208574
478973         éric rohmer                                              16138
478976       éric toledano                                             200221
479040       óscar jaenada  190087,92343,178431,17305,182117,211212,167399...

        actors_id
0               1
9              10
12             13
14             15
15             16
...           ...
478953     478954
478955     478956
478973     478974
478976     478977
479040     479041

[30423 rows x 3 columns]

In [37]:
# Remove leading and trailing whitespaces from the 'actors' column
actors_df['actors'] = actors_df['actors'].str.strip()

# Group by 'actors' and aggregate 'title_ids' and 'actors_id'
agg_funcs = {
    'title_ids': lambda x: ','.join(x.dropna()),
    'actors_id': 'first'
}
grouped_actors_df = actors_df.groupby('actors').agg(agg_funcs).reset_index()

# Display the DataFrame
grouped_actors_df

                            actors title_ids  actors_id
0       !aru ikhuisi piet berendse     31911      21107
1              (prince) kunle remi     12917      21108
2                      .38 special     41127      21109
3                        070 shake    185326      21110
4                     0rphan drift    154519      21111
...                            ...       ...        ...
464095                          迟蓬    163164     479310
464096                         陈慧娴     18548     479311
464097                      하비 카이텔     60320     479312
464098         ﻿ar﻿chie lanfranc﻿o    211295     479313
464099       ﻿roshanak morrowatian    170694     479314

[464100 rows x 3 columns]

In [39]:
# Make actors title_ids into set, removing duplicates within the set
#actors_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/reference/actors.csv')

# Apply the function to the 'title_ids' column
grouped_actors_df['title_ids'] = grouped_actors_df['title_ids'].apply(remove_duplicates_in_set)

# Save the updated DataFrame back to CSV 
grouped_actors_df.to_csv('/Users/toniwork/Desktop/Capstone/reference/actors.csv', index=False)

In [40]:
# Create genres.csv for reference 

input_files = ['/Users/toniwork/Desktop/Capstone/step_2/movies.csv', '/Users/toniwork/Desktop/Capstone/step_2/movies_dataset.csv']
column_names = ['genres','genre']
delimiters = ['-',None]
output_folder = '/Users/toniwork/Desktop/Capstone/reference'
output_file = 'genres.csv'
merge_columns = 'title_ids'
target_column_name = 'genres'

create_folder(output_folder)

process_data(input_files, column_names, target_column_name, delimiters, output_folder, output_file, merge_columns, num_files=2)

Read file /Users/toniwork/Desktop/Capstone/step_2/movies.csv:
Processed DataFrame for file /Users/toniwork/Desktop/Capstone/step_2/movies.csv:
Concatenated result DataFrame after file /Users/toniwork/Desktop/Capstone/step_2/movies.csv:
Read file /Users/toniwork/Desktop/Capstone/step_2/movies_dataset.csv:
Concatenated result DataFrame after file /Users/toniwork/Desktop/Capstone/step_2/movies_dataset.csv:
genres.csv saved successfully!

### Removing rows where there is only 1 title_id

In this analysis, we are interested in studying how reviews of one movie impact the next for a given director or actor. To make meaningful comparisons, we need to have at least two movies associated with each director or actor.

The 'directors.csv' and 'actors.csv' files contain information about directors and actors, respectively, along with the associated movie title IDs. Some directors and actors may only be associated with a single movie, and in those cases, there would be no "next" movie to compare with.

To focus our analysis on the entities that have multiple movies, we filter out the rows where there is only one title ID for the director or actor. Specifically, we look for rows where the 'title_ids' column contains at least one comma, indicating that there are multiple title IDs.

By doing this, we ensure that our dataset includes only the directors and actors with at least two movies, allowing us to proceed with the comparative analysis between consecutive movies.

In [41]:
# Make genre title_ids into set, removing duplicates within the set
genres_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/reference/genres.csv')

# Apply the function to the 'title_ids' column
genres_df['title_ids'] = genres_df['title_ids'].apply(remove_duplicates_in_set)

# Save the updated DataFrame back to CSV 
genres_df.to_csv('/Users/toniwork/Desktop/Capstone/reference/genres.csv', index=False)

In [42]:
# Turn the title_ids column on directors.csv into a set, this will get rid of any duplicates within the row
directors_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/reference/directors.csv')

# Keep only the rows where there is more than one title ID (i.e., at least one comma in the 'title_ids' column)
directors_df = directors_df[directors_df['title_ids'].str.count(',') > 0]

# Save the updated DataFrame back to the CSV file
directors_df.to_csv('/Users/toniwork/Desktop/Capstone/reference/directors.csv', index=False)

In [43]:
# Turn the title_ids column on actors.csv into a set, this will get rid of any duplicates within the row
actors_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/reference/actors.csv')

# Keep only the rows where there is more than one title ID
actors_df = actors_df[actors_df['title_ids'].str.count(',') > 0]

# Save the updated DataFrame back to the CSV file
actors_df.to_csv('/Users/toniwork/Desktop/Capstone/reference/actors.csv', index=False)

In [44]:
# Drop columns used to create the directors, actors, and genres csv
path = '/Users/toniwork/Desktop/Capstone/step_2'
columns_to_drop = ['director', 'credits', 'top_5_casts', 'genres', 'genre']

# Iterate through all the CSV files in the specified path
for filename in os.listdir(path):
    if filename.endswith('.csv'):
        file_path = os.path.join(path, filename)
        df = pd.read_csv(file_path)

        # Check if the DataFrame has more than 2 columns
        if df.shape[1] > 2:
            # Drop the specified columns if they exist
            df = df.drop(columns=[col for col in columns_to_drop if col in df.columns])

            # Save the updated DataFrame back to the CSV file
            df.to_csv(file_path, index=False)
            print(f"{filename} updated successfully!")
        else:
            print(f"{filename} has only 2 columns. Deleting the entire file.")
            os.remove(file_path)

movies_dataset.csv updated successfully!
metacritic-reviews.csv updated successfully!
letterboxd-reviews.csv updated successfully!
rotten_tomatoes_movie_reviews_concat2.csv updated successfully!
rotten_tomatoes_movie_reviews_concat3.csv updated successfully!
rotten_tomatoes_movie_reviews_concat1.csv updated successfully!
rotten_tomatoes_movies.csv updated successfully!
movies_extras.csv has only 2 columns. Deleting the entire file.
25k IMDb movie Dataset.csv updated successfully!
movies.csv updated successfully!

In [45]:
# Print file info from folder to verify
folder_path = '/Users/toniwork/Desktop/Capstone/step_2'

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        
        # Read in the CSV file as a DataFrame
        df = pd.read_csv(file_path)
        print(file_name,':',df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6009 entries, 0 to 6008
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   title                     6009 non-null   object
 1   domestic_box_office       6009 non-null   float64
 2   international_box_office  4029 non-null   float64
 3   worldwide_box_office      4029 non-null   float64
 4   title_id                  6009 non-null   int64
dtypes: float64(3), int64(1), object(1)
memory usage: 234.9+ KB
movies_dataset.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9345 entries, 0 to 9344
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           9345 non-null   object
 1   mpaa_rating     8560 non-null   object
 2   user_rating     7674 non-null   float64
 3   website_rating  9345 non-null   int64
 4   title_id        9345 non-null   int64
dtypes: float64(1), int64(2), object(2)
memory usage: 365.2+ KB
metacritic-reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3183 entries, 0 to 3182
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          3183 non-null   object
 1   review         3183 non-null   object
 2   review_date    3024 non-null   object
 3   comment_count  2957 non-null   float64
 4   like_count     2315 non-null   float64
 5   title_id       3183 non-null   int64
dtypes: float64(2), int64(1), object(3)
memory usage: 149.3+ KB
letterboxd-reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361212 entries, 0 to 361211
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   review_text         361212 non-null  object
 1   rt_score_sentiment  361212 non-null  object
 2   rt_is_top_critic    361212 non-null  bool
 3   rt_original_score   253876 non-null  object
 4   creation_date       361212 non-null  object
 5   title_id            361212 non-null  int64
dtypes: bool(1), int64(1), object(4)
memory usage: 14.1+ MB
rotten_tomatoes_movie_reviews_concat2.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356302 entries, 0 to 356301
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   review_text         356302 non-null  object
 1   rt_score_sentiment  356302 non-null  object
 2   rt_is_top_critic    356302 non-null  bool
 3   rt_original_score   249477 non-null  object
 4   creation_date       356302 non-null  object
 5   title_id            356302 non-null  int64
dtypes: bool(1), int64(1), object(4)
memory usage: 13.9+ MB
rotten_tomatoes_movie_reviews_concat3.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 358121 entries, 0 to 358120
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   review_text         358121 non-null  object
 1   rt_score_sentiment  358121 non-null  object
 2   rt_is_top_critic    358121 non-null  bool
 3   rt_original_score   250652 non-null  object
 4   creation_date       358121 non-null  object
 5   title_id            358121 non-null  int64
dtypes: bool(1), int64(1), object(4)
memory usage: 14.0+ MB
rotten_tomatoes_movie_reviews_concat1.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55282 entries, 0 to 55281
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           55282 non-null  object
 1   audience_score  36504 non-null  float64
 2   tomato_meter    21267 non-null  float64
 3   box_office      66 non-null     float64
 4   title_id        55282 non-null  int64
dtypes: float64(3), int64(1), object(1)
memory usage: 2.1+ MB
rotten_tomatoes_movies.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10293 entries, 0 to 10292
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        10293 non-null  object
 1   rating       10028 non-null  float64
 2   user_rating  2393 non-null   float64
 3   title_id     10293 non-null  int64
dtypes: float64(2), int64(1), object(1)
memory usage: 321.8+ KB
25k IMDb movie Dataset.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219371 entries, 0 to 219370
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   title         219371 non-null  object
 1   popularity    219371 non-null  float64
 2   budget        219371 non-null  float64
 3   revenue       219371 non-null  float64
 4   vote_average  219371 non-null  float64
 5   vote_count    219371 non-null  float64
 6   title_id      219371 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 11.7+ MB
movies.csv : None

In [46]:
# Print file info from folder to verify
folder_path = '/Users/toniwork/Desktop/Capstone/reference'

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        
        # Read in the CSV file as a DataFrame
        df = pd.read_csv(file_path)
        print(file_name,':',df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   genres     27 non-null     object
 1   title_ids  27 non-null     object
 2   genres_id  27 non-null     int64
dtypes: int64(1), object(2)
memory usage: 776.0+ bytes
genres.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148592 entries, 0 to 148591
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   actors     148592 non-null  object
 1   title_ids  148592 non-null  object
 2   actors_id  148592 non-null  int64
dtypes: int64(1), object(2)
memory usage: 3.4+ MB
actors.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9941 entries, 0 to 9940
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   directors     9940 non-null   object
 1   title_ids     9941 non-null   object
 2   directors_id  9941 non-null   int64
dtypes: int64(1), object(2)
memory usage: 233.1+ KB
directors.csv : None

## Create an updated title_id_key.csv

I can then use this title_key_updated DataFrame to merge with other datasets, ensuring that only the rows with matching title_ids are included in the analysis. By doing this, I'll be focusing on the movies that are associated with directors and actors who have at least two movies, aligning with the criteria I've established earlier.

In [47]:
# Create an updated title_id (title_key_updated.csv)
# Read the directors.csv and actors.csv files
directors_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/reference/directors.csv')
actors_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/reference/actors.csv')

# Apply the function to the title_ids column
directors_df['title_ids'] = directors_df['title_ids'].apply(convert_to_list)
actors_df['title_ids'] = actors_df['title_ids'].apply(convert_to_list)

# Explode the title_ids column
director_title_ids = directors_df.explode('title_ids')['title_ids'].drop_duplicates()
actor_title_ids = actors_df.explode('title_ids')['title_ids'].drop_duplicates()

# Combine the title_ids and remove duplicates
all_title_ids = pd.concat([director_title_ids, actor_title_ids]).drop_duplicates()

# Create a DataFrame for the title_id_key
title_id_key_df = pd.DataFrame({'title_id': all_title_ids})

# Read the title_key.csv file
title_key_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/keys/title_key.csv')

# Convert the title_id column to string in both DataFrames
title_key_df['title_id'] = title_key_df['title_id'].astype(str)
title_id_key_df['title_id'] = title_id_key_df['title_id'].astype(str)

# Merge with title_id_key_df using an inner join on the title_id column
title_key_updated_df = pd.merge(title_key_df, title_id_key_df, on='title_id', how='inner')

# Save the updated DataFrame to a new CSV file
title_key_updated_df.to_csv('/Users/toniwork/Desktop/Capstone/keys/title_key_updated.csv', index=False)

print("title_key_updated.csv saved successfully!")

title_key_updated.csv saved successfully!

In [48]:
# Print files info from folder to verify
folder_path = '/Users/toniwork/Desktop/Capstone/keys'

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        
        # Read in the CSV file as a DataFrame
        df = pd.read_csv(file_path)
        print(file_name,':',df.info(), df.head(), df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12942 entries, 0 to 12941
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          12942 non-null  object
 1   release_date   12942 non-null  object
 2   release_year   12942 non-null  int64
 3   release_month  12942 non-null  int64
 4   release_day    12942 non-null  int64
 5   title_id       12942 non-null  int64
dtypes: int64(4), object(2)
memory usage: 606.8+ KB
title_key_final.csv : None                  title release_date  release_year  release_month  release_day  \
0                1 day   2009-10-21          2009             10           21
1       10 cent pistol   2014-07-24          2014              7           24
2  10 cloverfield lane   2016-03-10          2016              3           10
3     10 items or less   2006-09-11          2006              9           11
4      10 minutes gone   2019-09-27          2019              9           27

   title_id
0     30706
1    150558
2    133480
3     13136
4     46302          release_year  release_month   release_day       title_id
count  12942.000000   12942.000000  12942.000000   12942.000000
mean    2008.276541       6.409597     14.759620  107221.297790
std       14.912954       3.463005      8.779517   62615.373206
min     1913.000000       1.000000      1.000000       2.000000
25%     2005.000000       3.000000      8.000000   53144.250000
50%     2012.000000       6.000000     14.000000  106659.500000
75%     2017.000000       9.000000     22.000000  161733.750000
max     2023.000000      12.000000     31.000000  215799.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111189 entries, 0 to 111188
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   title          111189 non-null  object
 1   release_date   111189 non-null  object
 2   release_year   111189 non-null  int64
 3   release_month  111189 non-null  int64
 4   release_day    111189 non-null  int64
 5   title_id       111189 non-null  int64
dtypes: int64(4), object(2)
memory usage: 5.1+ MB
title_key_updated.csv : None                   title release_date  release_year  release_month  \
0                     1   2006-01-01          2006              1
1              1  1  11   2015-06-21          2015              6
2                 1 2 3   2015-10-05          2015             10
3  1 2 3 all eyes on me   2020-10-24          2020             10
4            1 a minute   2010-10-06          2010             10

   release_day  title_id
0            1     57221
1           21    154843
2            5    206567
3           24    153167
4            6    128292           release_year  release_month    release_day       title_id
count  111189.000000  111189.000000  111189.000000  111189.000000
mean     2009.734731       6.416255      14.076860  108080.647897
std        15.147916       3.630270       9.433962   62356.766543
min      1909.000000       1.000000       1.000000       1.000000
25%      2007.000000       3.000000       5.000000   54132.000000
50%      2014.000000       6.000000      14.000000  108109.000000
75%      2018.000000      10.000000      22.000000  162130.000000
max      2028.000000      12.000000      31.000000  215824.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184432 entries, 0 to 184431
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   title          184432 non-null  object
 1   release_date   184432 non-null  object
 2   release_year   184432 non-null  int64
 3   release_month  184432 non-null  int64
 4   release_day    184432 non-null  int64
 5   title_id       184432 non-null  int64
dtypes: int64(4), object(2)
memory usage: 8.4+ MB
title_key.csv : None                   title release_date  release_year  release_month  \
0                     1   2006-01-01          2006              1
1              1  1  11   2015-06-21          2015              6
2                   1 2   2007-01-01          2007              1
3                 1 2 3   2015-10-05          2015             10
4  1 2 3 all eyes on me   2020-10-24          2020             10

   release_day  title_id
0            1     57221
1           21    154843
2            1    155977
3            5    206567
4           24    153167           release_year  release_month    release_day       title_id
count  184432.000000  184432.000000  184432.000000  184432.000000
mean     2011.180159       6.115571      13.272897  107977.925035
std        12.733736       3.721201       9.683587   62310.670684
min      1909.000000       1.000000       1.000000       1.000000
25%      2008.000000       3.000000       4.000000   54034.750000
50%      2014.000000       6.000000      13.000000  108006.500000
75%      2018.000000      10.000000      22.000000  161914.250000
max      2028.000000      12.000000      31.000000  215824.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12945 entries, 0 to 12944
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title_id              12945 non-null  int64
 1   ranking_count         12945 non-null  float64
 2   weekend_count         12945 non-null  float64
 3   rt_count_x            12945 non-null  float64
 4   movies_dataset_count  12945 non-null  float64
 5   rt_count_y            12945 non-null  float64
 6   total_count           12945 non-null  float64
dtypes: float64(6), int64(1)
memory usage: 708.1 KB
movie_data_summary_key.csv : None    title_id  ranking_count  weekend_count  rt_count_x  movies_dataset_count  \
0    170914            4.0            3.0         0.0                   0.0
1    167026            2.0            0.0         0.0                   0.0
2    187549            2.0            0.0         0.0                   1.0
3    115214            2.0            0.0         0.0                   0.0
4     65879            2.0            1.0         0.0                   2.0

   rt_count_y  total_count
0         2.0          9.0
1         1.0          3.0
2         2.0          5.0
3         1.0          3.0
4         2.0          7.0               title_id  ranking_count  weekend_count    rt_count_x  \
count   12945.000000   12945.000000   12945.000000  12945.000000
mean   107225.967864       0.203090       0.065199      0.002858
std     62608.952779       0.408413       0.390810      0.053388
min         2.000000       0.000000       0.000000      0.000000
25%     53163.000000       0.000000       0.000000      0.000000
50%    106680.000000       0.000000       0.000000      0.000000
75%    161733.000000       0.000000       0.000000      0.000000
max    215799.000000       4.000000       8.000000      1.000000

       movies_dataset_count    rt_count_y   total_count
count          12945.000000  12945.000000  12945.000000
mean               0.378525      1.186945      1.836616
std                0.494346      0.534328      1.153723
min                0.000000      0.000000      1.000000
25%                0.000000      1.000000      1.000000
50%                0.000000      1.000000      1.000000
75%                1.000000      1.000000      2.000000
max                2.000000      9.000000     11.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111108 entries, 0 to 111107
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   title_id      111108 non-null  int64
 1   file1_count   111108 non-null  float64
 2   file4_count   111108 non-null  float64
 3   file5_count   111108 non-null  float64
 4   file6_count   111108 non-null  float64
 5   file8_count   111108 non-null  float64
 6   file9_count   111108 non-null  float64
 7   file10_count  111108 non-null  float64
 8   file11_count  111108 non-null  float64
 9   total_count   111108 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 8.5 MB
review_summary_key.csv : None    title_id  file1_count  file4_count  file5_count  file6_count  file8_count  \
0     96875        597.0          1.0          1.0          7.0          0.0
1    154389        564.0          2.0          0.0         25.0          0.0
2    182720        522.0          1.0          0.0          4.0          0.0
3     22838        507.0          1.0          1.0         22.0          0.0
4    200560        484.0          1.0          1.0          0.0          0.0

   file9_count  file10_count  file11_count  total_count
0          0.0           1.0           1.0        608.0
1          0.0           0.0           1.0        592.0
2          0.0           0.0           1.0        528.0
3          0.0           0.0           1.0        532.0
4          0.0           1.0           1.0        488.0               title_id    file1_count    file4_count    file5_count  \
count  111108.000000  111108.000000  111108.000000  111108.000000
mean   107813.492377       2.955215       0.445449       0.091965
std     62284.866806      20.501029       0.634839       0.296843
min         2.000000       0.000000       0.000000       0.000000
25%     53948.250000       0.000000       0.000000       0.000000
50%    107719.500000       0.000000       0.000000       0.000000
75%    161721.500000       0.000000       1.000000       0.000000
max    215823.000000     597.000000      11.000000       3.000000

         file6_count    file8_count    file9_count   file10_count  \
count  111108.000000  111108.000000  111108.000000  111108.000000
mean        0.027613       3.279674       3.281501       0.068753
std         0.465766      21.522760      21.727626       0.257827
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max        28.000000     561.000000     580.000000       3.000000

        file11_count    total_count
count  111108.000000  111108.000000
mean        1.246112      11.396281
std         0.890805      37.408944
min         0.000000       1.000000
25%         1.000000       1.000000
50%         1.000000       1.000000
75%         1.000000       3.000000
max        25.000000     625.000000

In [49]:
# Remove/check for duplicates in title_key files
folder_path = "/Users/toniwork/Desktop/Capstone/keys"
file_pattern = ".csv" # Or any specific pattern you want to match
drop_duplicate_rows_and_report(folder_path, file_pattern)

File: title_key_final.csv, Title duplicates: 0
File: title_key_final.csv, Title_id duplicates: 0
File: title_key_updated.csv, Title duplicates: 0
File: title_key_updated.csv, Title_id duplicates: 0
File: title_key.csv, Title duplicates: 0
File: title_key.csv, Title_id duplicates: 0
File: movie_data_summary_key.csv, does not have a 'title' column.
File: movie_data_summary_key.csv, Title_id duplicates: 0
File: review_summary_key.csv, does not have a 'title' column.
File: review_summary_key.csv, Title_id duplicates: 0

In [2]:
# Read the updated key file and update the genre title_ids removing any title_ids in the sets that are not in the title_key_updated.csv
title_id_key_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/keys/title_key_updated.csv')

# Read the genres file
genres_file_path = '/Users/toniwork/Desktop/Capstone/reference/genres.csv'
genres_df = pd.read_csv(genres_file_path)

# Convert the title_ids in the key file to a set for faster lookup
title_id_key_set = set(title_id_key_df['title_id'].astype(str))

# Apply the function to the 'title_ids' column
genres_df['title_ids'] = genres_df['title_ids'].apply(lambda x: filter_title_ids(x, title_id_key_set))

# Save the updated DataFrame back to the CSV file
genres_df.to_csv(genres_file_path, index=False)
print("Genres file updated successfully!")

Genres file updated successfully!

In [3]:
# Compare title_key_updated to the files in folder step_2 dropping any rows that do not match on title_id 
title_id_key_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/keys/title_key_updated.csv')
path = '/Users/toniwork/Desktop/Capstone/step_2'

# Extract the title_ids from title_id_key_df into a set for faster lookup
title_ids_set = set(title_id_key_df['title_id'])

# Specify the path where your step_2 CSV files are located
path = '/Users/toniwork/Desktop/Capstone/step_2'

# Iterate through all the CSV files in the specified path
for filename in os.listdir(path):
    if filename.endswith('.csv'):
        file_path = os.path.join(path, filename)
        
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        
        # Drop rows where title_id is not in title_ids_set
        df_filtered = df[df['title_id'].isin(title_ids_set)]
        
        # Save the filtered DataFrame back to the CSV file
        df_filtered.to_csv(file_path, index=False)
        
        print(f"{filename} updated successfully!")

movies_dataset.csv updated successfully!
metacritic-reviews.csv updated successfully!
letterboxd-reviews.csv updated successfully!
rotten_tomatoes_movie_reviews_concat2.csv updated successfully!
rotten_tomatoes_movie_reviews_concat3.csv updated successfully!
rotten_tomatoes_movie_reviews_concat1.csv updated successfully!
rotten_tomatoes_movies.csv updated successfully!
25k IMDb movie Dataset.csv updated successfully!
movies.csv updated successfully!

In [4]:
# Remove duplicates and get count for all updated files in step_2 folder
folder_path = "/Users/toniwork/Desktop/Capstone/step_2"
file_pattern = ".csv" # Or any specific pattern you want to match
drop_duplicate_rows_and_report(folder_path, file_pattern)

File: movies_dataset.csv, Title duplicates: 122
File: movies_dataset.csv, Title_id duplicates: 122
File: metacritic-reviews.csv, Title duplicates: 283
File: metacritic-reviews.csv, Title_id duplicates: 283
File: letterboxd-reviews.csv, Title duplicates: 2671
File: letterboxd-reviews.csv, Title_id duplicates: 2745
File: rotten_tomatoes_movie_reviews_concat2.csv, does not have a 'title' column.
File: rotten_tomatoes_movie_reviews_concat2.csv, Title_id duplicates: 352735
File: rotten_tomatoes_movie_reviews_concat3.csv, does not have a 'title' column.
File: rotten_tomatoes_movie_reviews_concat3.csv, Title_id duplicates: 347948
File: rotten_tomatoes_movie_reviews_concat1.csv, does not have a 'title' column.
File: rotten_tomatoes_movie_reviews_concat1.csv, Title_id duplicates: 349219
File: rotten_tomatoes_movies.csv, Title duplicates: 10640
File: rotten_tomatoes_movies.csv, Title_id duplicates: 10649
File: 25k IMDb movie Dataset.csv, Title duplicates: 485
File: 25k IMDb movie Dataset.csv, Title_id duplicates: 485
File: movies.csv, Title duplicates: 60353
File: movies.csv, Title_id duplicates: 60363

## Data File Split 

### For each dataset split the files to prepare for completed datasets:

- Movie Revenues: Split files, make sure each file has the title and title_id columns, add 'revenue' to the end of the file name. 
    - title_key_id
    - title
    - <b>movies_dataset.csv</b> 
        - domestic_box_office
        - international_box_office
        - worldwide_box_office
    - <b>rotten_tomatoes_movies.csv</b> 
        - box_office
    - <b>movies.csv</b> 
        - budget
        - revenue

- Movie Reviews: Split files, make sure each file has the title and title_id columns, add 'reviews' to the end of the file name. 
    - title_key_id
    - title
    - <b>metacritic-reviews.csv</b>
        - mpaa_rating
        - user_rating
    - <b>rotten_tomatoes_movies.csv</b> 
        - audience_score
        - tomato_meter
    - <b>letterboxd-reviews.csv</b> 
        - review
        - review_date
        - comment_count
        - like_count
    - <b>rotten_tomatoes_movie_reviews_concat1-3.csv</b> 
        - rt_review_text
        - rt_score_sentiment
        - rt_is_top_critic
        - rt_original_score
        - rt_creation_date
    - <b>25k IMDb movie Dataset.csv</b> 
        - rating
        - user_rating
    - <b>movies.csv</b> 
        - vote_average
        - vote_count
        - popularity

In [3]:
# Remove/check for duplicates 
folder_path = '/Users/toniwork/Desktop/Capstone/step_2'
output_folder_path = "/Users/toniwork/Desktop/Capstone/final"

# Create the output folder if it does not exist
create_folder(output_folder_path)

split_movie_files(folder_path, output_folder_path)

Skipping movies_dataset.csv for reviews as it contains insufficient columns.
Skipping movies_dataset.csv for mpaa as it contains insufficient columns.
Skipping metacritic-reviews.csv for revenue as it contains insufficient columns.
Skipping letterboxd-reviews.csv for revenue as it contains insufficient columns.
Skipping letterboxd-reviews.csv for mpaa as it contains insufficient columns.
Skipping rotten_tomatoes_movie_reviews_concat2.csv for revenue as it contains insufficient columns.
Skipping rotten_tomatoes_movie_reviews_concat2.csv for mpaa as it contains insufficient columns.
Skipping rotten_tomatoes_movie_reviews_concat3.csv for revenue as it contains insufficient columns.
Skipping rotten_tomatoes_movie_reviews_concat3.csv for mpaa as it contains insufficient columns.
Skipping rotten_tomatoes_movie_reviews_concat1.csv for revenue as it contains insufficient columns.
Skipping rotten_tomatoes_movie_reviews_concat1.csv for mpaa as it contains insufficient columns.
Skipping rotten_tomatoes_movies.csv for mpaa as it contains insufficient columns.
Skipping 25k IMDb movie Dataset.csv for revenue as it contains insufficient columns.
Skipping 25k IMDb movie Dataset.csv for mpaa as it contains insufficient columns.
Skipping movies.csv for mpaa as it contains insufficient columns.

'Successfully split the files. Check the output folder: /Users/toniwork/Desktop/Capstone/final'

In [4]:
# Print files info from folder to verify
folder_path = '/Users/toniwork/Desktop/Capstone/final'

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('reviews.csv'):
        file_path = os.path.join(folder_path, file_name)
        
        # Read in the CSV file as a DataFrame
        df = pd.read_csv(file_path)
        print(file_name,':',df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349788 entries, 0 to 349787
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   review_text         349788 non-null  object
 1   rt_score_sentiment  349788 non-null  object
 2   rt_is_top_critic    349788 non-null  bool
 3   rt_original_score   245387 non-null  object
 4   creation_date       349788 non-null  object
 5   title_id            349788 non-null  int64
dtypes: bool(1), int64(1), object(4)
memory usage: 13.7+ MB
rotten_tomatoes_movie_reviews_concat3_reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49500 entries, 0 to 49499
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           49500 non-null  object
 1   audience_score  34655 non-null  float64
 2   tomato_meter    20191 non-null  float64
 3   title_id        49500 non-null  int64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.5+ MB
rotten_tomatoes_movies_reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10250 entries, 0 to 10249
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        10250 non-null  object
 1   rating       9988 non-null   float64
 2   user_rating  2374 non-null   float64
 3   title_id     10250 non-null  int64
dtypes: float64(2), int64(1), object(1)
memory usage: 320.4+ KB
25k IMDb movie Dataset_reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3068 entries, 0 to 3067
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          3068 non-null   object
 1   review         3068 non-null   object
 2   review_date    2915 non-null   object
 3   comment_count  2851 non-null   float64
 4   like_count     2231 non-null   float64
 5   title_id       3068 non-null   int64
dtypes: float64(2), int64(1), object(3)
memory usage: 143.9+ KB
letterboxd-reviews_reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354555 entries, 0 to 354554
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   review_text         354555 non-null  object
 1   rt_score_sentiment  354555 non-null  object
 2   rt_is_top_critic    354555 non-null  bool
 3   rt_original_score   249813 non-null  object
 4   creation_date       354555 non-null  object
 5   title_id            354555 non-null  int64
dtypes: bool(1), int64(1), object(4)
memory usage: 13.9+ MB
rotten_tomatoes_movie_reviews_concat2_reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351031 entries, 0 to 351030
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   review_text         351031 non-null  object
 1   rt_score_sentiment  351031 non-null  object
 2   rt_is_top_critic    351031 non-null  bool
 3   rt_original_score   246369 non-null  object
 4   creation_date       351031 non-null  object
 5   title_id            351031 non-null  int64
dtypes: bool(1), int64(1), object(4)
memory usage: 13.7+ MB
rotten_tomatoes_movie_reviews_concat1_reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7659 entries, 0 to 7658
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        7659 non-null   object
 1   user_rating  6526 non-null   float64
 2   title_id     7659 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 179.6+ KB
metacritic-reviews_reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139391 entries, 0 to 139390
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   title         139391 non-null  object
 1   popularity    139391 non-null  float64
 2   vote_average  139391 non-null  float64
 3   vote_count    139391 non-null  float64
 4   title_id      139391 non-null  int64
dtypes: float64(3), int64(1), object(1)
memory usage: 5.3+ MB
movies_reviews.csv : None

In [5]:
# Print files info from folder to verify
folder_path = '/Users/toniwork/Desktop/Capstone/final'

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('revenue.csv'):
        file_path = os.path.join(folder_path, file_name)
        
        # Read in the CSV file as a DataFrame
        df = pd.read_csv(file_path)
        print(file_name,':',df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49500 entries, 0 to 49499
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       49500 non-null  object
 1   box_office  53 non-null     float64
 2   title_id    49500 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB
rotten_tomatoes_movies_revenue.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5633 entries, 0 to 5632
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   title                     5633 non-null   object
 1   domestic_box_office       5633 non-null   float64
 2   international_box_office  3881 non-null   float64
 3   worldwide_box_office      3881 non-null   float64
 4   title_id                  5633 non-null   int64
dtypes: float64(3), int64(1), object(1)
memory usage: 220.2+ KB
movies_dataset_revenue.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139391 entries, 0 to 139390
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   title     139391 non-null  object
 1   budget    139391 non-null  float64
 2   revenue   139391 non-null  float64
 3   title_id  139391 non-null  int64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.3+ MB
movies_revenue.csv : None

In [6]:
def drop_specific_rows(file_path, output_path):
    # Read in the CSV file as a DataFrame
    df = pd.read_csv(file_path, low_memory=False)

    # Define a condition to filter rows where both specified columns are NA or zero
    condition = ((df['box_office'].isna() | (df['box_office'] == 0)))
    # Drop rows that meet the condition
    df.drop(df[condition].index, inplace=True)

    # Save the DataFrame back to the file
    df.to_csv(output_path, index=False)

# File path to process
file_path = '/Users/toniwork/Desktop/Capstone/final/rotten_tomatoes_movies_revenue.csv'
output_path = '/Users/toniwork/Desktop/Capstone/final/rotten_tomatoes_movies_revenue.csv'
drop_specific_rows(file_path, output_path)

In [7]:
# Convert the string data to a Pandas DataFrame
df = pd.read_csv('/Users/toniwork/Desktop/Capstone/reference/mpaa.csv')

df['mpaa_rating'].fillna('not rated', inplace=True)
df['mpaa_rating'].replace('unrated', 'not rated', inplace=True)
df['mpaa_rating'].replace('nr', 'not rated', inplace=True)
df['mpaa_rating'].replace('m/pg', 'pg', inplace=True)
df['mpaa_rating'].replace('pg--13', 'pg-13', inplace=True)
df['mpaa_rating'].replace('pg-13`', 'pg-13', inplace=True)

# Drop the 'title' column
df.drop('title', axis=1, inplace=True)

# Group by 'mpaa_rating' and aggregate 'title_id' into sets
result = df.groupby('mpaa_rating')['title_id'].apply(set).reset_index()

# Rename the columns to match your desired output
result.columns = ['mpaa_rating', 'title_ids']
result.to_csv('/Users/toniwork/Desktop/Capstone/reference/mpaa.csv')
print(result)

   mpaa_rating                                          title_ids
0            g  {172928, 65665, 43393, 186243, 182916, 38279, ...
1            m                                           {129355}
2        nc-17  {77582, 8847, 5008, 10128, 162069, 21912, 1427...
3    not rated  {106496, 155651, 106503, 172047, 204817, 10651...
4         open                                     {24355, 65543}
5           pg  {161797, 61450, 188434, 204821, 110616, 153630...
6        pg-13  {114689, 188419, 73738, 40977, 147478, 155681,...
7            r  {49152, 155651, 204805, 40969, 90122, 73739, 1...
8        tv-14  {132611, 90373, 192518, 56712, 183438, 69649, ...
9         tv-g    {150726, 215015, 62344, 182132, 150812, 124349}
10       tv-ma  {167426, 32772, 31238, 133638, 197643, 171533,...
11       tv-pg  {141505, 104226, 83746, 124324, 213603, 121862...
12       tv-y7                                           {132876}

In [8]:
# Remove/check for duplicates in new movie_data.csv 
folder_path = "/Users/toniwork/Desktop/Capstone/final"
file_pattern = ".csv" 
drop_duplicate_rows_and_report(folder_path, file_pattern)

File: rotten_tomatoes_movie_reviews_concat3_reviews.csv, does not have a 'title' column.
File: rotten_tomatoes_movie_reviews_concat3_reviews.csv, Title_id duplicates: 347948
File: rotten_tomatoes_movies_revenue.csv, Title duplicates: 0
File: rotten_tomatoes_movies_revenue.csv, Title_id duplicates: 0
File: movies_dataset_revenue.csv, Title duplicates: 122
File: movies_dataset_revenue.csv, Title_id duplicates: 122
File: rotten_tomatoes_movies_reviews.csv, Title duplicates: 10639
File: rotten_tomatoes_movies_reviews.csv, Title_id duplicates: 10648
File: 25k IMDb movie Dataset_reviews.csv, Title duplicates: 485
File: 25k IMDb movie Dataset_reviews.csv, Title_id duplicates: 485
File: letterboxd-reviews_reviews.csv, Title duplicates: 2671
File: letterboxd-reviews_reviews.csv, Title_id duplicates: 2745
File: movies_revenue.csv, Title duplicates: 8188
File: movies_revenue.csv, Title_id duplicates: 8199
File: rotten_tomatoes_movie_reviews_concat2_reviews.csv, does not have a 'title' column.
File: rotten_tomatoes_movie_reviews_concat2_reviews.csv, Title_id duplicates: 352735
File: rotten_tomatoes_movie_reviews_concat1_reviews.csv, does not have a 'title' column.
File: rotten_tomatoes_movie_reviews_concat1_reviews.csv, Title_id duplicates: 349219
File: metacritic-reviews_reviews.csv, Title duplicates: 263
File: metacritic-reviews_reviews.csv, Title_id duplicates: 263
File: movies_reviews.csv, Title duplicates: 59293
File: movies_reviews.csv, Title_id duplicates: 59303

## Cleaning groups of data from csv files date columns and formats

#### fixing dates and addressing money and percent columns for the summary files.

In [9]:
# set path to folder containing CSV files
folder_path = '/Users/toniwork/Desktop/AUBEC - 3 Projects/to_clean_summary'
output_folder_path = '/Users/toniwork/Desktop/Capstone/summary_step_1'

# Create the output folder if it does not exist
create_folder(output_folder_path)

# loop over all files in folder
for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        # read in CSV file
        df = pd.read_csv(os.path.join(folder_path, filename))
        
        # perform cleaning and wrangling operations on the dataframe
        if 'ranking_summary' in filename:
            #print('Converting columns to numeric values and removing dollar sign and comma...')
            # convert columns to numeric values and remove dollar sign and comma
            df[['worldwide', 'domestic', 'foreign']] = df[['worldwide', 'domestic', 'foreign']].apply(
                lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
            df[['domestic_pct', 'foreign_pct']] = df[['domestic_pct', 'foreign_pct']].apply(
                lambda x: pd.to_numeric(x.astype(str).replace('%', '', regex=True), errors='coerce')).round(4) / 100.0
            
            # extract year from filename and create Year column
            year = int(filename[-8:-4])
            df['Year'] = year

        elif 'weekend_summary' in filename:
            # update top_release column 
            df['top_release_title'] = df['top_release']
            
            #print('Converting columns to numeric values and removing dollar sign and comma...')
            # convert columns to numeric values and remove dollar sign and comma
            df[['top10_gross', 'overall_gross']] = df[['top10_gross', 'overall_gross']].apply(
                lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
            df[['top10_wow_change', 'overall_wow_change']] = df[['top10_wow_change', 'overall_wow_change']].apply(
                lambda x: pd.to_numeric(x.astype(str).replace('%', '', regex=True), errors='coerce')).round(4) / 100.0
    
            #print('Splitting date column and cleaning date values...')
            # clean and split date column
            df = clean_split_date(df, 'date', filename)
            
        # save cleaned dataframe to new file
        new_filename = filename.split('.')[0] + '_date.csv'
        df.to_csv(os.path.join(output_folder_path, new_filename), index=False)

/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)

/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/1363925846.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce')).round(2)

In [10]:
folder_path = '/Users/toniwork/Desktop/Capstone/summary_step_1'
output_folder_path = '/Users/toniwork/Desktop/Capstone/summary_step_2'

# Create the output folder if it does not exist
create_folder(output_folder_path)

ranking_data = pd.DataFrame()  # Empty DataFrame to store ranking data
weekend_data = pd.DataFrame()  # Empty DataFrame to store weekend data

# Loop over all files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        df = pd.read_csv(file_path)
        
        if 'ranking' in filename.lower():
            ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
        elif 'weekend' in filename.lower():
            weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame

# Save the combined data to new files
ranking_data.to_csv(os.path.join(output_folder_path, 'combined_ranking_data.csv'), index=False)
weekend_data.to_csv(os.path.join(output_folder_path, 'combined_weekend_data.csv'), index=False)

/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_data = ranking_data.append(df)  # Append data to ranking_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame
/var/folders/wf/_x5mxls94p92t_39895yg9pm0000gq/T/ipykernel_85360/3873049472.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  weekend_data = weekend_data.append(df)  # Append data to weekend_data DataFrame

In [11]:
folder_path = '/Users/toniwork/Desktop/Capstone/summary_step_2'

drop_columns(folder_path, 'combined_weekend_data.csv', ['occasion','top_release_title'])

combined_weekend_data.csv updated successfully!

In [12]:
# Run clean_movie_data function
folder_path = '/Users/toniwork/Desktop/Capstone/summary_step_2'
output_folder_path = '/Users/toniwork/Desktop/Capstone/summary_step_2'  

clean_movie_data(folder_path, output_folder_path)

combined_ranking_data.csv cleaned and saved as combined_ranking_data.csv.
combined_weekend_data.csv cleaned and saved as combined_weekend_data.csv.

<string>:17: FutureWarning: The default value of regex will change from True to False in a future version.

In [13]:
# Print files info from folder to verify
folder_path = '/Users/toniwork/Desktop/Capstone/summary_step_2'

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        
        # Read in the CSV file as a DataFrame
        df = pd.read_csv(file_path)
        print(file_name,':',df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4200 entries, 0 to 4199
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          4200 non-null   int64
 1   title         4200 non-null   object
 2   worldwide     4200 non-null   int64
 3   domestic      3171 non-null   float64
 4   domestic_pct  3125 non-null   float64
 5   foreign       4177 non-null   float64
 6   foreign_pct   4171 non-null   float64
 7   year          4200 non-null   int64
dtypes: float64(4), int64(3), object(1)
memory usage: 262.6+ KB
combined_ranking_data.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1291 entries, 0 to 1290
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   top10_gross         1291 non-null   float64
 1   top10_wow_change    1094 non-null   float64
 2   overall_gross       1291 non-null   float64
 3   overall_wow_change  1094 non-null   float64
 4   num_releases        1291 non-null   int64
 5   top_release         1291 non-null   object
 6   week_no             1291 non-null   int64
 7   start_date          1291 non-null   object
 8   start_month         1291 non-null   object
 9   start_day           1291 non-null   int64
 10  start_year          1291 non-null   int64
 11  end_month           1291 non-null   object
 12  end_day             1291 non-null   int64
 13  end_year            1291 non-null   int64
 14  end_date            1291 non-null   object
dtypes: float64(4), int64(6), object(5)
memory usage: 151.4+ KB
combined_weekend_data.csv : None

In [14]:
# Rename rating column to mpaa_rating in metacritic-reviews.csv
df = pd.read_csv('/Users/toniwork/Desktop/Capstone/summary_step_2/combined_weekend_data.csv')

# Define a dictionary to map old column names to new column names
column_mapping = {
    'top_release': 'title'
}

# Rename the columns using the dictionary
df.rename(columns=column_mapping, inplace=True)

# Save the updated DataFrame to a new file
df.to_csv('/Users/toniwork/Desktop/Capstone/summary_step_2/combined_weekend_data.csv', index=False)

In [15]:
# Remove the first folder and its contents
shutil.rmtree('/Users/toniwork/Desktop/Capstone/summary_step_1')

In [16]:
# Loop through file in folder to add the new title_id from the title_key.csv using add_title_ids_main function
input_folder = '/Users/toniwork/Desktop/Capstone/summary_step_2'
title_key_path = '/Users/toniwork/Desktop/Capstone/keys/'
output_folder = '/Users/toniwork/Desktop/Capstone/summary_id'
split_folder = '/Users/toniwork/Desktop/Capstone/split_1'

# Create the output folder if it does not exist
create_folder(output_folder)
    
# Create the split folder if it does not exist
create_folder(split_folder)

add_title_ids_main(input_folder, title_key_path, split_folder, output_folder)

combined_ranking_data.csv cleaned and 'title_id' added.    rank                                    title  worldwide     domestic  \
0     1     the lord of the rings the two towers  936689735  339789881.0
1     2  harry potter and the chamber of secrets  878979634  261988482.0

   domestic_pct      foreign  foreign_pct  year title_id
0         0.363  596899854.0        0.637  2002   131768
1         0.298  616991152.0        0.702  2002   150726
combined_weekend_data.csv cleaned and 'title_id' added.    top10_gross  top10_wow_change  overall_gross  overall_wow_change  \
0  137343062.0             0.106    159345245.0               0.139
1  124133496.0            -0.007    139938201.0               0.039

   num_releases           title  week_no  start_date start_month  start_day  \
0            99  little fockers       53  2010-12-31         dec         31
1            97  little fockers       52  2010-12-24         dec         24

   start_year end_month  end_day  end_year    end_date title_id
0        2010       jan        2      2011  2011-01-02   207612
1        2010       dec       26      2010  2010-12-26   207612

In [17]:
# Print files info from folder to verify
folder_path = '/Users/toniwork/Desktop/Capstone/summary_id'

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        
        # Read in the CSV file as a DataFrame
        df = pd.read_csv(file_path)
        print(file_name,':',df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3040 entries, 0 to 3039
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          3040 non-null   int64
 1   title         3040 non-null   object
 2   worldwide     3040 non-null   int64
 3   domestic      2843 non-null   float64
 4   domestic_pct  2821 non-null   float64
 5   foreign       3018 non-null   float64
 6   foreign_pct   3012 non-null   float64
 7   year          3040 non-null   int64
 8   title_id      3040 non-null   int64
dtypes: float64(4), int64(4), object(1)
memory usage: 213.9+ KB
combined_ranking_data.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 897 entries, 0 to 896
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   top10_gross         897 non-null    float64
 1   top10_wow_change    764 non-null    float64
 2   overall_gross       897 non-null    float64
 3   overall_wow_change  765 non-null    float64
 4   num_releases        897 non-null    int64
 5   title               897 non-null    object
 6   week_no             897 non-null    int64
 7   start_date          897 non-null    object
 8   start_month         897 non-null    object
 9   start_day           897 non-null    int64
 10  start_year          897 non-null    int64
 11  end_month           897 non-null    object
 12  end_day             897 non-null    int64
 13  end_year            897 non-null    int64
 14  end_date            897 non-null    object
 15  title_id            897 non-null    int64
dtypes: float64(4), int64(7), object(5)
memory usage: 112.2+ KB
combined_weekend_data.csv : None

In [18]:
# Compare title_key_updated to the files in folder summary_title_id dropping any rows that do not match on title_id 
title_id_key_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/keys/title_key_updated.csv')
path = '/Users/toniwork/Desktop/Capstone/summary_id'

# Extract the title_ids from title_id_key_df into a set for faster lookup
title_ids_set = set(title_id_key_df['title_id'])

# Iterate through all the CSV files in the specified path
for filename in os.listdir(path):
    if filename.endswith('.csv'):
        file_path = os.path.join(path, filename)
        
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        
        # Drop rows where title_id is not in title_ids_set
        df_filtered = df[df['title_id'].isin(title_ids_set)]
        
        # Save the filtered DataFrame back to the CSV file
        df_filtered.to_csv(file_path, index=False)
        
        print(f"{filename} updated successfully!")

combined_ranking_data.csv updated successfully!
combined_weekend_data.csv updated successfully!

In [19]:
# Remove duplicates and get count for all updated files
folder_path = "/Users/toniwork/Desktop/Capstone/summary_id"
file_pattern = ".csv" 
drop_duplicate_rows_and_report(folder_path, file_pattern)

File: combined_ranking_data.csv, Title duplicates: 64
File: combined_ranking_data.csv, Title_id duplicates: 64
File: combined_weekend_data.csv, Title duplicates: 578
File: combined_weekend_data.csv, Title_id duplicates: 578

In [20]:
# Print files info from folder to verify
folder_path = '/Users/toniwork/Desktop/Capstone/summary_id'

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        
        # Read in the CSV file as a DataFrame
        df = pd.read_csv(file_path)
        print(file_name,':',df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2902 entries, 0 to 2901
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          2902 non-null   int64
 1   title         2902 non-null   object
 2   worldwide     2902 non-null   int64
 3   domestic      2730 non-null   float64
 4   domestic_pct  2721 non-null   float64
 5   foreign       2880 non-null   float64
 6   foreign_pct   2874 non-null   float64
 7   year          2902 non-null   int64
 8   title_id      2902 non-null   int64
dtypes: float64(4), int64(4), object(1)
memory usage: 204.2+ KB
combined_ranking_data.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 895 entries, 0 to 894
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   top10_gross         895 non-null    float64
 1   top10_wow_change    762 non-null    float64
 2   overall_gross       895 non-null    float64
 3   overall_wow_change  763 non-null    float64
 4   num_releases        895 non-null    int64
 5   title               895 non-null    object
 6   week_no             895 non-null    int64
 7   start_date          895 non-null    object
 8   start_month         895 non-null    object
 9   start_day           895 non-null    int64
 10  start_year          895 non-null    int64
 11  end_month           895 non-null    object
 12  end_day             895 non-null    int64
 13  end_year            895 non-null    int64
 14  end_date            895 non-null    object
 15  title_id            895 non-null    int64
dtypes: float64(4), int64(7), object(5)
memory usage: 112.0+ KB
combined_weekend_data.csv : None

## Final Preprocessing

### 1. Create Review Summary Key (review_summary_key.csv):
- Columns: title_id, and then a column for each review file with the count of how many times a title_id appears in that file, and a final column with the sum of the other column counts.
    - Review the average count to help determine minimum threshold of reviews needed to be included
- Purpose: To identify title_ids that have a minimum number of reviews, ensuring that I have enough review data for meaningful analysis.

In [21]:
# Create Review Summary Key (review_summary_key.csv)

# File paths
folder_path = '/Users/toniwork/Desktop/Capstone/final/'

# Initialize an empty list to store counts
counts = []

# Loop through each file in the folder
for i, file_name in enumerate(os.listdir(folder_path), 1):
    if file_name.endswith('reviews.csv'):
        file_path = os.path.join(folder_path, file_name)

        # Read the file and count the occurrences of title_id
        df = pd.read_csv(file_path)
        counts.append(df['title_id'].value_counts().reset_index().rename(columns={'index': 'title_id', 'title_id': f'file{i}_count'}))

# Merge the counts into a summary DataFrame
summary_key = counts[0]
for count in counts[1:]:
    summary_key = summary_key.merge(count, on='title_id', how='outer')

# Fill NaN values and add a sum column
summary_key = summary_key.fillna(0)
summary_key['total_count'] = summary_key.iloc[:, 1:].sum(axis=1)

# Calculate the average count
average_count = summary_key['total_count'].mean()
print(f"The average count of reviews per title_id is {average_count}")

# Optional: Save to CSV
summary_key.to_csv('review_summary_key.csv', index=False)
print(summary_key.describe(), summary_key.info())

The average count of reviews per title_id is 11.37144861452122
<class 'pandas.core.frame.DataFrame'>
Int64Index: 111189 entries, 0 to 111188
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   title_id      111189 non-null  int64
 1   file1_count   111189 non-null  float64
 2   file4_count   111189 non-null  float64
 3   file5_count   111189 non-null  float64
 4   file6_count   111189 non-null  float64
 5   file8_count   111189 non-null  float64
 6   file9_count   111189 non-null  float64
 7   file10_count  111189 non-null  float64
 8   file11_count  111189 non-null  float64
 9   total_count   111189 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 9.3 MB
            title_id    file1_count    file4_count    file5_count  \
count  111189.000000  111189.000000  111189.000000  111189.000000
mean   108080.647897       3.145887       0.445179       0.092185
std     62356.766543      20.961976       0.634726       0.297141
min         1.000000       0.000000       0.000000       0.000000
25%     54132.000000       0.000000       0.000000       0.000000
50%    108109.000000       0.000000       0.000000       0.000000
75%    162130.000000       0.000000       1.000000       0.000000
max    215824.000000     580.000000      11.000000       3.000000

         file6_count    file8_count    file9_count   file10_count  \
count  111189.000000  111189.000000  111189.000000  111189.000000
mean        0.027593       3.188760       3.157066       0.068793
std         0.465596      21.669823      21.060309       0.257890
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max        28.000000     568.000000     583.000000       3.000000

        file11_count    total_count
count  111189.000000  111189.000000
mean        1.245987      11.371449
std         0.890682      37.341455
min         0.000000       1.000000
25%         1.000000       1.000000
50%         1.000000       1.000000
75%         1.000000       3.000000
max        25.000000     625.000000   None

In [22]:
# Keep only the rows where total_count is 15 or more
filtered_summary_key = summary_key[summary_key['total_count'] >= 10]

# You can now proceed with the filtered_summary_key DataFrame, which contains only the title_ids with 15 or more reviews
print(filtered_summary_key.describe(), filtered_summary_key.info())
filtered_summary_key.to_csv('/Users/toniwork/Desktop/Capstone/keys/review_summary_key_10.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15943 entries, 0 to 44996
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title_id      15943 non-null  int64
 1   file1_count   15943 non-null  float64
 2   file4_count   15943 non-null  float64
 3   file5_count   15943 non-null  float64
 4   file6_count   15943 non-null  float64
 5   file8_count   15943 non-null  float64
 6   file9_count   15943 non-null  float64
 7   file10_count  15943 non-null  float64
 8   file11_count  15943 non-null  float64
 9   total_count   15943 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 1.3 MB
            title_id   file1_count   file4_count   file5_count   file6_count  \
count   15943.000000  15943.000000  15943.000000  15943.000000  15943.000000
mean   107886.206799     21.217525      1.297121      0.424324      0.185034
std     62222.874646     51.774041      0.711288      0.520948      1.208949
min        41.000000      0.000000      0.000000      0.000000      0.000000
25%     54030.000000      0.000000      1.000000      0.000000      0.000000
50%    107381.000000      0.000000      1.000000      0.000000      0.000000
75%    161822.500000     15.000000      1.000000      1.000000      0.000000
max    215803.000000    580.000000     11.000000      3.000000     28.000000

        file8_count   file9_count  file10_count  file11_count   total_count
count  15943.000000  15943.000000  15943.000000  15943.000000  15943.000000
mean      21.503168     21.308599      0.427523      1.477325     67.840620
std       53.671405     52.019891      0.511442      1.673657     77.378824
min        0.000000      0.000000      0.000000      0.000000     10.000000
25%        0.000000      0.000000      0.000000      1.000000     17.000000
50%        0.000000      0.000000      0.000000      1.000000     34.000000
75%       13.000000     15.000000      1.000000      2.000000     92.000000
max      568.000000    583.000000      3.000000     25.000000    625.000000   None

In [23]:
folder_path_a = '/Users/toniwork/Desktop/Capstone/summary_id'
folder_path_b = '/Users/toniwork/Desktop/Capstone/final'

output_folder = '/Users/toniwork/Desktop/Capstone/EDA_Prep'

create_folder(output_folder)

for file_name in os.listdir(folder_path_a):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path_a, file_name)
        
        df = pd.read_csv(os.path.join(folder_path_a, file_name))
        df.to_csv(os.path.join(output_folder, file_name), index=False)
        print(f"{file_name} moved to EDA folder")
        
for file_name in os.listdir(folder_path_b):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path_b, file_name)
        
        df = pd.read_csv(os.path.join(folder_path_b, file_name))
        df.to_csv(os.path.join(output_folder, file_name), index=False)
        print(f"{file_name} moved to EDA folder")

combined_ranking_data.csv moved to EDA folder
combined_weekend_data.csv moved to EDA folder
rotten_tomatoes_movie_reviews_concat3_reviews.csv moved to EDA folder
rotten_tomatoes_movies_revenue.csv moved to EDA folder
movies_dataset_revenue.csv moved to EDA folder
rotten_tomatoes_movies_reviews.csv moved to EDA folder
25k IMDb movie Dataset_reviews.csv moved to EDA folder
letterboxd-reviews_reviews.csv moved to EDA folder
movies_revenue.csv moved to EDA folder
rotten_tomatoes_movie_reviews_concat2_reviews.csv moved to EDA folder
rotten_tomatoes_movie_reviews_concat1_reviews.csv moved to EDA folder
metacritic-reviews_reviews.csv moved to EDA folder
movies_reviews.csv moved to EDA folder

In [24]:
# Filter all files and add to EDA_Filtered folder
filtered_title_ids = set(filtered_summary_key['title_id'])

# Path to the folder containing the CSV files
folder_path = '/Users/toniwork/Desktop/Capstone/EDA_Prep/'
filtered_folder_path = '/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/'

create_folder(filtered_folder_path)

# DataFrame to store concatenated rotten tomatoes reviews
concat_reviews_df = pd.DataFrame()

# Iterate through all CSV files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        dataset = pd.read_csv(file_path)
        
        # Check if 'title_id' column exists in the dataset
        if 'title_id' in dataset.columns:
            filtered_dataset = dataset[dataset['title_id'].isin(filtered_title_ids)]
            
            # If the file is one of the rotten tomatoes reviews, concatenate it
            if filename.startswith('rotten_tomatoes_movie_reviews_concat'):
                concat_reviews_df = pd.concat([concat_reviews_df, filtered_dataset], ignore_index=True)
            else:
                # Save the filtered dataset to the new folder
                filtered_file_path = os.path.join(filtered_folder_path, filename)
                filtered_dataset.to_csv(filtered_file_path, index=False)
                print(f"Saved filtered file: {filtered_file_path}")

# Save the concatenated rotten tomatoes reviews to the new folder
concat_file_path = os.path.join(filtered_folder_path, 'rotten_tomatoes_movie_reviews_combined.csv')
concat_reviews_df.to_csv(concat_file_path, index=False)
print(f"Saved concatenated file: {concat_file_path}")

Saved filtered file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/rotten_tomatoes_movies_revenue.csv
Saved filtered file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/movies_dataset_revenue.csv
Saved filtered file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/rotten_tomatoes_movies_reviews.csv
Saved filtered file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/25k IMDb movie Dataset_reviews.csv
Saved filtered file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/letterboxd-reviews_reviews.csv
Saved filtered file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/combined_ranking_data.csv
Saved filtered file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/movies_revenue.csv
Saved filtered file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/combined_weekend_data.csv
Saved filtered file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/metacritic-reviews_reviews.csv
Saved filtered file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/movies_reviews.csv
Saved concatenated file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/rotten_tomatoes_movie_reviews_combined.csv

In [25]:
input_file_path = '/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/rotten_tomatoes_movie_reviews_combined.csv'
output_file_path = '/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/rotten_tomatoes_movie_reviews_combined_cleaned.csv'

# Open the input and output files
with open(input_file_path, 'r', encoding='utf-8') as infile, open(output_file_path, 'w', encoding='utf-8', newline='') as outfile:
    csv_reader = csv.reader(infile)
    csv_writer = csv.writer(outfile)
    
    # Read and write the header
    header = next(csv_reader)
    csv_writer.writerow(header)
    
    # Read each row from the input file
    for row in csv_reader:
        # Assuming 'rt_review_text' is the first field, clean it
        row[0] = row[0].replace('"', '').replace(';', '').replace(',', '')
        
        # Write the cleaned row to the output file
        csv_writer.writerow(row)

# Verify by reading the first few rows of the cleaned CSV into a DataFrame
df_verify = pd.read_csv(output_file_path)
print(df_verify.head())

                                         review_text rt_score_sentiment  \
0                       the best film of the summer.           positive
1                    [a] solidly old-fashioned film.           positive
2  like a ken burns documentary relieved of the b...           positive
3  a handsome respectful beautifully designed fil...           negative
4  a lush romantic drama that echoes with hero wo...           positive

   rt_is_top_critic rt_original_score creation_date  title_id
0             False               4/4    2003-07-25    160985
1             False               3/5    2003-07-25    160985
2              True               3/5    2003-07-25    160985
3             False               2/4    2003-07-25    160985
4             False             3.5/4    2003-07-25    160985

### 2. Create Movie Data Summary Key (movie_data_summary_key.csv):
- Columns: title_id, and then a column for each of the files combined_ranking_data.csv, combined_weekend_data.csv, and movie_data.csv, with the count of how many times a title_id appears in those files.
    - Drop rows that do not have a revenue 
- Purpose: To ensure that I have consistent data across these files for each title_id.

Consideration: The goal is to maintain a dataset no less than 4500 unique titles.

In [26]:
# Create Movie Data Summary Key (movie_data_summary_key.csv)

# Load the data
combined_ranking_data = pd.read_csv('/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/combined_ranking_data.csv')
combined_weekend_data = pd.read_csv('/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/combined_weekend_data.csv')
rt_revenue = pd.read_csv('/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/rotten_tomatoes_movies_revenue.csv')
movies_dataset_revenue = pd.read_csv('/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/movies_dataset_revenue.csv')
movies_revenue = pd.read_csv('/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/movies_revenue.csv')

# Filter rows with revenue
combined_ranking_data = combined_ranking_data[combined_ranking_data[['worldwide', 'domestic']].notna().any(axis=1)]
combined_weekend_data = combined_weekend_data[combined_weekend_data[['top10_gross', 'overall_gross']].notna().any(axis=1)]
rt_revenue = rt_revenue[rt_revenue[['box_office']].notna().any(axis=1)]
movies_dataset_revenue = movies_dataset_revenue[movies_dataset_revenue[['domestic_box_office', 'worldwide_box_office']].notna().any(axis=1)]
movies_revenue = movies_revenue[movies_revenue[['budget', 'revenue']].notna().any(axis=1)]

# Count title_id occurrences
count_ranking = combined_ranking_data['title_id'].value_counts()
count_weekend = combined_weekend_data['title_id'].value_counts()
count_rt = rt_revenue['title_id'].value_counts()
count_movies_dataset = movies_dataset_revenue['title_id'].value_counts()
count_movies = movies_revenue['title_id'].value_counts()

# Merge the counts
summary_key_md = pd.DataFrame({'title_id': count_ranking.index, 'ranking_count': count_ranking.values})
summary_key_md = summary_key_md.merge(pd.DataFrame({'title_id': count_weekend.index, 'weekend_count': count_weekend.values}), on='title_id', how='outer')
summary_key_md = summary_key_md.merge(pd.DataFrame({'title_id': count_rt.index, 'rt_count': count_rt.values}), on='title_id', how='outer')
summary_key_md = summary_key_md.merge(pd.DataFrame({'title_id': count_movies_dataset.index, 'movies_dataset_count': count_movies_dataset.values}), on='title_id', how='outer')
summary_key_md = summary_key_md.merge(pd.DataFrame({'title_id': count_movies.index, 'rt_count': count_movies.values}), on='title_id', how='outer')


summary_key_md = summary_key_md.fillna(0)
summary_key_md['total_count'] = summary_key_md.iloc[:, 1:].sum(axis=1)

# Optional: Apply additional filtering
# summary_key = summary_key[summary_key['total_count'] >= threshold]

# Save to CSV
summary_key_md.to_csv('/Users/toniwork/Desktop/Capstone/keys/revenue_summary_key.csv', index=False)
print(summary_key_md.describe(), summary_key_md.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12936 entries, 0 to 12935
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title_id              12936 non-null  int64
 1   ranking_count         12936 non-null  float64
 2   weekend_count         12936 non-null  float64
 3   rt_count_x            12936 non-null  float64
 4   movies_dataset_count  12936 non-null  float64
 5   rt_count_y            12936 non-null  float64
 6   total_count           12936 non-null  float64
dtypes: float64(6), int64(1)
memory usage: 808.5 KB
            title_id  ranking_count  weekend_count    rt_count_x  \
count   12936.000000   12936.000000   12936.000000  12936.000000
mean   107980.272805       0.203231       0.065244      0.002860
std     62106.624041       0.408520       0.390942      0.053407
min        53.000000       0.000000       0.000000      0.000000
25%     54345.500000       0.000000       0.000000      0.000000
50%    107251.000000       0.000000       0.000000      0.000000
75%    161692.500000       0.000000       0.000000      0.000000
max    215803.000000       4.000000       8.000000      1.000000

       movies_dataset_count    rt_count_y   total_count
count          12936.000000  12936.000000  12936.000000
mean               0.378711      1.186998      1.837044
std                0.494398      0.534446      1.153958
min                0.000000      0.000000      1.000000
25%                0.000000      1.000000      1.000000
50%                0.000000      1.000000      1.000000
75%                1.000000      1.000000      2.000000
max                2.000000      9.000000     11.000000   None

In [27]:
# Load the movie_data_summary_key.csv
summary_key_path = '/Users/toniwork/Desktop/Capstone/keys/revenue_summary_key.csv'
summary_key = pd.read_csv(summary_key_path)
filtered_title_ids = set(summary_key['title_id'])

# Path to the filtered folder
filtered_folder_path = '/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/'

# Iterate through all CSV files in the folder
for filename in os.listdir(filtered_folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(filtered_folder_path, filename)
        dataset = pd.read_csv(file_path)

        # Check if 'title_id' column exists in the dataset
        if 'title_id' in dataset.columns:
            filtered_dataset = dataset[dataset['title_id'].isin(filtered_title_ids)]

            # Save the filtered dataset back to the same file
            filtered_dataset.to_csv(file_path, index=False)
            print(f"Filtered and saved file: {file_path}")
        else:
            print(f"File: {filename} does not contain 'title_id' column.")

Filtered and saved file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/rotten_tomatoes_movie_reviews_combined.csv
Filtered and saved file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/rotten_tomatoes_movies_revenue.csv
Filtered and saved file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/movies_dataset_revenue.csv
Filtered and saved file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/rotten_tomatoes_movie_reviews_combined_cleaned.csv
Filtered and saved file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/rotten_tomatoes_movies_reviews.csv
Filtered and saved file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/25k IMDb movie Dataset_reviews.csv
Filtered and saved file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/letterboxd-reviews_reviews.csv
Filtered and saved file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/combined_ranking_data.csv
Filtered and saved file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/movies_revenue.csv
Filtered and saved file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/combined_weekend_data.csv
Filtered and saved file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/metacritic-reviews_reviews.csv
Filtered and saved file: /Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/movies_reviews.csv

In [28]:
# Print files info from folder to verify
folder_path = '/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/'

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        
        # Read in the CSV file as a DataFrame
        df = pd.read_csv(file_path)
        print(file_name,':',df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 902457 entries, 0 to 902456
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   review_text         902457 non-null  object
 1   rt_score_sentiment  902457 non-null  object
 2   rt_is_top_critic    902457 non-null  bool
 3   rt_original_score   647558 non-null  object
 4   creation_date       902457 non-null  object
 5   title_id            902457 non-null  int64
dtypes: bool(1), int64(1), object(4)
memory usage: 35.3+ MB
rotten_tomatoes_movie_reviews_combined.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       37 non-null     object
 1   box_office  37 non-null     float64
 2   title_id    37 non-null     int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1016.0+ bytes
rotten_tomatoes_movies_revenue.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4899 entries, 0 to 4898
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   title                     4899 non-null   object
 1   domestic_box_office       4899 non-null   float64
 2   international_box_office  3624 non-null   float64
 3   worldwide_box_office      3624 non-null   float64
 4   title_id                  4899 non-null   int64
dtypes: float64(3), int64(1), object(1)
memory usage: 191.5+ KB
movies_dataset_revenue.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 902457 entries, 0 to 902456
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   review_text         902457 non-null  object
 1   rt_score_sentiment  902457 non-null  object
 2   rt_is_top_critic    902457 non-null  bool
 3   rt_original_score   647558 non-null  object
 4   creation_date       902457 non-null  object
 5   title_id            902457 non-null  int64
dtypes: bool(1), int64(1), object(4)
memory usage: 35.3+ MB
rotten_tomatoes_movie_reviews_combined_cleaned.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17345 entries, 0 to 17344
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           17345 non-null  object
 1   audience_score  15069 non-null  float64
 2   tomato_meter    13779 non-null  float64
 3   title_id        17345 non-null  int64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.2+ KB
rotten_tomatoes_movies_reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6710 entries, 0 to 6709
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        6710 non-null   object
 1   rating       6567 non-null   float64
 2   user_rating  737 non-null    float64
 3   title_id     6710 non-null   int64
dtypes: float64(2), int64(1), object(1)
memory usage: 209.8+ KB
25k IMDb movie Dataset_reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2520 entries, 0 to 2519
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          2520 non-null   object
 1   review         2520 non-null   object
 2   review_date    2398 non-null   object
 3   comment_count  2340 non-null   float64
 4   like_count     1846 non-null   float64
 5   title_id       2520 non-null   int64
dtypes: float64(2), int64(1), object(3)
memory usage: 118.2+ KB
letterboxd-reviews_reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2629 entries, 0 to 2628
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          2629 non-null   int64
 1   title         2629 non-null   object
 2   worldwide     2629 non-null   int64
 3   domestic      2535 non-null   float64
 4   domestic_pct  2530 non-null   float64
 5   foreign       2613 non-null   float64
 6   foreign_pct   2607 non-null   float64
 7   year          2629 non-null   int64
 8   title_id      2629 non-null   int64
dtypes: float64(4), int64(4), object(1)
memory usage: 185.0+ KB
combined_ranking_data.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15355 entries, 0 to 15354
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     15355 non-null  object
 1   budget    15355 non-null  float64
 2   revenue   15355 non-null  float64
 3   title_id  15355 non-null  int64
dtypes: float64(2), int64(1), object(1)
memory usage: 480.0+ KB
movies_revenue.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 844 entries, 0 to 843
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   top10_gross         844 non-null    float64
 1   top10_wow_change    719 non-null    float64
 2   overall_gross       844 non-null    float64
 3   overall_wow_change  720 non-null    float64
 4   num_releases        844 non-null    int64
 5   title               844 non-null    object
 6   week_no             844 non-null    int64
 7   start_date          844 non-null    object
 8   start_month         844 non-null    object
 9   start_day           844 non-null    int64
 10  start_year          844 non-null    int64
 11  end_month           844 non-null    object
 12  end_day             844 non-null    int64
 13  end_year            844 non-null    int64
 14  end_date            844 non-null    object
 15  title_id            844 non-null    int64
dtypes: float64(4), int64(7), object(5)
memory usage: 105.6+ KB
combined_weekend_data.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6612 entries, 0 to 6611
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        6612 non-null   object
 1   user_rating  5742 non-null   float64
 2   title_id     6612 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 155.1+ KB
metacritic-reviews_reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23553 entries, 0 to 23552
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         23553 non-null  object
 1   popularity    23553 non-null  float64
 2   vote_average  23553 non-null  float64
 3   vote_count    23553 non-null  float64
 4   title_id      23553 non-null  int64
dtypes: float64(3), int64(1), object(1)
memory usage: 920.2+ KB
movies_reviews.csv : None

In [29]:
def drop_specific_rows(file_path, output_path):
    # Read in the CSV file as a DataFrame
    df = pd.read_csv(file_path, low_memory=False)

    # Define a condition to filter rows where both specified columns are NA or zero
    condition = ((df['rating'].isna() | (df['rating'] == 0)))
    # Drop rows that meet the condition
    df.drop(df[condition].index, inplace=True)

    # Save the DataFrame back to the file
    df.to_csv(output_path, index=False)

# File path to process
file_path = '/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/25k IMDb movie Dataset_reviews.csv'
output_path = '/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/25k IMDb movie Dataset_reviews.csv'
drop_specific_rows(file_path, output_path)

In [30]:
def drop_specific_rows(file_path, output_path):
    # Read in the CSV file as a DataFrame
    df = pd.read_csv(file_path, low_memory=False)

    # Define a condition to filter rows where both specified columns are NA or zero
    condition = ((df['domestic'].isna() | (df['domestic'] == 0)))
    # Drop rows that meet the condition
    df.drop(df[condition].index, inplace=True)

    # Save the DataFrame back to the file
    df.to_csv(output_path, index=False)

# File path to process
file_path = '/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/combined_ranking_data.csv'
output_path = '/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/combined_ranking_data.csv'
drop_specific_rows(file_path, output_path)

In [31]:
def drop_specific_rows(file_path, output_path):
    # Read in the CSV file as a DataFrame
    df = pd.read_csv(file_path, low_memory=False)

    # Define a condition to filter rows where both specified columns are NA or zero
    condition = ((df['user_rating'].isna() | (df['user_rating'] == 0)))
    # Drop rows that meet the condition
    df.drop(df[condition].index, inplace=True)

    # Save the DataFrame back to the file
    df.to_csv(output_path, index=False)

# File path to process
file_path = '/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/metacritic-reviews_reviews.csv'
output_path = '/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/metacritic-reviews_reviews.csv'
drop_specific_rows(file_path, output_path)

In [32]:
# Load the title key file
title_key_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/keys/title_key_updated.csv')

# Initialize sets to keep track of title_ids found in the specified types of files
title_ids_in_revenue_data = set()
title_ids_in_reviews_combined = set()

# Directory path
folder_path = '/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/'

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith(('revenue.csv', 'data.csv')) or file_name.endswith(('reviews.csv', 'combined.csv')):
        file_path = os.path.join(folder_path, file_name)
        
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        
        # Check if 'title_id' column exists in the DataFrame
        if 'title_id' in df.columns:
            title_ids = set(df['title_id'])
            
            # Update the sets based on the type of file
            if file_name.endswith(('revenue.csv', 'data.csv')):
                title_ids_in_revenue_data.update(title_ids)
            else:
                title_ids_in_reviews_combined.update(title_ids)

# Filter the title_key_df DataFrame based on the conditions
filtered_title_key_df = title_key_df[title_key_df['title_id'].isin(title_ids_in_revenue_data) & title_key_df['title_id'].isin(title_ids_in_reviews_combined)]

# Save the filtered DataFrame to a new CSV file
filtered_title_key_df.to_csv('/Users/toniwork/Desktop/Capstone/keys/title_key_final.csv', index=False)

print("Title key file has been updated.")

Title key file has been updated.

In [33]:
df = pd.read_csv('/Users/toniwork/Desktop/Capstone/keys/title_key_final.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12933 entries, 0 to 12932
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          12933 non-null  object
 1   release_date   12933 non-null  object
 2   release_year   12933 non-null  int64
 3   release_month  12933 non-null  int64
 4   release_day    12933 non-null  int64
 5   title_id       12933 non-null  int64
dtypes: int64(4), object(2)
memory usage: 606.4+ KB

### Filter directors, actors, and genres reference datasets 

Filtering the reference datasets in the title_ids column sets to remove any title_ids not in title_key_final.csv

In [2]:
# Filter the directors.csv

# Load the review summary key file
title_id_key_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/keys/title_key_final.csv')

# Load the directors file
directors = pd.read_csv('/Users/toniwork/Desktop/Capstone/reference/directors.csv')

# Create a set of valid title IDs for faster lookup
valid_title_ids = set(title_id_key_df['title_id'].astype(int))

# Apply the filtering function
directors['title_ids'] = directors['title_ids'].apply(lambda x: filter_title_ids_2(x, valid_title_ids))

# Drop rows where the title_ids set is empty
directors = directors[directors['title_ids'] != 'set()']

# Save the filtered data
directors.to_csv('/Users/toniwork/Desktop/Capstone/reference/directors_filtered.csv', index=False)

In [3]:
# Filter the actors.csv

# Load the actors file
actors = pd.read_csv('/Users/toniwork/Desktop/Capstone/reference/actors.csv')

# Apply the filtering function
actors['title_ids'] = actors['title_ids'].apply(lambda x: filter_title_ids_2(x, valid_title_ids))

# Drop rows where the title_ids set is empty
actors = actors[actors['title_ids'] != 'set()']

# Save the filtered data
actors.to_csv('/Users/toniwork/Desktop/Capstone/reference/actors_filtered.csv', index=False)

In [4]:
# Filter genres.csv

# Load the genres file
genres = pd.read_csv('/Users/toniwork/Desktop/Capstone/reference/genres.csv')

# Apply the filtering function
genres['title_ids'] = genres['title_ids'].apply(lambda x: filter_title_ids_2(x, valid_title_ids))

# Drop rows where the title_ids set is empty
genres = genres[genres['title_ids'] != 'set()']

# Save the filtered data
genres.to_csv('/Users/toniwork/Desktop/Capstone/reference/genres_filtered.csv', index=False)

In [5]:
# Read the CSV files
df1 = pd.read_csv('/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/rotten_tomatoes_movies_revenue.csv')
df2 = pd.read_csv('/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/movies_dataset_revenue.csv')
df3 = pd.read_csv('/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/movies_revenue.csv')

# Drop unwanted columns
df2 = df2.drop(columns=['international_box_office', 'worldwide_box_office'])
df3 = df3.drop(columns=['budget'])

# Rename the columns to a standardized name
df1.rename(columns={'box_office': 'standardized_revenue'}, inplace=True)
df2.rename(columns={'domestic_box_office': 'standardized_revenue'}, inplace=True)
df3.rename(columns={'revenue': 'standardized_revenue'}, inplace=True)

# Drop the original columns to avoid duplication
df1 = df1[['title', 'title_id', 'standardized_revenue']]
df2 = df2[['title', 'title_id', 'standardized_revenue']]
df3 = df3[['title', 'title_id', 'standardized_revenue']]

# Concatenate the DataFrames
final_df = pd.concat([df1, df2, df3])

# Save the final DataFrame to a new CSV file
final_df.to_csv('/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/revenue_simplified.csv', index=False)

# Print DataFrame info
print(final_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20291 entries, 0 to 15354
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 20291 non-null  object
 1   title_id              20291 non-null  int64
 2   standardized_revenue  20291 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 634.1+ KB
None

In [6]:
# Read the existing revenue_simplified.csv into a DataFrame
final_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/revenue_simplified.csv')

# Read the movies_revenue.csv into another DataFrame
df3 = pd.read_csv('/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/movies_revenue.csv')

# Merge the 'budget' column from df3 onto final_df based on 'title_id'
final_df = pd.merge(final_df, df3[['title_id', 'budget']], on='title_id', how='left')

# Save the updated DataFrame back to revenue_simplified.csv
final_df.to_csv('/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/revenue_simplified.csv', index=False)

# Print DataFrame info to confirm the merge
print(final_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28278 entries, 0 to 28277
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 28278 non-null  object
 1   title_id              28278 non-null  int64
 2   standardized_revenue  28278 non-null  float64
 3   budget                28155 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.1+ MB
None

In [7]:
folder_path = '/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered'
drop_duplicate_rows_and_report(folder_path, 'simplified.csv')

File: revenue_simplified.csv, Title duplicates: 16152
File: revenue_simplified.csv, Title_id duplicates: 16158

In [8]:
# Read the existing revenue_simplified.csv into a DataFrame
final_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/revenue_simplified.csv')

# Remove duplicates based on 'title_id', keeping the first occurrence
final_df = final_df.drop_duplicates(subset='title_id', keep='first')

# Sort the DataFrame by 'standardized_revenue' in descending order
final_df = final_df.sort_values(by='standardized_revenue', ascending=False)

# Save the updated DataFrame back to revenue_simplified.csv
final_df.to_csv('/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/revenue_simplified.csv', index=False)

# Print DataFrame info to confirm the changes
print(final_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12914 entries, 6181 to 23582
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 12914 non-null  object
 1   title_id              12914 non-null  int64
 2   standardized_revenue  12914 non-null  float64
 3   budget                12793 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 504.5+ KB
None

In [10]:
# Read datasets
df1 = pd.read_csv('/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/rotten_tomatoes_movies_reviews.csv')[['title', 'title_id', 'audience_score', 'tomato_meter']]
df2 = pd.read_csv('/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/25k IMDb movie Dataset_reviews.csv')[['title', 'title_id', 'rating', 'user_rating']]
df3 = pd.read_csv('/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/metacritic-reviews_reviews.csv')[['title', 'title_id', 'user_rating']]

# Rename columns for consistency
df1.rename(columns={'audience_score': 'user_rating'}, inplace=True)
df1.rename(columns={'tomato_meter': 'rating'}, inplace=True)

# Scale IMDb ratings to match Rotten Tomatoes scale
df2['rating'] = df2['rating'] * 10  # Scaling from 10-point to 100-point scale
df2['user_rating'] = df2['user_rating'] / 10  # Scaling from 1000-point to 100-point scale

# Concatenate
ratings_df = pd.concat([df1, df2, df3], ignore_index=True)

# Save to CSV
ratings_df.to_csv('/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/ratings.csv', index=False)

# Print DataFrame info to confirm the changes
print(ratings_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29654 entries, 0 to 29653
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        29654 non-null  object
 1   title_id     29654 non-null  int64
 2   user_rating  21405 non-null  float64
 3   rating       20346 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 926.8+ KB
None

In [11]:
folder_path = '/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered'
drop_duplicate_rows_and_report(folder_path, 'ratings.csv')

File: ratings.csv, Title duplicates: 25842
File: ratings.csv, Title_id duplicates: 25853

In [12]:
shutil.move('/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/letterboxd-reviews_reviews.csv', '/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/lr_reviews.csv')
shutil.move('/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/movies_reviews.csv', '/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/popularity.csv')

'/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/popularity.csv'

In [13]:
# Source folder
src_folder = '/Users/toniwork/Desktop/Capstone/EDA_Prep_Filtered/'

# Destination folder
dst_folder = '/Users/toniwork/Desktop/Capstone/EDA/'

# Create destination folder if it doesn't exist
if not os.path.exists(dst_folder):
    os.makedirs(dst_folder)

# List of files to move
files_to_move = ['ratings.csv', 'lr_reviews.csv', 'popularity.csv', 'rotten_tomatoes_movie_reviews_combined.csv', 
                 'combined_ranking_data.csv', 'combined_weekend_data.csv', 'revenue_simplified.csv']

# Loop to move each file
for file_name in files_to_move:
    # construct full file path
    source = src_folder + file_name
    destination = dst_folder + file_name
    
    try:
        shutil.move(source, destination)
        print(f"Moved : {file_name}")
    except FileNotFoundError:
        print(f"{file_name} not found in {src_folder}")
    except shutil.Error:
        print(f"Error occurred while moving {file_name}.")

Moved : ratings.csv
Moved : lr_reviews.csv
Moved : popularity.csv
Moved : rotten_tomatoes_movie_reviews_combined.csv
Moved : combined_ranking_data.csv
Moved : combined_weekend_data.csv
Moved : revenue_simplified.csv

In [14]:
pip install nbconvert

Requirement already satisfied: nbconvert in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (6.4.4)
Requirement already satisfied: traitlets>=5.0 in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from nbconvert) (5.1.1)
Requirement already satisfied: nbformat>=4.4 in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from nbconvert) (5.5.0)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from nbconvert) (0.5.13)
Requirement already satisfied: testpath in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from nbconvert) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from nbconvert) (1.5.0)
Requirement already satisfied: jupyterlab-pygments in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from nbconvert) (0.1.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from nbconvert) (0.8.4)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from nbconvert) (0.4)
Requirement already satisfied: jupyter-core in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from nbconvert) (4.11.1)
Requirement already satisfied: jinja2>=2.4 in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from nbconvert) (2.11.3)
Requirement already satisfied: bleach in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from nbconvert) (4.1.0)
Requirement already satisfied: defusedxml in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from nbconvert) (0.7.1)
Requirement already satisfied: pygments>=2.4.1 in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from nbconvert) (2.11.2)
Requirement already satisfied: beautifulsoup4 in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from nbconvert) (4.11.1)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from jinja2>=2.4->nbconvert) (2.0.1)
Requirement already satisfied: nest-asyncio in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert) (1.5.5)
Requirement already satisfied: jupyter-client>=6.1.5 in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert) (7.3.4)
Requirement already satisfied: fastjsonschema in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from nbformat>=4.4->nbconvert) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from nbformat>=4.4->nbconvert) (4.16.0)
Requirement already satisfied: soupsieve>1.2 in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4->nbconvert) (2.3.1)
Requirement already satisfied: webencodings in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from bleach->nbconvert) (0.5.1)
Requirement already satisfied: packaging in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from bleach->nbconvert) (21.3)
Requirement already satisfied: six>=1.9.0 in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from bleach->nbconvert) (1.16.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from jsonschema>=2.6->nbformat>=4.4->nbconvert) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from jsonschema>=2.6->nbformat>=4.4->nbconvert) (21.4.0)
Requirement already satisfied: pyzmq>=23.0 in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert) (23.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert) (2.8.2)
Requirement already satisfied: tornado>=6.0 in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert) (6.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/toniwork/opt/anaconda3/lib/python3.9/site-packages (from packaging->bleach->nbconvert) (3.0.9)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import nbformat
from nbconvert.preprocessors import ExecutePreprocessor

# Load the notebook you want to run
with open("/Users/toniwork/Desktop/Capstone/Capstone - EDA.ipynb") as f:
    notebook = nbformat.read(f, as_version=4)

# Set up the notebook execution configuration
ep = ExecutePreprocessor(timeout=600, kernel_name='python3')

# Execute the notebook
ep.preprocess(notebook, {'metadata': {'path': '/Users/toniwork/Desktop/Capstone/'}})

# Save the executed notebook to a new file
with open("/Users/toniwork/Desktop/Capstone/Capstone - EDA.ipynb", 'wt') as f:
    nbformat.write(notebook, f)