<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Cleaning" data-toc-modified-id="Data-Cleaning-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data Cleaning</a></span><ul class="toc-item"><li><span><a href="#Remove-unnecessary-columns-from-datasets-for-easier-manipulation." data-toc-modified-id="Remove-unnecessary-columns-from-datasets-for-easier-manipulation.-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Remove unnecessary columns from datasets for easier manipulation.</a></span></li><li><span><a href="#Clean-movie-data-using-the-clean_movie_data()-function,-which-includes:" data-toc-modified-id="Clean-movie-data-using-the-clean_movie_data()-function,-which-includes:-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Clean movie data using the clean_movie_data() function, which includes:</a></span></li><li><span><a href="#Clean-monetary-columns-using-the-clean_money_columns()-function,-which:" data-toc-modified-id="Clean-monetary-columns-using-the-clean_money_columns()-function,-which:-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Clean monetary columns using the clean_money_columns() function, which:</a></span></li></ul></li><li><span><a href="#Title-Key-Creation-and-Application" data-toc-modified-id="Title-Key-Creation-and-Application-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Title Key Creation and Application</a></span><ul class="toc-item"><li><span><a href="#Create-a-title-key-using-the-create_title_key_file()-function,-which:" data-toc-modified-id="Create-a-title-key-using-the-create_title_key_file()-function,-which:-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Create a title key using the create_title_key_file() function, which:</a></span></li><li><span><a href="#Add-corresponding-title-IDs-to-each-dataset-using-the-add_title_ids()-function,-which:" data-toc-modified-id="Add-corresponding-title-IDs-to-each-dataset-using-the-add_title_ids()-function,-which:-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Add corresponding title IDs to each dataset using the add_title_ids() function, which:</a></span></li></ul></li><li><span><a href="#Dataset-Compare/Update" data-toc-modified-id="Dataset-Compare/Update-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Dataset Compare/Update</a></span><ul class="toc-item"><li><span><a href="#Compare-and-update-datasets-with-corresponding-title-IDs-using-the-add_title_id()-function,-which:" data-toc-modified-id="Compare-and-update-datasets-with-corresponding-title-IDs-using-the-add_title_id()-function,-which:-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Compare and update datasets with corresponding title IDs using the add_title_id() function, which:</a></span></li><li><span><a href="#Delete-files,-drop-columns,-rename-columns" data-toc-modified-id="Delete-files,-drop-columns,-rename-columns-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Delete files, drop columns, rename columns</a></span></li></ul></li><li><span><a href="#Create-reference-files-for-easier-comparison" data-toc-modified-id="Create-reference-files-for-easier-comparison-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Create reference files for easier comparison</a></span><ul class="toc-item"><li><span><a href="#Creating-a-file-for-directors,-actors,-and-genres-will-make-the-analysis-easier" data-toc-modified-id="Creating-a-file-for-directors,-actors,-and-genres-will-make-the-analysis-easier-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Creating a file for directors, actors, and genres will make the analysis easier</a></span></li><li><span><a href="#Removing-rows-where-there-is-only-1-title_id" data-toc-modified-id="Removing-rows-where-there-is-only-1-title_id-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Removing rows where there is only 1 title_id</a></span></li></ul></li><li><span><a href="#Create-an-updated-title_id_key.csv" data-toc-modified-id="Create-an-updated-title_id_key.csv-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Create an updated title_id_key.csv</a></span></li><li><span><a href="#Data-File-Split-and-Merge" data-toc-modified-id="Data-File-Split-and-Merge-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Data File Split and Merge</a></span><ul class="toc-item"><li><span><a href="#For-each-dataset-split-the-files-to-prepare-for-complete-dataset-build:" data-toc-modified-id="For-each-dataset-split-the-files-to-prepare-for-complete-dataset-build:-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>For each dataset split the files to prepare for complete dataset build:</a></span></li></ul></li></ul></div>

The Jupyter notebook is aimed at cleaning and merging movie datasets to create a more cohesive dataset. The cleaning process is done using the 'clean_movie_data()' function that applies several cleaning steps to each file, including converting column names to snake_case, updating columns with spaces, and creating release year/month/day columns.

The 'clean_money_columns()' and 'clean_money_string()' functions are helper functions used to clean currency values in the dataset. Once the data is cleaned, the 'add_title_ids()' function is used to merge the datasets using a title ID key to minimize the number of datasets and rows being worked with for better computation.

The notebook also includes a section on creating a title key to ensure consistency across multiple datasets. The 'create_title_key_file()' function creates a DataFrame with the title and the number of files it appears in and filters it to keep only titles that appear in at least two files.

The 'add_title_id()' function merges two datasets with their respective main datasets by adding a 'title_id' column to the extras datasets. The function is called twice, once for 'movies.csv' and 'movies_extras.csv' and the second time for 'movie_data.csv' and 'movie_data_extras.csv'. The output is saved in the 'cl_extras_reviews' folder.

In conclusion, the Jupyter notebook provides an end-to-end solution to cleaning and merging movie datasets to create a cohesive dataset for further analysis.

In [1]:
import import_ipynb
from common_imports import *
from capstone_functions import *

importing Jupyter notebook from imports.ipynb
importing Jupyter notebook from capstone_functions.ipynb

## Data Cleaning

### Remove unnecessary columns from datasets for easier manipulation.

### Clean movie data using the clean_movie_data() function, which includes:
- Converting column names to snake_case
- Cleaning 'title' columns to lowercase with no punctuation or special characters
- Creating 'release_year', 'release_month', and 'release_day' columns from 'release_date'
- Removing rows with duplicate titles and years, keeping the row with fewest null values
- Dropping rows where the release date or year is outside the range of 2002-2022

### Clean monetary columns using the clean_money_columns() function, which:
- Cleans values in specified columns to remove non-numeric characters and apply multipliers

Save cleaned data to new CSV files in output folder

In [2]:
# Remove unneeded columns to make for easier processing
folder_path = '/Users/toniwork/Desktop/AUBEC - 3 Projects/to_clean'
output_folder_path = '/Users/toniwork/Desktop/Capstone/step_1'

# Create the output folder if it does not exist
create_folder(output_folder_path)

# Dictionary to map file names to the columns to keep
columns_to_keep = {
    'movies_dataset.csv': ['title', 'Domestic Box Office', 'International Box Office', 'Genre', 'Worldwide Box Office', 'release_year', 'release_month', 'release_day', 'release_date', 'Id', 'Languages'],
    'metacritic-reviews.csv': ['Title', 'Rating', 'summary', 'User rating', 'Release Date'],
    'letterboxd-reviews.csv': ['Title', 'Review', 'Review date', 'Comment count', 'Like count', 'Release Year'],
    'rotten_tomatoes_movies.csv': ['title', 'audience_score', 'tomato_meter', 'director', 'id', 'box_office', 'release_date_theaters', 'original_language'],
    'rotten_tomatoes_movie_reviews.csv': ['reviewText', 'scoreSentiment', 'id', 'isTopCritic', 'originalScore', 'creationDate'],
    '25k IMDb movie Dataset.csv': ['movie title', 'Rating', 'User Rating', 'Director', 'Top 5 Casts', 'year'],
    'movies.csv': ['title', 'genres', 'popularity', 'budget', 'revenue', 'vote_average', 'vote_count', 'id', 'release_date', 'original_language'],
    'movies_extras.csv': ['id','credits']
}

# Iterate through the files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        output_file_path = os.path.join(output_folder_path, filename)
        
        # Read the CSV file
        df = pd.read_csv(file_path)
        
        # Print the original columns
        print(f"Original columns for {filename}: {df.columns.tolist()}")
        
        # Get the columns to keep for this file
        keep_columns = columns_to_keep.get(filename, [])
        
        # Print the columns to keep
        print(f"Columns to keep for {filename}: {keep_columns}")
        
        # Drop all other columns
        df = df[keep_columns]
        
        # Print the remaining columns
        print(f"Remaining columns for {filename}: {df.columns.tolist()}")
        
        # Save the cleaned file to the output folder
        df.to_csv(output_file_path, index=False)

print("Dropping columns completed!")

Original columns for movies_dataset.csv: ['Id', 'title', 'Creative Type', 'Domestic Box Office', 'Franchise', 'Genre', 'International Box Office', 'Keywords', 'Languages', 'MPAA Rating', 'MPAA Rating for', 'Opening Weekend', 'Production Budget', 'Production Companies', 'Production Countries', 'Production Method', 'Running Time Min', 'Source', 'Opening Theater Counts', 'Max Theater Counts', 'Avg Weeks Per Theater', 'Worldwide Box Office', 'release_year', 'release_month', 'release_day', 'release_date']
Columns to keep for movies_dataset.csv: ['title', 'Domestic Box Office', 'International Box Office', 'Genre', 'Worldwide Box Office', 'release_year', 'release_month', 'release_day', 'release_date', 'Id', 'Languages']
Remaining columns for movies_dataset.csv: ['title', 'Domestic Box Office', 'International Box Office', 'Genre', 'Worldwide Box Office', 'release_year', 'release_month', 'release_day', 'release_date', 'Id', 'Languages']
Original columns for metacritic-reviews.csv: ['Title', 'Release Date', 'Rating', 'summary', 'User rating', 'Website rating']
Columns to keep for metacritic-reviews.csv: ['Title', 'Rating', 'summary', 'User rating', 'Release Date']
Remaining columns for metacritic-reviews.csv: ['Title', 'Rating', 'summary', 'User rating', 'Release Date']
Original columns for letterboxd-reviews.csv: ['Title', 'Release Year', 'Reviewer name', 'Review date', 'Review', 'Comment count', 'Like count']
Columns to keep for letterboxd-reviews.csv: ['Title', 'Review', 'Review date', 'Comment count', 'Like count', 'Release Year']
Remaining columns for letterboxd-reviews.csv: ['Title', 'Review', 'Review date', 'Comment count', 'Like count', 'Release Year']
Original columns for rotten_tomatoes_movies.csv: ['id', 'title', 'audience_score', 'tomato_meter', 'rating', 'rating_contents', 'release_date_theaters', 'runtime_minutes', 'genre', 'original_language', 'director', 'writer', 'box_office', 'distributor', 'sound_mix']
Columns to keep for rotten_tomatoes_movies.csv: ['title', 'audience_score', 'tomato_meter', 'director', 'id', 'box_office', 'release_date_theaters', 'original_language']
Remaining columns for rotten_tomatoes_movies.csv: ['title', 'audience_score', 'tomato_meter', 'director', 'id', 'box_office', 'release_date_theaters', 'original_language']
Original columns for movies_extras.csv: ['id', 'tagline', 'credits', 'keywords', 'poster_path', 'backdrop_path']
Columns to keep for movies_extras.csv: ['id', 'credits']
Remaining columns for movies_extras.csv: ['id', 'credits']
Original columns for movie_data.csv: ['Unnamed: 0', 'movie_id', 'original_language', 'overview', 'popularity', 'release_date', 'title', 'vote_average', 'vote_count', 'genres', 'keywords', 'Cast', 'crew']
Columns to keep for movie_data.csv: []
Remaining columns for movie_data.csv: []
Original columns for rotten_tomatoes_movie_reviews.csv: ['id', 'reviewId', 'creationDate', 'criticName', 'isTopCritic', 'originalScore', 'reviewState', 'publicatioName', 'reviewText', 'scoreSentiment', 'reviewUrl']
Columns to keep for rotten_tomatoes_movie_reviews.csv: ['reviewText', 'scoreSentiment', 'id', 'isTopCritic', 'originalScore', 'creationDate']
Remaining columns for rotten_tomatoes_movie_reviews.csv: ['reviewText', 'scoreSentiment', 'id', 'isTopCritic', 'originalScore', 'creationDate']
Original columns for 25k IMDb movie Dataset.csv: ['movie title', 'Rating', 'User Rating', 'Generes', 'Overview', 'Plot Kyeword', 'Director', 'Top 5 Casts', 'Writer', 'year', 'path']
Columns to keep for 25k IMDb movie Dataset.csv: ['movie title', 'Rating', 'User Rating', 'Director', 'Top 5 Casts', 'year']
Remaining columns for 25k IMDb movie Dataset.csv: ['movie title', 'Rating', 'User Rating', 'Director', 'Top 5 Casts', 'year']
Original columns for movies.csv: ['id', 'title', 'genres', 'original_language', 'overview', 'popularity', 'production_companies', 'release_date', 'budget', 'revenue', 'runtime', 'status', 'tagline', 'vote_average', 'vote_count', 'credits', 'keywords', 'poster_path', 'backdrop_path', 'recommendations']
Columns to keep for movies.csv: ['title', 'genres', 'popularity', 'budget', 'revenue', 'vote_average', 'vote_count', 'id', 'release_date', 'original_language']
Remaining columns for movies.csv: ['title', 'genres', 'popularity', 'budget', 'revenue', 'vote_average', 'vote_count', 'id', 'release_date', 'original_language']
Dropping columns completed!

In [3]:
# Delete files with no data 

folder_path = '/Users/toniwork/Desktop/Capstone/step_1'

# Iterate through the files in the folder
for filename in os.listdir(folder_path):
    file_path = os.path.join(folder_path, filename)
    
    # Get the file size in bytes
    file_size = os.path.getsize(file_path)
    
    # Check if the file size is less than 50KB (50KB = 50 * 1024 bytes)
    if file_size < 50 * 1024:
        print(f"Deleting {filename} (size: {file_size} bytes)")
        os.remove(file_path)

print("Deletion of files under 500KB completed!")

Deleting movie_data.csv (size: 15872 bytes)
Deletion of files under 500KB completed!

In [4]:
# Print all file info from step_1 folder, this is to review the column names and data
folder_path = '/Users/toniwork/Desktop/Capstone/step_1'

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        
        # Read in the CSV file as a DataFrame
        df = pd.read_csv(file_path)
        print(file_name,':',df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13195 entries, 0 to 13194
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   title                     13195 non-null  object
 1   Domestic Box Office       13194 non-null  float64
 2   International Box Office  8095 non-null   float64
 3   Genre                     12643 non-null  object
 4   Worldwide Box Office      8095 non-null   float64
 5   release_year              13187 non-null  float64
 6   release_month             13185 non-null  float64
 7   release_day               13180 non-null  float64
 8   release_date              13193 non-null  object
 9   Id                        13195 non-null  int64
 10  Languages                 10464 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 1.1+ MB
movies_dataset.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9345 entries, 0 to 9344
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         9345 non-null   object
 1   Rating        8560 non-null   object
 2   summary       9344 non-null   object
 3   User rating   7674 non-null   float64
 4   Release Date  9345 non-null   object
dtypes: float64(1), object(4)
memory usage: 365.2+ KB
metacritic-reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4596 entries, 0 to 4595
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          4596 non-null   object
 1   Review         3560 non-null   object
 2   Review date    4370 non-null   object
 3   Comment count  4273 non-null   object
 4   Like count     3318 non-null   float64
 5   Release Year   4578 non-null   float64
dtypes: float64(2), object(4)
memory usage: 215.6+ KB
letterboxd-reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143258 entries, 0 to 143257
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   title                  142891 non-null  object
 1   audience_score         73248 non-null   float64
 2   tomato_meter           33877 non-null   float64
 3   director               139064 non-null  object
 4   id                     143258 non-null  object
 5   box_office             14743 non-null   object
 6   release_date_theaters  30773 non-null   object
 7   original_language      129400 non-null  object
dtypes: float64(2), object(6)
memory usage: 8.7+ MB
rotten_tomatoes_movies.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249325 entries, 0 to 249324
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       249325 non-null  int64
 1   credits  151157 non-null  object
dtypes: int64(1), object(1)
memory usage: 3.8+ MB
movies_extras.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1444963 entries, 0 to 1444962
Data columns (total 6 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   reviewText      1375738 non-null  object
 1   scoreSentiment  1444963 non-null  object
 2   id              1444963 non-null  object
 3   isTopCritic     1444963 non-null  bool
 4   originalScore   1009745 non-null  object
 5   creationDate    1444963 non-null  object
dtypes: bool(1), object(5)
memory usage: 56.5+ MB
rotten_tomatoes_movie_reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14057 entries, 0 to 14056
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie title  14057 non-null  object
 1   Rating       12763 non-null  float64
 2   User Rating  14057 non-null  object
 3   Director     14057 non-null  object
 4   Top 5 Casts  14057 non-null  object
 5   year         14057 non-null  int64
dtypes: float64(1), int64(1), object(4)
memory usage: 659.0+ KB
25k IMDb movie Dataset.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722917 entries, 0 to 722916
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   title              722913 non-null  object
 1   genres             511960 non-null  object
 2   popularity         722917 non-null  float64
 3   budget             722917 non-null  float64
 4   revenue            722917 non-null  float64
 5   vote_average       722917 non-null  float64
 6   vote_count         722917 non-null  float64
 7   id                 722917 non-null  int64
 8   release_date       670290 non-null  object
 9   original_language  722917 non-null  object
dtypes: float64(5), int64(1), object(4)
memory usage: 55.2+ MB
movies.csv : None

In [5]:
# Intital clean_movie function to clean up for data consistency
def clean_movie_data(folder_path, output_folder_path):
    for filename in os.listdir(folder_path):
        if filename.endswith('.csv'):
            try:
                df = pd.read_csv(os.path.join(folder_path, filename))
            except FileNotFoundError:
                print(f"Error: {filename} not found.")
                continue

        # Call the cleaning functions
        df = convert_column_names(df)
        df = clean_title_columns(df)
        df = handle_release_dates(df)
        df = remove_duplicates(df, columns_to_check=['release_year','title', 'Title', 'movie title'])
        df = handle_date_ranges(df,
            date_columns=['release_date'],
            year_column='year',
            start_date='2002-01-01',
            end_date='2022-12-31',
            start_year=2002,
            end_year=2022)
        df = convert_string_columns_to_lowercase(df)
        df = filter_by_language(df)
        
        # Save cleaned DataFrame
        new_filename = filename
        df.to_csv(os.path.join(output_folder_path, new_filename), index=False)
        print(f"{filename} cleaned and saved as {new_filename}.")

In [6]:
# 2nd initial clean_movie function to clean up non-numeric to numeric types
def clean_movie_data2(folder_path, output_folder_path):
    for filename in os.listdir(folder_path):
        if filename.endswith('.csv'):
            try:
                df = pd.read_csv(os.path.join(folder_path, filename))
            except FileNotFoundError:
                print(f"Error: {filename} not found.")
                continue

        # Call the cleaning functions
        df = clean_money_columns(df, columns=['user_rating', 'box_office', 'comment_count'])       

        # Save cleaned DataFrame
        new_filename = filename
        df.to_csv(os.path.join(output_folder_path, new_filename), index=False)
        print(f"{filename} cleaned and saved as {new_filename}.")

In [7]:
# Run clean_movie_data function
folder_path = '/Users/toniwork/Desktop/Capstone/step_1'
output_folder_path = '/Users/toniwork/Desktop/Capstone/step_1'  

clean_movie_data(folder_path, output_folder_path)

Error: 'release_date' column not in 'YYYY-MM-DD' format. Cannot convert non-finite values (NA or inf) to integer
movies_dataset.csv cleaned and saved as movies_dataset.csv.

<string>:5: FutureWarning: The default value of regex will change from True to False in a future version.
<string>:5: FutureWarning: The default value of regex will change from True to False in a future version.

metacritic-reviews.csv cleaned and saved as metacritic-reviews.csv.
letterboxd-reviews.csv cleaned and saved as letterboxd-reviews.csv.

<string>:5: FutureWarning: The default value of regex will change from True to False in a future version.
<string>:5: FutureWarning: The default value of regex will change from True to False in a future version.

rotten_tomatoes_movies.csv cleaned and saved as rotten_tomatoes_movies.csv.
movies_extras.csv cleaned and saved as movies_extras.csv.
rotten_tomatoes_movie_reviews.csv cleaned and saved as rotten_tomatoes_movie_reviews.csv.
25k IMDb movie Dataset.csv cleaned and saved as 25k IMDb movie Dataset.csv.

<string>:5: FutureWarning: The default value of regex will change from True to False in a future version.
<string>:5: FutureWarning: The default value of regex will change from True to False in a future version.

Error: 'release_date' column not in 'YYYY-MM-DD' format. Cannot convert non-finite values (NA or inf) to integer
movies.csv cleaned and saved as movies.csv.

In [8]:
# Run clean_movie_data2 function
clean_movie_data2(folder_path, output_folder_path)

Column user_rating not found in the DataFrame. Skipping.
Column box_office not found in the DataFrame. Skipping.
Column comment_count not found in the DataFrame. Skipping.
movies_dataset.csv cleaned and saved as movies_dataset.csv.
Column box_office not found in the DataFrame. Skipping.
Column comment_count not found in the DataFrame. Skipping.
metacritic-reviews.csv cleaned and saved as metacritic-reviews.csv.
Column user_rating not found in the DataFrame. Skipping.
Column box_office not found in the DataFrame. Skipping.
letterboxd-reviews.csv cleaned and saved as letterboxd-reviews.csv.
Column user_rating not found in the DataFrame. Skipping.
Column comment_count not found in the DataFrame. Skipping.
rotten_tomatoes_movies.csv cleaned and saved as rotten_tomatoes_movies.csv.
Column user_rating not found in the DataFrame. Skipping.
Column box_office not found in the DataFrame. Skipping.
Column comment_count not found in the DataFrame. Skipping.
movies_extras.csv cleaned and saved as movies_extras.csv.
Column user_rating not found in the DataFrame. Skipping.
Column box_office not found in the DataFrame. Skipping.
Column comment_count not found in the DataFrame. Skipping.
rotten_tomatoes_movie_reviews.csv cleaned and saved as rotten_tomatoes_movie_reviews.csv.
Column box_office not found in the DataFrame. Skipping.
Column comment_count not found in the DataFrame. Skipping.
25k IMDb movie Dataset.csv cleaned and saved as 25k IMDb movie Dataset.csv.
Column user_rating not found in the DataFrame. Skipping.
Column box_office not found in the DataFrame. Skipping.
Column comment_count not found in the DataFrame. Skipping.
movies.csv cleaned and saved as movies.csv.

In [9]:
# Print file header informaition to verify cleaning steps were correctly processed
folder_path = '/Users/toniwork/Desktop/Capstone/step_1'

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        
        # Read in the CSV file as a DataFrame
        df = pd.read_csv(file_path)
        print(file_name,':',df.head())

movies_dataset.csv :              title  domestic_box_office  international_box_office  \
0   silent trigger              76382.0                       NaN
1         touch me               5000.0                       NaN
2         impostor            6114237.0                 1860370.0
3        spiderman          403706375.0               418000000.0
4  die another day          160942139.0               271000000.0

               genre  worldwide_box_office  release_year  release_month  \
0  thriller/suspense                   NaN           NaN            NaN
1              drama                   NaN           NaN            NaN
2  thriller/suspense             7974607.0        2002.0            1.0
3          adventure           821706375.0        2002.0            5.0
4             action           431942139.0        2002.0           11.0

   release_day release_date    id languages
0          NaN          NaN   577   english
1          NaN          NaN  1014   english
2          4.0   2002-01-04  2789   english
3          3.0   2002-05-03  3280   english
4         22.0   2002-11-22  3281   english
metacritic-reviews.csv :                                                title     rating  \
0  rivers and tides andy goldsworthy working with...       tv-g
1                                           impostor          r
2                         what time is it over there  not rated
3                            brotherhood of the wolf          r
4                                      orange county      pg-13

                                             summary  user_rating  \
0  thomas riedelsheimer's documentary about scott...         76.0
1  a psychological thriller from the future in wh...         76.0
2  a young taipei watch vendor (lee) falls in lov...         67.0
3  inspired by actual events taking place during ...         73.0
4  when his guidance counselor accidentally sends...         71.0

  release_date  release_year  release_month  release_day
0   2002-01-02          2002              1            2
1   2002-01-04          2002              1            4
2   2002-01-11          2002              1           11
3   2002-01-11          2002              1           11
4   2002-01-11          2002              1           11
letterboxd-reviews.csv :                                 title  \
0                           aftersun
1                              joker
2        puss in boots the last wish
3          the banshees of inisherin
4  everything everywhere all at once

                                              review review_date  \
0                  this review may contain spoilers.  2020-01-12
1  if youв??ve never swam in the ocean then of co...  2022-12-20
2                puss in boots: into the pussy-verse  2022-09-15
3  i will not leave my donkey outside when iв??m sad  2022-04-08
4  watch it and have fun before film twitter tell...  2019-08-14

   comment_count  like_count  release_year
0          130.0     22446.0        2022.0
1            NaN     22032.0        2019.0
2           62.0     21666.0        2022.0
3            NaN     21609.0        2022.0
4          355.0     20688.0        2022.0
rotten_tomatoes_movies.csv :                 title  audience_score  tomato_meter               director  \
0  space zombie bingo            50.0           NaN          george ormrod
1     the green grass             NaN           NaN        tiffany edwards
2         sore losers            60.0           NaN  john michael mccarthy
3     dinosaur island            70.0           NaN          will meugniot
4              adrift            65.0          69.0      baltasar kormákur

                     id  box_office release_date_theaters original_language
0    space-zombie-bingo         NaN                   NaN           english
1       the_green_grass         NaN                   NaN           english
2  the_sore_losers_1997         NaN                   NaN           english
3  dinosaur_island_2002         NaN                   NaN           english
4           adrift_2018         NaN            2018-06-01           english
movies_extras.csv :       id                                            credits
0  44351  scott coffey-rebekah del rio-laura harring-nao...
1  23964  stephen baldwin-callum keith rennie-jessica st...
2  36174  martin clunes-victoria hamilton-conleth hill-j...
3  31460  sarah jessica parker-harry connick jr.-johnny ...
4  26449  jay michael ferguson-allison lange-michael bow...
rotten_tomatoes_movie_reviews.csv :                                           reviewtext scoresentiment  \
0  timed to be just long enough for most youngste...       positive
1  it doesn't matter if a movie costs 300 million...       negative
2  the choreography is so precise and lifelike at...       positive
3  the film's out-of-touch attempts at humor may ...       negative
4  its clumsy determination is endearing and some...       positive

                                  id  istopcritic originalscore creationdate
0                            beavers        False         3.5/4   2003-05-23
1                         blood_mask        False           1/5   2007-06-02
2  city_hunter_shinjuku_private_eyes        False           NaN   2019-05-28
3  city_hunter_shinjuku_private_eyes        False         2.5/5   2019-02-14
4                 dangerous_men_2015        False           NaN   2018-08-29
25k IMDb movie Dataset.csv :              movie_title  rating  user_rating           director  \
0  all things fall apart     5.3          NaN  mario van peebles
1                    gun     3.8          NaN      jessy terrero
2       what alice found     6.4          NaN       a. dean bell
3                  happy     7.1          NaN     a. karunakaran
4                   balu     6.0          NaN     a. karunakaran

                                         top_5_casts  year
0  ['brian a. miller', '50 cent', 'ray liotta', '...  2011
1  ['50 cent', 'val kilmer', 'annalynne mccord', ...  2010
2  ['emily grace', 'judith ivey', 'bill raymond',...  2003
3  ['radha mohan', 'darling swamy', 'allu arjun',...  2006
4  ['kona venkat', 'pawan kalyan', 'shriya saran'...  2005
movies.csv :                            title                             genres  \
0        avatar the way of water   science fiction-adventure-action
1  black panther wakanda forever   action-adventure-science fiction
2    puss in boots the last wish  animation-adventure-comedy-family
3            lord of the streets                             action
4              a man called otto                       comedy-drama

   popularity       budget       revenue  vote_average  vote_count      id  \
0    9366.788  350000000.0  2.312336e+09         7.751      6748.0   76600
1    2525.408  250000000.0  8.585356e+08         7.338      3922.0  505642
2    2078.280   90000000.0  4.630876e+08         8.363      4671.0  315162
3    1691.825    1000000.0  0.000000e+00         4.900        29.0  965839
4    1545.382   50000000.0  1.038423e+08         7.811       540.0  937278

  release_date original_language
0   2022-12-14                en
1   2022-11-09                en
2   2022-12-07                en
3   2022-04-22                en
4   2022-12-28                en

## Title Key Creation and Application

### Create a title key using the create_title_key_file() function, which:
- Loops over all CSV files in a folder and counts the number of times each movie title appears across all files
- Creates a DataFrame with the title and the number of files it appears in and filters it to keep only titles that appear in at least two files
- Saves the DataFrame to a new CSV file called 'title_key.csv' in the specified output folder path

### Add corresponding title IDs to each dataset using the add_title_ids() function, which:
- Reads in the 'title_key.csv' file and loops over each file in the specified folder path
- Adds a new column called 'title_id' to the DataFrame and loops through each row to add the corresponding title ID from the 'title_key.csv' file
- If a title ID is not found, the row is dropped from the DataFrame
- Saves the updated CSV file to the specified output path

In [10]:
# Create title key using create_title_key_file function
folder_path = '/Users/toniwork/Desktop/Capstone/step_1'
output_folder_path = '/Users/toniwork/Desktop/Capstone'
specific_files = ['rotten_tomatoes_movies.csv','letterboxd-reviews.csv','metacritic-reviews.csv',
                  '25k IMDb movie Dataset.csv', 'rotten_tomatoes_movie_reviews.csv']
columns_to_check = [col for col in df.columns if 'title' in col.lower()]

create_title_key_file(folder_path, output_folder_path, specific_files)

Title key file saved as 'title_key.csv'.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258311 entries, 0 to 258310
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   title          258281 non-null  object
 1   release_date   258311 non-null  object
 2   release_year   258311 non-null  int64
 3   release_month  258311 non-null  int64
 4   release_day    258311 non-null  int64
 5   title_id       258311 non-null  int64
dtypes: int64(4), object(2)
memory usage: 11.8+ MB
None

In [11]:
# Drop NA and Duplicate rows then print to review 
file_path = '/Users/toniwork/Desktop/Capstone/title_key.csv'

# Read the file into a DataFrame
df = pd.read_csv(file_path)

# Drop rows where the 'title' is null or empty
df = df[df['title'].notna() & (df['title'] != '')]

# Drop duplicate rows based on 'title' and 'release_date'
df = df.drop_duplicates(subset=['title', 'release_date'])

# Save the DataFrame back to the file or a new file
df.to_csv(file_path, index=False)

print("Null titles and duplicates dropped, and file saved.",df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215796 entries, 0 to 258310
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   title          215796 non-null  object
 1   release_date   215796 non-null  object
 2   release_year   215796 non-null  int64
 3   release_month  215796 non-null  int64
 4   release_day    215796 non-null  int64
 5   title_id       215796 non-null  int64
dtypes: int64(4), object(2)
memory usage: 11.5+ MB
Null titles and duplicates dropped, and file saved. None

In [12]:
# Loop through file in folder to add the new title_id from the title_key.csv using add_title_ids_main function
input_folder = '/Users/toniwork/Desktop/Capstone/step_1'
title_key_path = '/Users/toniwork/Desktop/Capstone'
output_folder = '/Users/toniwork/Desktop/Capstone/step_2'
split_folder = '/Users/toniwork/Desktop/Capstone/split_1'

# Create the output folder if it does not exist
create_folder(output_folder)
    
# Create the split folder if it does not exist
create_folder(split_folder)

add_title_ids_main(input_folder, title_key_path, split_folder, output_folder)

movies_dataset.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/step_2/movies_dataset.csv and /Users/toniwork/Desktop/Capstone/step_1/movies_dataset.csv
metacritic-reviews.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/step_2/metacritic-reviews.csv and /Users/toniwork/Desktop/Capstone/step_1/metacritic-reviews.csv
letterboxd-reviews.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/step_2/letterboxd-reviews.csv and /Users/toniwork/Desktop/Capstone/step_1/letterboxd-reviews.csv
/Users/toniwork/Desktop/Capstone/split_1/rotten_tomatoes_movies_split1.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/rotten_tomatoes_movies_split1.csv
/Users/toniwork/Desktop/Capstone/split_1/rotten_tomatoes_movies_split2.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/rotten_tomatoes_movies_split2.csv
/Users/toniwork/Desktop/Capstone/split_1/rotten_tomatoes_movies_split3.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/rotten_tomatoes_movies_split3.csv
/Users/toniwork/Desktop/Capstone/split_1/rotten_tomatoes_movies_split4.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/rotten_tomatoes_movies_split4.csv
4 files concatenated and saved to /Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movies.csv
25k IMDb movie Dataset.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv and /Users/toniwork/Desktop/Capstone/step_1/25k IMDb movie Dataset.csv
/Users/toniwork/Desktop/Capstone/split_1/movies_split1.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split1.csv
/Users/toniwork/Desktop/Capstone/split_1/movies_split2.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split2.csv
/Users/toniwork/Desktop/Capstone/split_1/movies_split3.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split3.csv
/Users/toniwork/Desktop/Capstone/split_1/movies_split4.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split4.csv
/Users/toniwork/Desktop/Capstone/split_1/movies_split5.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split5.csv
/Users/toniwork/Desktop/Capstone/split_1/movies_split6.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split6.csv
/Users/toniwork/Desktop/Capstone/split_1/movies_split7.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split7.csv
/Users/toniwork/Desktop/Capstone/split_1/movies_split8.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split8.csv
/Users/toniwork/Desktop/Capstone/split_1/movies_split9.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split9.csv
/Users/toniwork/Desktop/Capstone/split_1/movies_split10.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split10.csv
/Users/toniwork/Desktop/Capstone/split_1/movies_split11.csv cleaned and 'title_id' added. On /Users/toniwork/Desktop/Capstone/split_1/movies_split11.csv
11 files concatenated and saved to /Users/toniwork/Desktop/Capstone/step_2/movies.csv

## Dataset Compare/Update

### Compare and update datasets with corresponding title IDs using the add_title_id() function, which:
- Takes in two filenames, the name of the column to match on, the folder path where the files are located, and the output path where the merged files will be saved
- Loads the data from the main dataset and the extras dataset, checks if the matching column exists in both datasets, creates a new column for the 'title_id' in the extras dataset, loops through each row in the extras dataset, and checks if the value in the matching column exists in the main dataset
- If it does, it adds the corresponding 'title_id' to the new column in the extras dataset
- If it doesn't, it drops the row

Saves the updated extras dataset to a new CSV file in the specified output path

In [13]:
# Loop through files in folder to add the new title_id from the title_key.csv using add_title_ids_2 function, this compares its counter part file with the title_id to the other

folder_path = '/Users/toniwork/Desktop/Capstone/step_1'
compare_path = '/Users/toniwork/Desktop/Capstone/step_2'
output_path = '/Users/toniwork/Desktop/Capstone/step_2'

movies = 'movies.csv'
movies_extras = 'movies_extras.csv'
on_col = 'id'

# Compare movies.csv and movies_extras.csv, drop rows and add 'title_id' column
add_title_ids_2(movies, movies_extras, on_col, folder_path, output_path, compare_path)

movies_extras.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/step_2

'movies_extras.csv'

In [14]:
# Reads a large CSV file of movie reviews, splits it into smaller chunks, and then processes each chunk using a function add_title_ids_2, applying the transformations and saving the results to the specified paths.
folder_path = '/Users/toniwork/Desktop/Capstone/step_1'
compare_path = '/Users/toniwork/Desktop/Capstone/step_2'
split_path = '/Users/toniwork/Desktop/Capstone/split_1'

rotten_movie_file = 'rotten_tomatoes_movies.csv'
rotten_movie_review_file = 'rotten_tomatoes_movie_reviews.csv'
on_col = 'id'

# Define the chunk size and number of chunks
chunk_size = 25000
num_chunks = 60

# Split the large CSV file into smaller chunks
df_reviews = pd.read_csv(os.path.join(folder_path, rotten_movie_review_file), chunksize=chunk_size)
for i, chunk in enumerate(df_reviews):
    if i >= num_chunks:
        break
    chunk.to_csv(os.path.join(split_path, f'{i}_chunk.csv'), index=False)
    print(f"{f'{i}_chunk.csv'} split.")

# Loop through the smaller CSV files and apply the add_title_ids_extras() function to each one
i = 0
while True:
    file_path = os.path.join(split_path, f'{i}_chunk.csv')
    if not os.path.exists(file_path):
        break
    chunk_df = pd.read_csv(file_path)
    add_title_ids_2(rotten_movie_file, f'{i}_chunk.csv', on_col, split_path, split_path, compare_path)
    i += 1

0_chunk.csv split.
1_chunk.csv split.
2_chunk.csv split.
3_chunk.csv split.
4_chunk.csv split.
5_chunk.csv split.
6_chunk.csv split.
7_chunk.csv split.
8_chunk.csv split.
9_chunk.csv split.
10_chunk.csv split.
11_chunk.csv split.
12_chunk.csv split.
13_chunk.csv split.
14_chunk.csv split.
15_chunk.csv split.
16_chunk.csv split.
17_chunk.csv split.
18_chunk.csv split.
19_chunk.csv split.
20_chunk.csv split.
21_chunk.csv split.
22_chunk.csv split.
23_chunk.csv split.
24_chunk.csv split.
25_chunk.csv split.
26_chunk.csv split.
27_chunk.csv split.
28_chunk.csv split.
29_chunk.csv split.
30_chunk.csv split.
31_chunk.csv split.
32_chunk.csv split.
33_chunk.csv split.
34_chunk.csv split.
35_chunk.csv split.
36_chunk.csv split.
37_chunk.csv split.
38_chunk.csv split.
39_chunk.csv split.
40_chunk.csv split.
41_chunk.csv split.
42_chunk.csv split.
43_chunk.csv split.
44_chunk.csv split.
45_chunk.csv split.
46_chunk.csv split.
47_chunk.csv split.
48_chunk.csv split.
49_chunk.csv split.
50_chunk.csv split.
51_chunk.csv split.
52_chunk.csv split.
53_chunk.csv split.
54_chunk.csv split.
55_chunk.csv split.
56_chunk.csv split.
57_chunk.csv split.
0_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
1_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
2_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
3_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
4_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
5_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
6_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
7_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
8_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
9_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
10_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
11_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
12_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
13_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
14_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
15_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
16_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
17_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
18_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
19_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
20_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
21_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
22_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
23_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
24_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
25_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
26_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
27_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
28_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
29_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
30_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
31_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
32_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
33_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
34_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
35_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
36_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
37_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
38_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
39_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
40_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
41_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
42_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
43_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
44_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
45_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
46_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
47_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
48_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
49_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
50_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
51_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
52_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
53_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
54_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
55_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
56_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1
57_chunk.csv cleaned and 'title_id' added to /Users/toniwork/Desktop/Capstone/split_1

In [15]:
# Takes all the "chunk.csv" files from the input folder, groups them into three equal parts, and concatenates these parts into three separate CSV files, saving them to the output folder.
input_folder = '/Users/toniwork/Desktop/Capstone/split_1'
output_folder = '/Users/toniwork/Desktop/Capstone/step_2'

# Get all files in the input folder that end with "chunk.csv"
all_files = [f for f in os.listdir(input_folder) if f.endswith("chunk.csv")]

# Calculate the number of files per output file
num_files_per_output = (len(all_files) + 2) // 3

# Initialize output file counter and current output file
output_counter = 1
current_output_file = os.path.join(output_folder, f"rotten_tomatoes_movie_reviews_concat{output_counter}.csv")

# Loop through all chunk files
for i, file_name in enumerate(all_files):
    # Read in chunk file as a DataFrame
    chunk_df = pd.read_csv(os.path.join(input_folder, file_name))

    # If we have reached the desired number of files per output file, increment output file counter and create new output file
    if i > 0 and i % num_files_per_output == 0:
        output_counter += 1
        current_output_file = os.path.join(output_folder, f"rotten_tomatoes_movie_reviews_concat{output_counter}.csv")

    # Append chunk DataFrame to current output file
    with open(current_output_file, "a") as f:
        chunk_df.to_csv(f, index=False, header=f.tell()==0)

# Print confirmation message
print(f"All chunk files concatenated and saved to {output_folder}")

All chunk files concatenated and saved to /Users/toniwork/Desktop/Capstone/step_2

In [16]:
# Print file info from folder to verify 
folder_path = '/Users/toniwork/Desktop/Capstone/step_2'

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        
        # Read in the CSV file as a DataFrame
        df = pd.read_csv(file_path)
        print(file_name,':',df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7256 entries, 0 to 7255
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   title                     7256 non-null   object
 1   domestic_box_office       7256 non-null   float64
 2   international_box_office  5040 non-null   float64
 3   genre                     7220 non-null   object
 4   worldwide_box_office      5040 non-null   float64
 5   release_year              7255 non-null   float64
 6   release_month             7254 non-null   float64
 7   release_day               7250 non-null   float64
 8   release_date              7255 non-null   object
 9   id                        7256 non-null   int64
 10  languages                 7256 non-null   object
 11  title_id                  7256 non-null   int64
dtypes: float64(6), int64(2), object(4)
memory usage: 680.4+ KB
movies_dataset.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9345 entries, 0 to 9344
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          9345 non-null   object
 1   rating         8560 non-null   object
 2   summary        9344 non-null   object
 3   user_rating    7674 non-null   float64
 4   release_date   9345 non-null   object
 5   release_year   9345 non-null   int64
 6   release_month  9345 non-null   int64
 7   release_day    9345 non-null   int64
 8   title_id       9345 non-null   int64
dtypes: float64(1), int64(4), object(4)
memory usage: 657.2+ KB
metacritic-reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4112 entries, 0 to 4111
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          4112 non-null   object
 1   review         3183 non-null   object
 2   review_date    3913 non-null   object
 3   comment_count  3823 non-null   float64
 4   like_count     2978 non-null   float64
 5   release_year   4096 non-null   float64
 6   title_id       4112 non-null   int64
dtypes: float64(3), int64(1), object(3)
memory usage: 225.0+ KB
letterboxd-reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389151 entries, 0 to 389150
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   reviewtext      372066 non-null  object
 1   scoresentiment  389151 non-null  object
 2   id              389151 non-null  object
 3   istopcritic     389151 non-null  bool
 4   originalscore   277066 non-null  object
 5   creationdate    389151 non-null  object
 6   title_id        389151 non-null  int64
dtypes: bool(1), int64(1), object(5)
memory usage: 18.2+ MB
rotten_tomatoes_movie_reviews_concat2.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353386 entries, 0 to 353385
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   reviewtext      338466 non-null  object
 1   scoresentiment  353386 non-null  object
 2   id              353386 non-null  object
 3   istopcritic     353386 non-null  bool
 4   originalscore   252212 non-null  object
 5   creationdate    353386 non-null  object
 6   title_id        353386 non-null  int64
dtypes: bool(1), int64(1), object(5)
memory usage: 16.5+ MB
rotten_tomatoes_movie_reviews_concat3.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390377 entries, 0 to 390376
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   reviewtext      373794 non-null  object
 1   scoresentiment  390377 non-null  object
 2   id              390377 non-null  object
 3   istopcritic     390377 non-null  bool
 4   originalscore   279271 non-null  object
 5   creationdate    390377 non-null  object
 6   title_id        390377 non-null  int64
dtypes: bool(1), int64(1), object(5)
memory usage: 18.2+ MB
rotten_tomatoes_movie_reviews_concat1.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56210 entries, 0 to 56209
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  56210 non-null  object
 1   audience_score         36806 non-null  float64
 2   tomato_meter           21457 non-null  float64
 3   director               55556 non-null  object
 4   id                     56210 non-null  object
 5   box_office             66 non-null     float64
 6   release_date_theaters  24231 non-null  object
 7   original_language      56210 non-null  object
 8   title_id               56210 non-null  int64
dtypes: float64(3), int64(1), object(5)
memory usage: 3.9+ MB
rotten_tomatoes_movies.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221684 entries, 0 to 221683
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        221684 non-null  int64
 1   credits   144631 non-null  object
 2   title_id  221684 non-null  int64
dtypes: int64(2), object(1)
memory usage: 5.1+ MB
movies_extras.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10291 entries, 0 to 10290
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie_title  10291 non-null  object
 1   rating       10026 non-null  float64
 2   user_rating  2392 non-null   float64
 3   director     10291 non-null  object
 4   top_5_casts  10291 non-null  object
 5   year         10291 non-null  int64
 6   title_id     10291 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 562.9+ KB
25k IMDb movie Dataset.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222730 entries, 0 to 222729
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   title              222730 non-null  object
 1   genres             152291 non-null  object
 2   popularity         222730 non-null  float64
 3   budget             222730 non-null  float64
 4   revenue            222730 non-null  float64
 5   vote_average       222730 non-null  float64
 6   vote_count         222730 non-null  float64
 7   id                 222730 non-null  int64
 8   release_date       217450 non-null  object
 9   original_language  222730 non-null  object
 10  title_id           222730 non-null  int64
dtypes: float64(5), int64(2), object(4)
memory usage: 18.7+ MB
movies.csv : None

### Delete files, drop columns, rename columns
- Delete files/folders to clean up space utilization
- Drop columns that are no longer needed, such as release date information
- Rename columns in order to prepare for merging

In [ ]:
# Delete folder/files
folder_path1 = '/Users/toniwork/Desktop/Capstone/step_1'
folder_path2 = '/Users/toniwork/Desktop/Capstone/split_1'

# Remove the first folder and its contents
shutil.rmtree(folder_path1)

# Remove the second folder and its contents
shutil.rmtree(folder_path2)

In [18]:
# Drop columns using drop_columns_by_keyword_or_name function
folder_path = '/Users/toniwork/Desktop/Capstone/step_2'

drop_columns_by_keyword_or_name(folder_path, keyword='release')
drop_columns_by_keyword_or_name(folder_path, column_names=['id', 'languages', 'production_companies'], file_name='movies_dataset.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['id'], file_name='rotten_tomatoes_movie_reviews_concat1.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['id'], file_name='rotten_tomatoes_movie_reviews_concat2.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['id'], file_name='rotten_tomatoes_movie_reviews_concat3.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['id', 'original_language'], file_name='rotten_tomatoes_movies.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['year'], file_name='25k IMDb movie Dataset.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['id', 'original_language'], file_name='movies.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['id'], file_name='movies_extras.csv')

movies_dataset.csv updated successfully!
metacritic-reviews.csv updated successfully!
letterboxd-reviews.csv updated successfully!
rotten_tomatoes_movie_reviews_concat2.csv updated successfully!
rotten_tomatoes_movie_reviews_concat3.csv updated successfully!
rotten_tomatoes_movie_reviews_concat1.csv updated successfully!
rotten_tomatoes_movies.csv updated successfully!
movies_extras.csv updated successfully!
25k IMDb movie Dataset.csv updated successfully!
movies.csv updated successfully!
movies_dataset.csv updated successfully!
rotten_tomatoes_movie_reviews_concat1.csv updated successfully!
rotten_tomatoes_movie_reviews_concat2.csv updated successfully!
rotten_tomatoes_movie_reviews_concat3.csv updated successfully!
rotten_tomatoes_movies.csv updated successfully!
25k IMDb movie Dataset.csv updated successfully!
movies.csv updated successfully!
movies_extras.csv updated successfully!

In [19]:
# Rename rating column to mpaa_rating in metacritic-reviews.csv
df = pd.read_csv('/Users/toniwork/Desktop/Capstone/step_2/metacritic-reviews.csv')

# Define a dictionary to map old column names to new column names
column_mapping = {
    'rating': 'mpaa_rating'
}

# Rename the columns using the dictionary
df.rename(columns=column_mapping, inplace=True)

# Save the updated DataFrame to a new file
df.to_csv('/Users/toniwork/Desktop/Capstone/step_2/metacritic-reviews.csv', index=False)

In [20]:
# Rename columns from the rotten_tomatoes_movie_reviews_concat1-3.csv's
new_col_names = {
    'reviewtext': 'rt_review_text',
    'creationdate': 'rt_creation_date',
    'istopcritic': 'rt_is_top_critic',
    'originalscore': 'rt_original_score',
    'scoresentiment' : 'rt_score_sentiment'
}

# loop through the file paths
for file_path in ['/Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movie_reviews_concat1.csv', 
                  '/Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movie_reviews_concat2.csv', 
                  '/Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movie_reviews_concat3.csv']:
    
    # load the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # update the column names
    df.rename(columns=new_col_names, inplace=True)
    
    # save the updated DataFrame to the same file path
    df.to_csv(file_path, index=False)

I am dropping these specific rows from various CSV files to ensure data quality and consistency across my dataset. By removing rows with missing or null values in key columns, I am eliminating potential inaccuracies and focusing on the data that is most relevant to my analysis.

In [21]:
# Dropping rows for data consistency

folder_path = '/Users/toniwork/Desktop/Capstone/step_2'

file_patterns_to_columns = {
    'rotten_tomatoes_movie_reviews_concat': ['rt_review_text'],
    'movies_extras.csv': ['credits'],
    'metacritic-reviews.csv': ['summary'],
    'letterboxd-reviews.csv': ['review'],
    'rotten_tomatoes_movies.csv': {'subset': ['audience_score', 'tomato_meter', 'director'], 'how': 'all'}
}

# Iterate through the files and apply drop_rows function
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        drop_rows(file_path, file_patterns_to_columns)
        print(f"Processed {file_name}")

Processed movies_dataset.csv
Processed metacritic-reviews.csv
Processed letterboxd-reviews.csv
Processed rotten_tomatoes_movie_reviews_concat2.csv
Processed rotten_tomatoes_movie_reviews_concat3.csv
Processed rotten_tomatoes_movie_reviews_concat1.csv
Processed rotten_tomatoes_movies.csv
Processed movies_extras.csv
Processed 25k IMDb movie Dataset.csv
Processed movies.csv

In [22]:
# Remove duplicates and get count for all updated files in folder
folder_path = "/Users/toniwork/Desktop/Capstone/step_2"
file_pattern = ".csv" 
drop_duplicate_rows_and_report(folder_path, file_pattern)

File: movies_dataset.csv, Title_id duplicates: 122
File: metacritic-reviews.csv, Title_id duplicates: 283
File: letterboxd-reviews.csv, Title_id duplicates: 2848
File: rotten_tomatoes_movie_reviews_concat2.csv, Title_id duplicates: 369446
File: rotten_tomatoes_movie_reviews_concat3.csv, Title_id duplicates: 332261
File: rotten_tomatoes_movie_reviews_concat1.csv, Title_id duplicates: 369786
File: rotten_tomatoes_movies.csv, Title_id duplicates: 12197
File: movies_extras.csv, Title_id duplicates: 19573
File: 25k IMDb movie Dataset.csv, Title_id duplicates: 494
File: movies.csv, Title_id duplicates: 76225

In [23]:
# Print file info from folder to verify
folder_path = '/Users/toniwork/Desktop/Capstone/step_2'

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        
        # Read in the CSV file as a DataFrame
        df = pd.read_csv(file_path)
        print(file_name,':',df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6009 entries, 0 to 6008
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   title                     6009 non-null   object
 1   domestic_box_office       6009 non-null   float64
 2   international_box_office  4029 non-null   float64
 3   genre                     5974 non-null   object
 4   worldwide_box_office      4029 non-null   float64
 5   title_id                  6009 non-null   int64
dtypes: float64(3), int64(1), object(2)
memory usage: 281.8+ KB
movies_dataset.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9344 entries, 0 to 9343
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        9344 non-null   object
 1   mpaa_rating  8559 non-null   object
 2   summary      9344 non-null   object
 3   user_rating  7674 non-null   float64
 4   title_id     9344 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 365.1+ KB
metacritic-reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3183 entries, 0 to 3182
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          3183 non-null   object
 1   review         3183 non-null   object
 2   review_date    3024 non-null   object
 3   comment_count  2957 non-null   float64
 4   like_count     2315 non-null   float64
 5   title_id       3183 non-null   int64
dtypes: float64(2), int64(1), object(3)
memory usage: 149.3+ KB
letterboxd-reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371565 entries, 0 to 371564
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   rt_review_text      371565 non-null  object
 1   rt_score_sentiment  371565 non-null  object
 2   rt_is_top_critic    371565 non-null  bool
 3   rt_original_score   259712 non-null  object
 4   rt_creation_date    371565 non-null  object
 5   title_id            371565 non-null  int64
dtypes: bool(1), int64(1), object(4)
memory usage: 14.5+ MB
rotten_tomatoes_movie_reviews_concat2.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334216 entries, 0 to 334215
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   rt_review_text      334216 non-null  object
 1   rt_score_sentiment  334216 non-null  object
 2   rt_is_top_critic    334216 non-null  bool
 3   rt_original_score   234345 non-null  object
 4   rt_creation_date    334216 non-null  object
 5   title_id            334216 non-null  int64
dtypes: bool(1), int64(1), object(4)
memory usage: 13.1+ MB
rotten_tomatoes_movie_reviews_concat3.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371863 entries, 0 to 371862
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   rt_review_text      371863 non-null  object
 1   rt_score_sentiment  371863 non-null  object
 2   rt_is_top_critic    371863 non-null  bool
 3   rt_original_score   261347 non-null  object
 4   rt_creation_date    371863 non-null  object
 5   title_id            371863 non-null  int64
dtypes: bool(1), int64(1), object(4)
memory usage: 14.5+ MB
rotten_tomatoes_movie_reviews_concat1.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55279 entries, 0 to 55278
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           55279 non-null  object
 1   audience_score  36502 non-null  float64
 2   tomato_meter    21266 non-null  float64
 3   director        55067 non-null  object
 4   box_office      66 non-null     float64
 5   title_id        55279 non-null  int64
dtypes: float64(3), int64(1), object(2)
memory usage: 2.5+ MB
rotten_tomatoes_movies.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124128 entries, 0 to 124127
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   credits   124128 non-null  object
 1   title_id  124128 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.9+ MB
movies_extras.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10291 entries, 0 to 10290
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie_title  10291 non-null  object
 1   rating       10026 non-null  float64
 2   user_rating  2392 non-null   float64
 3   director     10291 non-null  object
 4   top_5_casts  10291 non-null  object
 5   title_id     10291 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 482.5+ KB
25k IMDb movie Dataset.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219375 entries, 0 to 219374
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   title         219375 non-null  object
 1   genres        151841 non-null  object
 2   popularity    219375 non-null  float64
 3   budget        219375 non-null  float64
 4   revenue       219375 non-null  float64
 5   vote_average  219375 non-null  float64
 6   vote_count    219375 non-null  float64
 7   title_id      219375 non-null  int64
dtypes: float64(5), int64(1), object(2)
memory usage: 13.4+ MB
movies.csv : None

## Create reference files for easier comparison

### Creating a file for directors, actors, and genres will make the analysis easier
We will create files with a id, the data, and then a comma separated list of the title_ids they appear in
- Director
    - director_id
    - director
    - title_ids
    - <b>rotten_tomatoes_movies.csv</b> 
        - director (currently comma separated)
    - <b>25k IMDb movie Dataset.csv</b> 
        - director

- Actor
    - actor_id
    - actor
    - title_ids
    - <b>movies_extras.csv</b> 
        - credits (currently separated by -)
    - <b>25k IMDb movie Dataset.csv</b> 
        - top_5_casts (currently in [] and comma separated)

- Genre
    - genre_id
    - genre
    - title_ids
    - <b>movies_dataset.csv</b> 
        - genre
    - <b>movies.csv</b> 
        - genres (currently comma separated)
        
Normalization and Consistency: By separating these entities into individual reference files, we ensure that the information is stored in a normalized and consistent manner. This eliminates redundancy and inconsistencies in the data representation, especially when the information is scattered across different files and formats.

Ease of Analysis and Integration: Having dedicated reference files with unique identifiers (director_id, actor_id, genre_id) and associated title_ids allows for more efficient querying, analysis, and integration with other datasets. It simplifies the process of understanding relationships between movies, directors, actors, and genres, and facilitates data-driven insights and decision-making.

In [24]:
# Create directors.csv for reference

input_files = ['/Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movies.csv', '/Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv']
column_names = ['director', 'director']
delimiters = [',', None]
output_folder = '/Users/toniwork/Desktop/Capstone/merged'
output_file = 'directors.csv'
merge_columns = 'title_ids'
target_column_name = 'directors'

create_folder(output_folder)

process_data(input_files, column_names, target_column_name, delimiters, output_folder, output_file, merge_columns, num_files=2)

Read file /Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movies.csv:
Processed DataFrame for file /Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movies.csv:
Concatenated result DataFrame after file /Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movies.csv:
Read file /Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv:
Concatenated result DataFrame after file /Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv:
directors.csv saved successfully!

In [25]:
# Make directors title_ids into set, removing duplicates within the set
directors_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/merged/directors.csv')

# Apply the function to the 'title_ids' column
directors_df['title_ids'] = directors_df['title_ids'].apply(remove_duplicates_in_set)

# Save the updated DataFrame back to CSV 
directors_df.to_csv('/Users/toniwork/Desktop/Capstone/merged/directors.csv', index=False)

In [26]:
# Preprocess 25k IMDb movie Dataset.csv to remove [] from one file
df = pd.read_csv('/Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv')

# Strip brackets
df['top_5_casts'] = df['top_5_casts'].str.strip('[]')

# Save the updated DataFrame back to CSV 
df.to_csv('/Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv', index=False)

In [27]:
# Create actors.csv for reference

input_files = ['/Users/toniwork/Desktop/Capstone/step_2/movies_extras.csv', '/Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv']
column_names = ['credits', 'top_5_casts']
delimiters = ['-', ',']
output_folder = '/Users/toniwork/Desktop/Capstone/merged'
output_file = 'actors.csv'
merge_columns = 'title_ids'
target_column_name = 'actors'

create_folder(output_folder)

process_data(input_files, column_names, target_column_name, delimiters, output_folder, output_file, merge_columns, remove_quotes=True, num_files=2)

Read file /Users/toniwork/Desktop/Capstone/step_2/movies_extras.csv:
Processed DataFrame for file /Users/toniwork/Desktop/Capstone/step_2/movies_extras.csv:
Concatenated result DataFrame after file /Users/toniwork/Desktop/Capstone/step_2/movies_extras.csv:
Read file /Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv:
Processed DataFrame for file /Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv:
Concatenated result DataFrame after file /Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv:
actors.csv saved successfully!

In [28]:
# Make actors title_ids into set, removing duplicates within the set
actors_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/merged/actors.csv')

# Apply the function to the 'title_ids' column
actors_df['title_ids'] = actors_df['title_ids'].apply(remove_duplicates_in_set)

# Save the updated DataFrame back to CSV 
actors_df.to_csv('/Users/toniwork/Desktop/Capstone/merged/actors.csv', index=False)

In [29]:
# Create genres.csv for reference 

input_files = ['/Users/toniwork/Desktop/Capstone/step_2/movies.csv', '/Users/toniwork/Desktop/Capstone/step_2/movies_dataset.csv']
column_names = ['genres','genre']
delimiters = ['-',None]
output_folder = '/Users/toniwork/Desktop/Capstone/merged'
output_file = 'genres.csv'
merge_columns = 'title_ids'
target_column_name = 'genres'

create_folder(output_folder)

process_data(input_files, column_names, target_column_name, delimiters, output_folder, output_file, merge_columns, num_files=2)

Read file /Users/toniwork/Desktop/Capstone/step_2/movies.csv:
Processed DataFrame for file /Users/toniwork/Desktop/Capstone/step_2/movies.csv:
Concatenated result DataFrame after file /Users/toniwork/Desktop/Capstone/step_2/movies.csv:
Read file /Users/toniwork/Desktop/Capstone/step_2/movies_dataset.csv:
Concatenated result DataFrame after file /Users/toniwork/Desktop/Capstone/step_2/movies_dataset.csv:
genres.csv saved successfully!

### Removing rows where there is only 1 title_id

In this analysis, we are interested in studying how reviews of one movie impact the next for a given director or actor. To make meaningful comparisons, we need to have at least two movies associated with each director or actor.

The 'directors.csv' and 'actors.csv' files contain information about directors and actors, respectively, along with the associated movie title IDs. Some directors and actors may only be associated with a single movie, and in those cases, there would be no "next" movie to compare with.

To focus our analysis on the entities that have multiple movies, we filter out the rows where there is only one title ID for the director or actor. Specifically, we look for rows where the 'title_ids' column contains at least one comma, indicating that there are multiple title IDs.

By doing this, we ensure that our dataset includes only the directors and actors with at least two movies, allowing us to proceed with the comparative analysis between consecutive movies.

In [30]:
# Make genre title_ids into set, removing duplicates within the set
genres_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/merged/genres.csv')

# Apply the function to the 'title_ids' column
genres_df['title_ids'] = genres_df['title_ids'].apply(remove_duplicates_in_set)

# Save the updated DataFrame back to CSV 
genres_df.to_csv('/Users/toniwork/Desktop/Capstone/merged/genres.csv', index=False)

In [31]:
# Turn the title_ids column on directors.csv into a set, this will get rid of any duplicates within the row
directors_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/merged/directors.csv')

# Keep only the rows where there is more than one title ID (i.e., at least one comma in the 'title_ids' column)
directors_df = directors_df[directors_df['title_ids'].str.count(',') > 0]

# Save the updated DataFrame back to the CSV file
directors_df.to_csv('/Users/toniwork/Desktop/Capstone/merged/directors.csv', index=False)

In [32]:
# Turn the title_ids column on actors.csv into a set, this will get rid of any duplicates within the row
actors_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/merged/actors.csv')

# Keep only the rows where there is more than one title ID
actors_df = actors_df[actors_df['title_ids'].str.count(',') > 0]

# Save the updated DataFrame back to the CSV file
actors_df.to_csv('/Users/toniwork/Desktop/Capstone/merged/actors.csv', index=False)

In [33]:
# Drop columns used to create the directors, actors, and genres csv
path = '/Users/toniwork/Desktop/Capstone/step_2'
columns_to_drop = ['director', 'credits', 'top_5_casts', 'genres', 'genre']

# Iterate through all the CSV files in the specified path
for filename in os.listdir(path):
    if filename.endswith('.csv'):
        file_path = os.path.join(path, filename)
        df = pd.read_csv(file_path)

        # Check if the DataFrame has more than 2 columns
        if df.shape[1] > 2:
            # Drop the specified columns if they exist
            df = df.drop(columns=[col for col in columns_to_drop if col in df.columns])

            # Save the updated DataFrame back to the CSV file
            df.to_csv(file_path, index=False)
            print(f"{filename} updated successfully!")
        else:
            print(f"{filename} has only 2 columns. Deleting the entire file.")
            os.remove(file_path)

movies_dataset.csv updated successfully!
metacritic-reviews.csv updated successfully!
letterboxd-reviews.csv updated successfully!
rotten_tomatoes_movie_reviews_concat2.csv updated successfully!
rotten_tomatoes_movie_reviews_concat3.csv updated successfully!
rotten_tomatoes_movie_reviews_concat1.csv updated successfully!
rotten_tomatoes_movies.csv updated successfully!
movies_extras.csv has only 2 columns. Deleting the entire file.
25k IMDb movie Dataset.csv updated successfully!
movies.csv updated successfully!

In [34]:
# Print file info from folder to verify
folder_path = '/Users/toniwork/Desktop/Capstone/step_2'

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        
        # Read in the CSV file as a DataFrame
        df = pd.read_csv(file_path)
        print(file_name,':',df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6009 entries, 0 to 6008
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   title                     6009 non-null   object
 1   domestic_box_office       6009 non-null   float64
 2   international_box_office  4029 non-null   float64
 3   worldwide_box_office      4029 non-null   float64
 4   title_id                  6009 non-null   int64
dtypes: float64(3), int64(1), object(1)
memory usage: 234.9+ KB
movies_dataset.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9344 entries, 0 to 9343
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        9344 non-null   object
 1   mpaa_rating  8559 non-null   object
 2   summary      9344 non-null   object
 3   user_rating  7674 non-null   float64
 4   title_id     9344 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 365.1+ KB
metacritic-reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3183 entries, 0 to 3182
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          3183 non-null   object
 1   review         3183 non-null   object
 2   review_date    3024 non-null   object
 3   comment_count  2957 non-null   float64
 4   like_count     2315 non-null   float64
 5   title_id       3183 non-null   int64
dtypes: float64(2), int64(1), object(3)
memory usage: 149.3+ KB
letterboxd-reviews.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371565 entries, 0 to 371564
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   rt_review_text      371565 non-null  object
 1   rt_score_sentiment  371565 non-null  object
 2   rt_is_top_critic    371565 non-null  bool
 3   rt_original_score   259712 non-null  object
 4   rt_creation_date    371565 non-null  object
 5   title_id            371565 non-null  int64
dtypes: bool(1), int64(1), object(4)
memory usage: 14.5+ MB
rotten_tomatoes_movie_reviews_concat2.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334216 entries, 0 to 334215
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   rt_review_text      334216 non-null  object
 1   rt_score_sentiment  334216 non-null  object
 2   rt_is_top_critic    334216 non-null  bool
 3   rt_original_score   234345 non-null  object
 4   rt_creation_date    334216 non-null  object
 5   title_id            334216 non-null  int64
dtypes: bool(1), int64(1), object(4)
memory usage: 13.1+ MB
rotten_tomatoes_movie_reviews_concat3.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371863 entries, 0 to 371862
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   rt_review_text      371863 non-null  object
 1   rt_score_sentiment  371863 non-null  object
 2   rt_is_top_critic    371863 non-null  bool
 3   rt_original_score   261347 non-null  object
 4   rt_creation_date    371863 non-null  object
 5   title_id            371863 non-null  int64
dtypes: bool(1), int64(1), object(4)
memory usage: 14.5+ MB
rotten_tomatoes_movie_reviews_concat1.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55279 entries, 0 to 55278
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           55279 non-null  object
 1   audience_score  36502 non-null  float64
 2   tomato_meter    21266 non-null  float64
 3   box_office      66 non-null     float64
 4   title_id        55279 non-null  int64
dtypes: float64(3), int64(1), object(1)
memory usage: 2.1+ MB
rotten_tomatoes_movies.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10291 entries, 0 to 10290
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie_title  10291 non-null  object
 1   rating       10026 non-null  float64
 2   user_rating  2392 non-null   float64
 3   title_id     10291 non-null  int64
dtypes: float64(2), int64(1), object(1)
memory usage: 321.7+ KB
25k IMDb movie Dataset.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219375 entries, 0 to 219374
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   title         219375 non-null  object
 1   popularity    219375 non-null  float64
 2   budget        219375 non-null  float64
 3   revenue       219375 non-null  float64
 4   vote_average  219375 non-null  float64
 5   vote_count    219375 non-null  float64
 6   title_id      219375 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 11.7+ MB
movies.csv : None

## Create an updated title_id_key.csv

I can then use this title_key_updated DataFrame to merge with other datasets, ensuring that only the rows with matching title_ids are included in the analysis. By doing this, I'll be focusing on the movies that are associated with directors and actors who have at least two movies, aligning with the criteria I've established earlier.

In [35]:
# Create an updated title_id (title_key_updated.csv)
# Read the directors.csv and actors.csv files
directors_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/merged/directors.csv')
actors_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/merged/actors.csv')

# Apply the function to the title_ids column
directors_df['title_ids'] = directors_df['title_ids'].apply(convert_to_list)
actors_df['title_ids'] = actors_df['title_ids'].apply(convert_to_list)

# Explode the title_ids column
director_title_ids = directors_df.explode('title_ids')['title_ids'].drop_duplicates()
actor_title_ids = actors_df.explode('title_ids')['title_ids'].drop_duplicates()

# Combine the title_ids and remove duplicates
all_title_ids = pd.concat([director_title_ids, actor_title_ids]).drop_duplicates()

# Create a DataFrame for the title_id_key
title_id_key_df = pd.DataFrame({'title_id': all_title_ids})

# Read the title_key.csv file
title_key_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/title_key.csv')

# Convert the title_id column to string in both DataFrames
title_key_df['title_id'] = title_key_df['title_id'].astype(str)
title_id_key_df['title_id'] = title_id_key_df['title_id'].astype(str)

# Merge with title_id_key_df using an inner join on the title_id column
title_key_updated_df = pd.merge(title_key_df, title_id_key_df, on='title_id', how='inner')

# Save the updated DataFrame to a new CSV file
title_key_updated_df.to_csv('/Users/toniwork/Desktop/Capstone/title_key_updated.csv', index=False)

print("title_key_updated.csv saved successfully!")

title_key_updated.csv saved successfully!

In [38]:
# Print files info from folder to verify
folder_path = '/Users/toniwork/Desktop/Capstone'

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        
        # Read in the CSV file as a DataFrame
        df = pd.read_csv(file_path)
        print(file_name,':',df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111107 entries, 0 to 111106
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   title          111107 non-null  object
 1   release_date   111107 non-null  object
 2   release_year   111107 non-null  int64
 3   release_month  111107 non-null  int64
 4   release_day    111107 non-null  int64
 5   title_id       111107 non-null  int64
dtypes: int64(4), object(2)
memory usage: 5.1+ MB
title_key_updated.csv : None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215796 entries, 0 to 215795
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   title          215796 non-null  object
 1   release_date   215796 non-null  object
 2   release_year   215796 non-null  int64
 3   release_month  215796 non-null  int64
 4   release_day    215796 non-null  int64
 5   title_id       215796 non-null  int64
dtypes: int64(4), object(2)
memory usage: 9.9+ MB
title_key.csv : None

In [37]:
# Remove/check for duplicates in title_key files
folder_path = "/Users/toniwork/Desktop/Capstone"
file_pattern = ".csv" # Or any specific pattern you want to match
drop_duplicate_rows_and_report(folder_path, file_pattern)

File: title_key_updated.csv, Title_id duplicates: 0
File: title_key.csv, Title_id duplicates: 0

In [39]:
# Read the updated key file and update the genre title_ids removing any title_ids in the sets that are not in the title_key_updated.csv
title_id_key_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/title_key_updated.csv')

# Read the genres file
genres_file_path = '/Users/toniwork/Desktop/Capstone/merged/genres.csv'
genres_df = pd.read_csv(genres_file_path)

# Convert the title_ids in the key file to a set for faster lookup
title_id_key_set = set(title_id_key_df['title_id'].astype(str))

# Apply the function to the 'title_ids' column
genres_df['title_ids'] = genres_df['title_ids'].apply(lambda x: filter_title_ids(x, title_id_key_set))

# Save the updated DataFrame back to the CSV file
genres_df.to_csv(genres_file_path, index=False)
print("Genres file updated successfully!")

Genres file updated successfully!

In [40]:
# Compare title_key_updated to the files in folder step_2 dropping any rows that do not match on title_id 
title_id_key_df = pd.read_csv('/Users/toniwork/Desktop/Capstone/title_key_updated.csv')
path = '/Users/toniwork/Desktop/Capstone/step_2'

# Iterate through all the CSV files in the specified path
for filename in os.listdir(path):
    if filename.endswith('.csv'):
        file_path = os.path.join(path, filename)
        df = pd.read_csv(file_path)

        # Merge with title_id_key_df using an inner join on the title_id column
        # This will keep only the rows with matching title_ids
        updated_df = pd.merge(df, title_id_key_df, on='title_id', how='inner')

        # Save the updated DataFrame back to the CSV file
        updated_df.to_csv(file_path, index=False)
        print(f"{filename} updated successfully!")

movies_dataset.csv updated successfully!
metacritic-reviews.csv updated successfully!
letterboxd-reviews.csv updated successfully!
rotten_tomatoes_movie_reviews_concat2.csv updated successfully!
rotten_tomatoes_movie_reviews_concat3.csv updated successfully!
rotten_tomatoes_movie_reviews_concat1.csv updated successfully!
rotten_tomatoes_movies.csv updated successfully!
25k IMDb movie Dataset.csv updated successfully!
movies.csv updated successfully!

In [41]:
# Remove duplicates and get count for all updated files in step_2 folder
folder_path = "/Users/toniwork/Desktop/Capstone/step_2"
file_pattern = ".csv" # Or any specific pattern you want to match
drop_duplicate_rows_and_report(folder_path, file_pattern)

File: movies_dataset.csv, Title_id duplicates: 122
File: metacritic-reviews.csv, Title_id duplicates: 283
File: letterboxd-reviews.csv, Title_id duplicates: 2745
File: rotten_tomatoes_movie_reviews_concat2.csv, Title_id duplicates: 362514
File: rotten_tomatoes_movie_reviews_concat3.csv, Title_id duplicates: 326580
File: rotten_tomatoes_movie_reviews_concat1.csv, Title_id duplicates: 362742
File: rotten_tomatoes_movies.csv, Title_id duplicates: 10649
File: 25k IMDb movie Dataset.csv, Title_id duplicates: 485
File: movies.csv, Title_id duplicates: 60329

## Data File Split and Merge

### For each dataset split the files to prepare for complete dataset build:
Merge files on title_id using the title_key.csv as primary
- CSV file 1: Movie Data (create movie_data.csv)
    - title_key_id
    - title
    - release_year
    - release_month
    - release_day
    - release_date
    - <b>movies_dataset.csv</b> (merge on/with title_id)
        - domestic_box_office
        - international_box_office
        - worldwide_box_office
    - <b>rotten_tomatoes_movies.csv</b> (merge on/with title_id)
        - box_office
    - <b>movies.csv</b> (merge on/with title_id)
        - budget
        - revenue
        
- CSV file 2: Ratings and Reviews (create movie_ratings_reviews.csv)
    - title_key_id
    - title
    - <b>metacritic-reviews.csv</b> (merge on/with title_id)
        - mpaa_rating
        - summary
        - user_rating
    - <b>rotten_tomatoes_movies.csv</b> (merge on/with title_id)
        - audience_score
        - tomato_meter
    - <b>letterboxd-reviews.csv</b> (merge on/with title_id)
        - review
        - review_date
        - comment_count
        - like_count
    - <b>rotten_tomatoes_movie_reviews_concat1-3.csv</b> (merge on/with title_id)
        - rt_review_text
        - rt_score_sentiment
        - rt_is_top_critic
        - rt_original_score
        - rt_creation_date
    - <b>25k IMDb movie Dataset.csv</b> (merge on/with title_id)
        - rating
        - user_rating
    - <b>movies.csv</b> (merge on/with title_id)
        - vote_average
        - vote_count
        - popularity

In [ ]:
# Combine and merge box_office and domestic_box_office columns 
main_file = '/Users/toniwork/Desktop/Capstone/title_key_updated.csv'
output_file = '/Users/toniwork/Desktop/Capstone/merged/movie_data.csv'
combine_columns_mapping = {
    '/Users/toniwork/Desktop/Capstone/step_2/movies_dataset.csv': ['domestic_box_office'],
    '/Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movies.csv': ['box_office']
}
rename_combine_column = 'box_office_total'

merge_and_combine(main_file, combine_columns_mapping, rename_combine_column, output_file)

In [43]:
# Remove/check for duplicates in new movie_data.csv 
folder_path = "/Users/toniwork/Desktop/Capstone/merged"
file_pattern = "movie_data.csv" 
drop_duplicate_rows_and_report(folder_path, file_pattern)

File: movie_data.csv, Title_id duplicates: 128

In [44]:
# Remove remaining duplicates from movie_data.csv
df = pd.read_csv('/Users/toniwork/Desktop/Capstone/merged/movie_data.csv')

df = df.sort_values(by=['title_id', 'box_office_total'], ascending=[True, False])

# Drop duplicates based on a specific column, keeping the first occurrence
df = df.drop_duplicates(subset='title_id', keep='first')

# Write the DataFrame back to a CSV file
output_file_path = '/Users/toniwork/Desktop/Capstone/merged/movie_data.csv'
df.to_csv(output_file_path, index=False)

In [54]:
# Print files info from folder to verify
movies_dataset = '/Users/toniwork/Desktop/Capstone/step_2/movies_dataset.csv'
tomato_movies = '/Users/toniwork/Desktop/Capstone/step_2/movies.csv'

df1 = pd.read_csv(movies_dataset)
df2 = pd.read_csv(tomato_movies)

print(df1.info(), df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5633 entries, 0 to 5632
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   international_box_office  3881 non-null   float64
 1   worldwide_box_office      3881 non-null   float64
 2   title_id                  5633 non-null   int64
 3   release_date              5633 non-null   object
 4   release_year              5633 non-null   int64
 5   release_month             5633 non-null   int64
 6   release_day               5633 non-null   int64
dtypes: float64(2), int64(4), object(1)
memory usage: 308.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139301 entries, 0 to 139300
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   title_x        139301 non-null  object
 1   popularity     139301 non-null  float64
 2   budget         139301 non-null  float64
 3   revenue        139301 non-null  float64
 4   vote_average   139301 non-null  float64
 5   vote_count     139301 non-null  float64
 6   title_id       139301 non-null  int64
 7   title_y        139301 non-null  object
 8   release_date   139301 non-null  object
 9   release_year   139301 non-null  int64
 10  release_month  139301 non-null  int64
 11  release_day    139301 non-null  int64
dtypes: float64(5), int64(4), object(3)
memory usage: 12.8+ MB
None None

In [47]:
# Drop columns using drop_columns_by_keyword_or_name function
folder_path = '/Users/toniwork/Desktop/Capstone/step_2'

drop_columns_by_keyword_or_name(folder_path, column_names=['title_x', 'title_y', 'domestic_box_office'], file_name='movies_dataset.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['title_x', 'title_y', 'box_office'], file_name='rotten_tomatoes_movies.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['title_x', 'title_y'], file_name='movies.csv')

movies_dataset.csv updated successfully!
rotten_tomatoes_movies.csv updated successfully!

In [48]:
def drop_specific_rows(file_path, output_path):
    # Read in the CSV file as a DataFrame
    df = pd.read_csv(file_path, low_memory=False)

    # Define a condition to filter rows where both specified columns are NA or zero
    condition = ((df['international_box_office'].isna() | (df['international_box_office'] == 0)) &
                 (df['worldwide_box_office'].isna() | (df['worldwide_box_office'] == 0)))

    # Drop rows that meet the condition
    df.drop(df[condition].index, inplace=True)

    # Save the DataFrame back to the file
    df.to_csv(output_path, index=False)

# File path to process
file_path = '/Users/toniwork/Desktop/Capstone/step_2/movies_dataset.csv'
output_path = '/Users/toniwork/Desktop/Capstone/step_2/movies_dataset_revenue.csv'
drop_specific_rows(file_path, output_path)

In [49]:
def drop_specific_rows(file_path, output_path):
    # Read in the CSV file as a DataFrame
    df = pd.read_csv(file_path, low_memory=False)

    # Define a condition to filter rows where both specified columns are NA or zero
    condition = ((df['budget'].isna() | (df['budget'] == 0)) &
                 (df['revenue'].isna() | (df['revenue'] == 0)))

    # Drop rows that meet the condition
    df.drop(df[condition].index, inplace=True)

    # Save the DataFrame back to the file
    df.to_csv(output_path, index=False)

# File path to process
file_path = '/Users/toniwork/Desktop/Capstone/step_2/movies.csv'
output_path = '/Users/toniwork/Desktop/Capstone/step_2/movies_revenue.csv'
drop_specific_rows(file_path, output_path)

In [61]:
def add_columns(target_file, columns_to_add):
    target_df = pd.read_csv(target_file)

    for file_path, columns in columns_to_add.items():
        input_df = pd.read_csv(file_path, usecols=['title_id'] + columns)
        
        # Merge the data
        target_df = pd.merge(target_df, input_df, on='title_id', how='left')

    target_df.to_csv(target_file, index=False)

In [62]:
columns_to_add = {
    '/Users/toniwork/Desktop/Capstone/title_key_updated.csv': ['title', 'release_date', 'release_year', 'release_month', 'release_day'],
    '/Users/toniwork/Desktop/Capstone/step_2/movies_dataset_revenue.csv': ['international_box_office', 'worldwide_box_office'],
    '/Users/toniwork/Desktop/Capstone/step_2/movies_revenue.csv': ['budget', 'revenue']
}

target_file = '/Users/toniwork/Desktop/Capstone/merged/movie_data.csv'
add_columns(target_file, columns_to_add)

In [63]:
# Remove/check for duplicates in new movie_data.csv 
folder_path = "/Users/toniwork/Desktop/Capstone/merged"
file_pattern = "movie_data.csv" 
drop_duplicate_rows_and_report(folder_path, file_pattern)

File: movie_data.csv, Title_id duplicates: 638

In [55]:
# Remove remaining duplicates from movie_data.csv
df = pd.read_csv('/Users/toniwork/Desktop/Capstone/merged/movie_data.csv')

df = df.sort_values(by=['title_id', 'budget', 'revenue', 'box_office_total'], ascending=[True, False, False, False])

# Drop duplicates based on a specific column, keeping the first occurrence
df = df.drop_duplicates(subset='title_id', keep='first')

# Write the DataFrame back to a CSV file
output_file_path = '/Users/toniwork/Desktop/Capstone/merged/movie_data.csv'
df.to_csv(output_file_path, index=False)

In [66]:
# Print files info from folder to verify
movie_data = '/Users/toniwork/Desktop/Capstone/merged/movie_data.csv'

df1 = pd.read_csv(movie_data)

print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5675 entries, 0 to 5674
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   title_id                    5675 non-null   int64
 1   box_office_total            5675 non-null   object
 2   title_x                     5675 non-null   object
 3   international_box_office_x  3993 non-null   float64
 4   worldwide_box_office_x      3993 non-null   float64
 5   budget_x                    4032 non-null   float64
 6   revenue_x                   4032 non-null   float64
 7   release_date_y              5675 non-null   object
 8   release_year_y              5675 non-null   int64
 9   release_month_y             5675 non-null   int64
 10  release_day_y               5675 non-null   int64
dtypes: float64(4), int64(4), object(3)
memory usage: 487.8+ KB
None

In [65]:
# Drop columns using drop_columns_by_keyword_or_name function
folder_path = '/Users/toniwork/Desktop/Capstone/merged'

drop_columns_by_keyword_or_name(folder_path, column_names=['title_y', 'domestic_box_office', 'release_date_x', 'release_year_x', 'release_month_x', 'release_day_x', 'international_box_office_y', 'worldwide_box_office_y', 'budget_y', 'revenue_y'], file_name='movie_data.csv')

movie_data.csv updated successfully!

In [58]:
def print_duplicates_and_nulls(df, duplicate_column):
    # Identify duplicates in the specified column
    duplicates = df.duplicated(subset=duplicate_column, keep=False)
    duplicate_df = df[duplicates]

    # Print the number of duplicates
    print(f"Number of duplicates in {duplicate_column}: {len(duplicate_df)}")

    # Check for null or zero values in all columns
    for column in duplicate_df.columns:
        null_count = duplicate_df[column].isnull().sum()
        zero_count = (duplicate_df[column] == 0).sum()
        print(f"Number of null values in {column} among duplicates: {null_count}")
        print(f"Number of zero values in {column} among duplicates: {zero_count}")

In [59]:
# Read the CSV file as a DataFrame
file_path = '/Users/toniwork/Desktop/Capstone/merged/movie_data.csv'
df = pd.read_csv(file_path)

# Call the function with the DataFrame and the column to check for duplicates
print_duplicates_and_nulls(df, duplicate_column='title_id')

Number of duplicates in title_id: 0
Number of null values in title_id among duplicates: 0
Number of zero values in title_id among duplicates: 0
Number of null values in box_office_total among duplicates: 0
Number of zero values in box_office_total among duplicates: 0
Number of null values in title among duplicates: 0
Number of zero values in title among duplicates: 0
Number of null values in release_date among duplicates: 0
Number of zero values in release_date among duplicates: 0
Number of null values in release_year among duplicates: 0
Number of zero values in release_year among duplicates: 0
Number of null values in release_month among duplicates: 0
Number of zero values in release_month among duplicates: 0
Number of null values in release_day among duplicates: 0
Number of zero values in release_day among duplicates: 0
Number of null values in international_box_office among duplicates: 0
Number of zero values in international_box_office among duplicates: 0
Number of null values in worldwide_box_office among duplicates: 0
Number of zero values in worldwide_box_office among duplicates: 0
Number of null values in budget among duplicates: 0
Number of zero values in budget among duplicates: 0
Number of null values in revenue among duplicates: 0
Number of zero values in revenue among duplicates: 0

In [70]:
# Print files info from folder to verify
df1 = pd.read_csv('/Users/toniwork/Desktop/Capstone/step_2/metacritic-reviews.csv')
df2 = pd.read_csv('/Users/toniwork/Desktop/Capstone/step_2/letterboxd-reviews.csv')
df3 = pd.read_csv('/Users/toniwork/Desktop/Capstone/step_2/movies.csv')
df4 = pd.read_csv('/Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv')
df5 = pd.read_csv('/Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movies.csv')
df6 = pd.read_csv('/Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movie_reviews_concat1.csv')
df7 = pd.read_csv('/Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movie_reviews_concat2.csv')
df8 = pd.read_csv('/Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movie_reviews_concat3.csv')

print(df1.info(), df2.info(), df3.info(), df4.info(), df5.info(), df6.info(), df7.info(), df8.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7648 entries, 0 to 7647
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   mpaa_rating  7190 non-null   object
 1   summary      7648 non-null   object
 2   user_rating  6519 non-null   float64
 3   title_id     7648 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 239.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3068 entries, 0 to 3067
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   review         3068 non-null   object
 1   review_date    2915 non-null   object
 2   comment_count  2851 non-null   float64
 3   like_count     2231 non-null   float64
 4   title_id       3068 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 120.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139301 entries, 0 to 139300
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   popularity    139301 non-null  float64
 1   vote_average  139301 non-null  float64
 2   vote_count    139301 non-null  float64
 3   title_id      139301 non-null  int64
dtypes: float64(3), int64(1)
memory usage: 4.3 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10216 entries, 0 to 10215
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rating       9955 non-null   float64
 1   user_rating  2354 non-null   float64
 2   title_id     10216 non-null  int64
dtypes: float64(2), int64(1)
memory usage: 239.6 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49491 entries, 0 to 49490
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   audience_score  34650 non-null  float64
 1   tomato_meter    20189 non-null  float64
 2   title_id        49491 non-null  int64
dtypes: float64(2), int64(1)
memory usage: 1.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364593 entries, 0 to 364592
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   rt_review_text      364593 non-null  object
 1   rt_score_sentiment  364593 non-null  object
 2   rt_is_top_critic    364593 non-null  bool
 3   rt_original_score   256856 non-null  object
 4   rt_creation_date    364593 non-null  object
 5   title_id            364593 non-null  int64
dtypes: bool(1), int64(1), object(4)
memory usage: 14.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364398 entries, 0 to 364397
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   rt_review_text      364398 non-null  object
 1   rt_score_sentiment  364398 non-null  object
 2   rt_is_top_critic    364398 non-null  bool
 3   rt_original_score   255321 non-null  object
 4   rt_creation_date    364398 non-null  object
 5   title_id            364398 non-null  int64
dtypes: bool(1), int64(1), object(4)
memory usage: 14.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328348 entries, 0 to 328347
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   rt_review_text      328348 non-null  object
 1   rt_score_sentiment  328348 non-null  object
 2   rt_is_top_critic    328348 non-null  bool
 3   rt_original_score   230766 non-null  object
 4   rt_creation_date    328348 non-null  object
 5   title_id            328348 non-null  int64
dtypes: bool(1), int64(1), object(4)
memory usage: 12.8+ MB
None None None None None None None None

In [69]:
# Drop columns using drop_columns_by_keyword_or_name function
folder_path = '/Users/toniwork/Desktop/Capstone/step_2'

drop_columns_by_keyword_or_name(folder_path, column_names=['title_y', 'title_x', 'release_date', 'release_year', 'release_month', 'release_day'], file_name='metacritic-reviews.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['title_y', 'title_x', 'release_date', 'release_year', 'release_month', 'release_day'], file_name='letterboxd-reviews.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['title_y', 'title_x', 'release_date', 'release_year', 'release_month', 'release_day', 'budget', 'revenue'], file_name='movies.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['title', 'movie_title', 'release_date', 'release_year', 'release_month', 'release_day'], file_name='25k IMDb movie Dataset.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['release_date', 'release_year', 'release_month', 'release_day'], file_name='rotten_tomatoes_movies.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['title', 'release_date', 'release_year', 'release_month', 'release_day'], file_name='rotten_tomatoes_movie_reviews_concat1.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['title', 'release_date', 'release_year', 'release_month', 'release_day'], file_name='rotten_tomatoes_movie_reviews_concat2.csv')
drop_columns_by_keyword_or_name(folder_path, column_names=['title', 'release_date', 'release_year', 'release_month', 'release_day'], file_name='rotten_tomatoes_movie_reviews_concat3.csv')

metacritic-reviews.csv updated successfully!
letterboxd-reviews.csv updated successfully!
movies.csv updated successfully!
25k IMDb movie Dataset.csv updated successfully!
rotten_tomatoes_movies.csv updated successfully!
rotten_tomatoes_movie_reviews_concat1.csv updated successfully!
rotten_tomatoes_movie_reviews_concat2.csv updated successfully!
rotten_tomatoes_movie_reviews_concat3.csv updated successfully!

In [71]:
# Read the CSV files
df1 = pd.read_csv('/Users/toniwork/Desktop/Capstone/step_2/metacritic-reviews.csv')
df2 = pd.read_csv('/Users/toniwork/Desktop/Capstone/step_2/letterboxd-reviews.csv')
df3 = pd.read_csv('/Users/toniwork/Desktop/Capstone/step_2/movies.csv')
df4 = pd.read_csv('/Users/toniwork/Desktop/Capstone/step_2/25k IMDb movie Dataset.csv')
df5 = pd.read_csv('/Users/toniwork/Desktop/Capstone/step_2/rotten_tomatoes_movies.csv')

# Merge the DataFrames on the common title_id
merged_df = df1.merge(df2, on='title_id', how='inner')
merged_df = merged_df.merge(df3, on='title_id', how='inner')
merged_df = merged_df.merge(df4, on='title_id', how='inner')
merged_df = merged_df.merge(df5, on='title_id', how='inner')

# Save the merged DataFrame to a new CSV file
merged_df.to_csv('/Users/toniwork/Desktop/Capstone/merged/reviews_ratings.csv', index=False)

print("Files merged successfully!")

Files merged successfully!